[2016-06-11 11:57] mxstbr commented on #526
No worries :+1:

[2016-06-11 12:03] jurekbarth commented on #494
@nkrambo should be fixed now in #529

[2016-06-11 14:37] jupitercow opened #531 "Why not use providePlugins to add React in Webpack?"
Just curious. It seems like we might as well streamline the modules and make React available to all templates and not have to have it in the import block. I mean the generators add it automatically, so it isn't a big deal... Mostly I figure there was a decision against it, because this thing is so well thought out. So curious if there was a reason.

[code]

I love this boilerplate so far. Thanks!

[2016-06-11 14:41] mxstbr commented on #494
Awesome, closing! THanks @jurekbarth!

[2016-06-11 14:41] #494 closed

[2016-06-11 15:03] oyeanuj commented on #527
$0.02: While I think that it might be adding complexity for a simple level app, it really does help see how bigger, complex apps can use this boilerplate seeing things like `react-router-redux` or `redux-router` being integrated.

One of the things I've liked about this boilerplate is recipes or documentation to remove/add integrations. It would be great to be able to do that in this case (or even

[2016-06-11 15:42] timothyallan commented on #453
@kunal-mandalia Got the answer from @mxstbr regarding the Selectors not working. You need to add a double parenthesis at the end, before you pass in the state!

Then you don't need to query the State directly and can use the Selector in Utils.js

[code]

[2016-06-11 18:29] tzarger commented on #174
When is v4.0 planned to release? I am also interested in the Universal side of this awesome boilerplate.

[2016-06-11 18:32] malexanders opened #534 "Error when generating a new ES6 class component"
Not sure how to trouble shoot this error. The tricky thing is, the file in which the error is contained, never actually appears in the file tree after the error is thrown. So, I don't know how to go in and fix the error.  A stateless component is generated with no problems. Please see error below

<img width="791" alt="screen shot 2016-06-11 at 2 30 13 pm" src="https://cloud.githubusercontent.com/

[2016-06-11 19:13] mxstbr commented on #174
No ETA, since we all work on it in our free time it'll be done when somebody gets around to do it! :+1:

[2016-06-11 19:23] steida commented on #174
"Server side rendering is really trivial, but I will not push my stuff here." Some guy on internets :-D

[2016-06-11 23:17] jurekbarth commented on #534
The issue occurs because of the triple curly braces i think. I changed it yesterday but you could fix it by add whitespace like this `...camelCase name }} }` here: https://github.com/mxstbr/react-boilerplate/blob/master/internals/generators/component/es6.js.hbs#L17 or use the latest version :+1:

[2016-06-12 01:40] suhaotian opened #535 "How to import a single variables file ?"
It's useful for style, but I didn't seem support in this boilerplate.

[2016-06-12 02:10] nareshbhatia commented on #27
Sorry for jumping in late, but as I am starting to understand react-boilerplate, I wanted to suggest an alternate approach to application structure that might be more intuitive.

This is what we currently have: all *container* components under `containers` and all *presentational* (or *unconnected*) components under `components`. This is widely known as "folder-by-type" structure. Unfortunately it

[2016-06-12 04:34] oyeanuj commented on #27
FWIW, I have a structure similar to one mentioned by @nareshbhatia except for one change - instead of having a Shared folder, I have the shared components grouped by type of functionality provided by those components, i.e. Buttons, Forms, Cards etc. Currently using it on a medium-large scale application and has scaled well and made my life easier.

[2016-06-12 06:15] #534 closed

[2016-06-12 06:16] mxstbr commented on #535
I'm not sure I understand the question here, would you mind explaining what a "single variables file" is in this case? Like constants?

[2016-06-12 11:27] yogitaAP opened #536 "Issue while running npm start"
vagrant@precise64:/vagrant/react-boilerplate$ sudo npm start

sh: 1: cross-env: not found

Gives this error after successful installation of dependencies. Node version is 6.2.1 and npm is 3.9.5.

[2016-06-12 11:28] mxstbr commented on #536
`$ npm install --save-dev cross-env` will fix this. Something is wrong with our dependencies, sorry about that, will look into it!

[2016-06-12 11:28] #536 closed

[2016-06-12 11:31] yogitaAP commented on #536
Running the above command throws this -

EPROTO: protocol error, symlink '../which/bin/which' -> '/vagrant/react-boilerplate/node_modules/.bin/which'

Do I need to clean up before doing this and start from scratch ?

[2016-06-12 11:33] mxstbr commented on #536
That seems like a permissions issue from your end…

[2016-06-12 14:08] nareshbhatia commented on #27
Good to know, @oyeanuj. I have been googling for articles on application structure best practices. Here's two that I found to be very good:

1. [Rules For Structuring (Redux) Applications](http://jaysoo.ca/2016/02/28/organizing-redux-application/) by Jack Hsu
2. [Angular2 Style Guide](https://angular.io/docs/ts/latest/guide/style-guide.html) - This one is specific to Angular 2, but it focuses on t

[2016-06-12 14:44] yogitaAP commented on #536
Do I need to run npm install --save-dev cross-env  after npm run setup or instead of npm run setup. I checked the issue, it's an issue with the sym links in virtual machines and use of flag --no-bin-links solves that. I did all that, the dependency tree was formed but still cross-env:not found error is not resolved

[2016-06-12 14:45] suhaotian commented on #535
👍 😄  Thank you for your support to!
For example, I have a variables file **colors.css**:
[code]
It's useful for style, But I don't know how to use it in other's file, 😢

[2016-06-12 14:46] yogitaAP commented on #536
Attaching the screenshot here
<img width="819" alt="screen shot 2016-06-12 at 8 15 09 pm" src="https://cloud.githubusercontent.com/assets/9781726/15991772/76a1b5ee-30da-11e6-93d0-022dfbfc341b.png">

[2016-06-12 19:58] rog commented on #536
try `rm -rf node_modules`, then `npm install`, then `npm install --save-dev cross-env` and last: `npm run`

[2016-06-12 22:45] rcholic opened #537 "How to run a saga for a container that does not use react-router ?"
I am a bit stuck in plugging in a `saga` that was required for a container component that does *NOT* need react-router. It seems to me that the saga for a container that uses react-router is taken care of automatically in this react-boilerplate code, because I don't need to do anything other than run the built-in `generator` for a router.

I find the following code in `store.js`:
[code]
and I trie

[2016-06-12 23:58] watson commented on #524
I'm pretty sure `res.sendFile` does not employ any caching. It's using the "send" module internally [which specifically states](https://github.com/pillarjs/send#caching) that it doesn't perform caching. The `res.sendFile` function it self [doesn't seem to have any caching either](https://github.com/expressjs/express/blob/f3d99a4fdbe1531ea609e92c4d4ae6c269d78c7a/lib/response.js#L385-L420).

It is u

[2016-06-13 00:22] jmcclell commented on #376
@datapimp Do you happen to have the code required to add SSR available, even if it's too big for a PR? I'm heading down that rabbit hole now and seeing a lot needs to be changed, but I'm not an expert on these tools yet so seeing a more experienced implementation would be really great.

[2016-06-13 07:16] mxstbr commented on #537
You were close, but **changing the `store.runSaga` reference will break all other sagas**, since they call `store.runSaga` to point to `sagaMiddleware.run`.

Can you try adding that line above the assignment? That _should_ work!

[code]

[2016-06-13 07:28] harijoe commented on #367
This thread has not been active for 3 weeks now but I think the discussion should go on. Code style is very important for consistency within a developer team.

Why not integrate something as [the proposition for a standard js style](https://github.com/feross/standard) into the project ? It would certainly require some fixing but could be worth it.

[2016-06-13 07:34] mxstbr commented on #367
This has nothing to do with code style, it's about styleguides like http://ux.mulesoft.com, https://marvelapp.com/styleguide/,…

While it's not quite a styleguide, we're hard at work making [Carte Blanche](https://github.com/carteb/carte-blanche) compatible with this boilerplate (almost there!), so I'll close this for now.

[2016-06-13 07:34] #367 closed

[2016-06-13 08:01] suhaotian commented on #535
@mxstbr Could you give me some advice?
 thank you very much :+1:

[2016-06-13 08:02] Augustin82 commented on #537
I came here this morning to ask the same question. Last week I've been struggling a bit with the following structure:
- I have a "routed" HomePage that includes several containers
- each container will independently run their own sagas (like, one container is an Alerts list that will handle the display, closing, etc., of alerts while the other container is an Items list that will also handle displ

[2016-06-13 08:16] mxstbr commented on #535
You can use the `postcss-import` plugin, and then do `@import './variables.css'`!

[2016-06-13 08:50] suhaotian commented on #535
@mxstbr thank you :+1:

[2016-06-13 08:50] #535 closed

[2016-06-13 11:57] mxstbr commented on #537
Yeah, I think having that doc sounds good – just need somebody to get around to actually writing it. :wink:

Since the question seems to be answered, I'll close this issue for now – feel free to continue discussing though!

[2016-06-13 12:03] mxstbr commented on #531
With tree shaking, you might be getting rid of parts of React that you're not using! (especially if you're using imports like `import { Component, createComponent } from 'react'`) Admittedly, this isn't yet really happening due to the way React is built currently, but the team is aware of it and working towards a better way of doing things afaik.

You've also tightly coupled your components to you

[2016-06-13 12:03] #531 closed

[2016-06-13 12:04] mxstbr commented on #527
Yeah, I think for `react-router-redux` it'd make a lot of sense to add documentation how to add it (again, esp. with ImmutableJS) while also removing it by default!

[2016-06-13 12:06] mxstbr commented on #524
Thanks for chiming in @watson, glad to hear it's not a big performance impact!

[2016-06-13 12:07] mxstbr commented on #517
Possibly, what kind of errors/bugs are you getting?

[2016-06-13 12:08] mxstbr commented on #498
Yeah that's the way `npm` works…

AFAIK there's no way to change this, even though I would greatly prefer it to work the way you suggest. I'll close this issue for now, but feel free to ping me if you know how to fix it!

Cheers!

[2016-06-13 12:08] #498 closed

[2016-06-13 12:09] mxstbr commented on #492
Yeah, serverside rendering is basically going to fix all of these issues hopefully :grin: just need to get it in…

See #174 for the discussion about this feature, feel free to chime in there!

[2016-06-13 12:09] #492 closed

[2016-06-13 12:10] mxstbr commented on #486
The above code works for me…

Have you restarted the express server?

[2016-06-13 12:10] #486 closed

[2016-06-13 12:10] mxstbr commented on #462
Fixed by @rcholic in #505! :tada: Thanks so much!

[2016-06-13 12:10] #462 closed

[2016-06-13 12:11] Stalso commented on #486
Yes. I am using windows and Node v6

[2016-06-13 12:11] mxstbr commented on #450
I honestly have no idea how to fix this, and I also don't much experience with Heroku, so I won't really be of help here. Has anybody fixed this issue yet?

[2016-06-13 12:12] mxstbr commented on #331
Done by the great @ralomucho in #509! Thanks!! :tada:

[2016-06-13 12:12] #331 closed

[2016-06-13 12:14] mxstbr commented on #486
Are you looking into the browser console or the terminal console?

[2016-06-13 12:14] Stalso commented on #486
I am looking in browser console

[2016-06-13 12:25] mxstbr commented on #486
Ah yeah, express.js runs on the command line, so those logs are only visible in the terminal!

[2016-06-13 12:26] Stalso commented on #486
Oh, sorry. I am looking in TERMINAL console.

[2016-06-13 12:35] mxstbr commented on #486
Are you visiting the page in the browser? Those logs will only be visible if you actually open the page in the browser.

[2016-06-13 12:38] Stalso commented on #486
Of course I do.

[2016-06-13 13:12] mxstbr commented on #486
I'm sorry, I have no idea then, this is definitely working for me 😢

[2016-06-13 13:35] Stalso commented on #486
Ok. It is not a big trouble.

[2016-06-13 13:42] jupitercow commented on #531
Thanks. Shareable components was exactly what I was looking for. A very good reason not to do it.

[2016-06-13 13:50] andykenward commented on #517
It is not so much an error. Just doesnt seem to import the `jsnext:main` version of a npm package if it is defined in their `package.json`. I deleted the `dist` and `lib` folders in `redux` package folder to see if it was actually using the `es` folder. But it errors out looking for `lib` folder of the package.

`Module not found: Error: Can't resolve 'redux' in`

`ERROR in ./~/react-redux/lib/uti

[2016-06-13 15:53] mxstbr commented on #517
Hmm, interesting, to be honest I have no idea, neither if it affects tree shaking nor how to fix it… As far as I can tell `packageMains` would be the way to do it?

Any ideas?

[2016-06-13 15:53] mxstbr commented on #486
No issue is ever stupid. Does it still work?

[2016-06-13 17:56] eddiewang opened #540 "Errors building app in Windows"
Getting errors trying to run the application. Any Windows developers know how to debug this issue?

[code]

[2016-06-13 17:58] eddiewang commented on #540
and when performing an npm install directly...
[code]

[2016-06-13 18:52] gihrig commented on #441
I particularly like the the [redux-freeze](https://github.com/buunguyen/redux-freeze) approach for its dev-only footprint and avoidance of [immutable's](https://github.com/facebook/immutable-js) special syntax.

[2016-06-13 19:59] tomascharad opened #541 "Very hard to debug"
Hi,

I'm finding extremely difficult to debug the boilerplate.
When I set breakpoints with chrome's inspector it never stops.
Then only way to debug is to set a `debugger` statement or to `console.log`.
Also, the stacktrace is pretty weird.
Could you please help me? I would like to have an easier debugging experience.
Many thanks!

[2016-06-13 20:23] mxstbr commented on #541
Where in the code are you setting those breakpoints?

[2016-06-13 20:44] ipselon commented on #527
I vote for removing `react-router-redux` - I got stuck in my integration the boilerplate with `structor` because I have to add `selectLocationState` option into history initialization. And I would prefer to avoid such a "coupling point" :-).

[2016-06-13 21:20] tomascharad commented on #541
On components for example.
May it be related to sourceMaps?
Take a look at this stackTrace.

<pre style='color:#000000;background:#ffffff;'>utils<span style='color:#008c00; '>.</span>js?<span style='color:#008c00; '>1</span>f12:<span style='color:#008c00; '>188</span> uncaught at getMovementPassport
 ReferenceError: productGroupsInMovement is not defined
    at MovementPassport (eval at <span styl

[2016-06-13 21:30] mxstbr commented on #541
I'm pretty sure that's not something we can really change, that's mostly React just being the way it is I think…

[2016-06-13 23:58] kunal-mandalia opened #542 "Navbar with async actions"
Hi folks, I've got a navbar in `containers/App/index.js`, since it's used throughout the whole site I figured this was a good place to start. The navbar has a logout button triggering a LOGOUT action. The problem I'm having is running the async logout action, I added a `sagas.js` to `containers/App` with the appropriate code to hit my backend api and logout but it never executes. I can see that wi

[2016-06-14 00:50] kunal-mandalia commented on #542
Got this working by injecting the App sagas for each Page in `app/routes.js`:

[code]

[2016-06-14 00:50] #542 closed

[2016-06-14 00:59] kunal-mandalia commented on #453
@tsm91 well done for getting to the bottom of that!

One question for you, declaring user as you've done requires store to be accessible; did you define user within each function where it was required (or did you manage to only declare user once?), a copy of your code would be great:)

[2016-06-14 08:12] mxstbr commented on #510
Done by the great @Ndpnt in #518!

[2016-06-14 08:12] #510 closed

[2016-06-14 10:50] mxstbr commented on #319
Done by the amazing @datapimp in #495! :tada:

[2016-06-14 10:50] #319 closed

[2016-06-14 11:35] bcowgill opened #544 "setup does not work"
Following these instructions from the README
Quick start

Clone this repo using $ git clone --depth=1 https://github.com/mxstbr/react-boilerplate.git
Run $ npm run setup to install dependencies and clean the git repo.
At this point you can run $ npm start to see the example app at http://localhost:3000.
Run $ npm run clean to delete the example app.

I get an error:
git clone --depth=1 https://git

[2016-06-14 11:58] tsm91 commented on #453
@kunal-mandalia so this is how i done it:

1, you need a signup and a login form, use [redux-form](https://github.com/erikras/redux-form) for that
2, when the form is submitted you dispatch an action with the payload. its a bit tricky to connect redux-form async validation with sagas, [here is a useful comment how to do it](https://github.com/yelouafi/redux-saga/issues/161#issuecomment-191312502)

[2016-06-14 12:11] bcowgill commented on #544
Actually, looks like this was an issue with my local package cache.

[2016-06-14 12:11] #544 closed

[2016-06-14 12:35] bcowgill opened #545 "Running tests is too slow with karma"
It takes 23 seconds to npm run test on the project as initially checked out. I have found karma to be a very slow test runner and have switched to mocha-webpack+mock-browser so that tests can be run without a browser at all.

At the time my React karma/phantom or karma/chrome cycle was taking 60 seconds to run for a few hundred tests. After the change it took 6 seconds to run the whole thing. The

[2016-06-14 15:02] Augustin82 commented on #545
Would you mind detailing what you did? I'm very interested in that.

[2016-06-14 15:43] jupitercow commented on #535
I did this in the webpack config, because I did not want to import the variables for every css file in css modules.

This needed to be added to both:

1. `internals/webpack/webpack.dev.babel.js`
2. `internals/webpack/webpack.prod.babel.js`

At the top, I required my variables file:
[code]

Then I added them to the under features in the `cssnext` plugin within `postCssPlugins`:
[code]

So I only ad

[2016-06-14 15:54] mxstbr commented on #545
Feel free to submit a PR implementing this, would love to speed up the testing process! :+1:

[2016-06-14 15:56] brandondurham commented on #535
I too have a global settings file I didn’t want to have the import at the top of every CSS file, so I used [webpack-postcss-tools](https://github.com/aaronj1335/webpack-postcss-tools) and [postcss-custom-media](https://github.com/postcss/postcss-custom-media). This allows me to have a single settings file (written in CSS, not JS) that gets imported in the compilation process.

In my webpack files:

[2016-06-14 15:58] jupitercow commented on #535
Definitely seems ideal to have it written in css. I will have to look at using this in the future...

[2016-06-14 15:59] jupitercow commented on #535
Note that nesting is part of cssnext unless, `postcssNested()` is changing that behavior.

[2016-06-14 16:31] mxstbr commented on #491
Resolved in #495, thanks for notifying us @Ndpnt!

[2016-06-14 16:31] #491 closed

[2016-06-14 17:02] mmaedel commented on #540
hello eddie
seems like dev_env (Make sure you have the latest version of node.js and npm installed.) problems..

It took me quite a while to have stable node running on windows...

follow: https://github.com/Microsoft/nodejs-guidelines

btw. i use the chakracore

all the best

[2016-06-14 17:07] SimonSelg opened #547 "Question: Code splitting in combination with containers that don't have their own route"
Hey,

I have a quick question on how we are meant to deal with containers that have their own reducers/sagas, but don't have their own route.

Since reducers and sagas are loading async in routes `injectReducer` / `injectSagas` function, reducers and sagas of containers that don't have their own routes, but are used in components that do have their own routes don't get injected by default.

The bo

[2016-06-14 17:29] itamark commented on #373
Finally@ Thanks @mxstbr .
Thanks for fixing it in the new version, btw.

[2016-06-14 18:06] mmaedel commented on #540
and this of course: https://github.com/mxstbr/react-boilerplate/blob/master/docs/general/faq.md

[2016-06-14 19:38] mattcreager opened #548 "Routing example doesn't work"
Maybe I'm doing something wrong here, but when I run your example I notice two things: Navigating to `/features` results in `not found` (the express response), and while clicking the features button takes you to the features page, navigating to `/#/features` doesn't take you anywhere.

[2016-06-14 20:00] biznickman opened #549 "Build does not work due to invalid paths"
Aside from adding `postcss-assets` and `postcss-inline-svg` I've made no changes to the default webpack files found with the react-boilerplate, however when I go to build, I can't load the files. The reason is that the paths being generated to files all start with a `/` rather than `./` or simply no slash at all resulting in path errors.

I can change the paths in the HTML but not in the javascrip

[2016-06-14 22:06] zanedev commented on #548
I'm seeing this behavior now after pulling in latest master changes to my project.  Not sure how to troubleshoot it.

[2016-06-14 22:27] mattcreager commented on #548
Ya, the arguments on [L35](https://github.com/mxstbr/react-boilerplate/blob/master/server/middlewares/frontendMiddleware.js#L35) of `frontendMiddleware.js` are just backwards (`file`, `err` => `err`, `file`)

[2016-06-14 22:32] zanedev commented on #548
Thanks @mattcreager that fixed it for me.  Strange the fs library chose the args to be in that order.  You want to submit a pull request or I can do it?

[2016-06-14 22:39] mattcreager commented on #548
@zanedev if you don't mind 🙏.

`fs` is a core module, and all of the core libraries are `err` firs :)

[2016-06-14 22:59] zanedev commented on #548
ah good to know!  okay will do now np

[2016-06-15 04:11] datapimp commented on #549
are you using this in electron? why the file urls?

you can change the `output.publicPath` option in your webpack config in the mean time if you need file urls to work.

to test builds locally I usually cd into the build dir and run `python -m SimpleHttpServer` which will open up a server on port 8000 for that folder

[2016-06-15 04:16] datapimp commented on #547
Personally I think it is safe to load reducers / sagas etc synchronously from the `app/reducer.js` unless there's a strong reason not to

[2016-06-15 05:19] jupitercow commented on #450
I have this same issue on my local when I try to get the boilerplate working in a subdirectory. I changed the `publicPath` in webpack base and that got most stuff working. Except for webfonts and appcache.

In my case, I have the app installed at: `http://example.com/wp-content/themes/build/` as a WordPress theme pulling in content using a Rest API. This works fairly well so far.

My publicPath is

[2016-06-15 06:57] #548 closed

[2016-06-15 07:18] biznickman commented on #549
@datapimp nope not in electron. I'm saying the URLs that show up in the index.html file. What would you change the `publicPath` option to? Running the app works but the build does not. The problem is it's appending a `/` to all the references which would be accurate if the site was in the root directory but it's not!

[2016-06-15 07:23] datapimp commented on #549
@biznickman currently publicPath is set to '/' inside of `internals/webpack/webpack.base.babel.js`

[code]
Setting it to an empty string will give you the behavior you're looking for

See: http://webpack.github.io/docs/configuration.html#output-publicpath for more information

[2016-06-15 07:23] #549 closed

[2016-06-15 07:24] biznickman commented on #549
@datapimp apparently changing it to './' made it work :) Good stuff! Now just to figure out how to make the links work without a server... Thanks!

[2016-06-15 07:34] datapimp commented on #549
@biznickman check out the api docs for the history module

https://github.com/ReactJSTraining/history/tree/master/docs#readme

also you can use the hashHistory option instead of the browserHistory we use by default here

this will give you the `#/path/to/whatever` style URL which may be an option for you if you don't plan on using a server

[2016-06-15 08:03] Augustin82 commented on #547
I'm interested in this issue, I believe it's similar to that one: https://github.com/mxstbr/react-boilerplate/issues/537

[2016-06-15 08:05] Augustin82 commented on #542
Any cleaner way of doing this, i.e. once and for all?

[2016-06-15 09:12] bcowgill commented on #545
I'd like to submit a PR but honestly won't have time soon, my home computer crashed so have a bit of restoring to do.

Having a look at my git log though:

package.json5 deltas:
"scripts": {
		"pretest": "npm run lint",
		"test": "mocha-webpack --webpack-config=config/webpack.config-test.js \
			--colors --growl \
			--require=source-map-support/register \
			--check-leaks --full-trace \
			'src/*

[2016-06-15 09:30] suhaotian commented on #535
@jupitercow @brandondurham Thank you !
The pain is import global variables in every file, but you solve the problem, thank you ~ :+1:

[2016-06-15 10:23] SimonSelg commented on #547
@datapimp: But then you'd loose the benefits of code splitting, at least for the reducers and sagas.

[2016-06-15 10:46] jupitercow opened #557 "Running in a subdirectory"
By default the boilerplate seems focused on running in the root directory of a site/application, even when you `build`. It appeared that I could _really_ easily change this for `build` using `output.publicPath` in webpack.base.babel.js. This is pretty amazing in how well it works, and everything started showing...

There were just two things I have found so far that are not quite working correctly

[2016-06-15 11:08] jupitercow commented on #557
For now, after revisiting [#443](https://github.com/mxstbr/react-boilerplate/issues/443), I found that I can put a full path into my `output.publicPath` for production. This is not ideal, but fixes the webfont issues similar to the dev setup.

Still very interested in digging deeper, and will after I get this up and running. Any insight is appreciated.

Appcache is still an issue, but I assume, fo

[2016-06-15 11:56] datapimp commented on #547
It depends on your reducer and saga code but my gut says not really, not in this case.  Unless you really don't want the reducer / saga code to make it to the client, the impact might only be very minor.

This is because your saga and reducer implementation code is going to very small, and very likely won't import or require any modules that aren't already being depended on somewhere else in your

[2016-06-15 16:49] justingreenberg commented on #547
there are very good reasons for using route definitions to create split points:
 - we have access to instantiated store when building routes (for inject hooks)
 - we can hook into react-router's lazy `getComponent` to delegate async chunk loading to the router

**webpack (_compiler_)** - creates a chunk and registers module in asset manifest
**webpack (_runtime_)** - fetches registered chunks usin

[2016-06-15 20:06] biznickman opened #561 "Heroku deployment is too slow"
The documentation outlines an incredibly basic version of deploying to heroku but this approach doesn't work for a variety of reasons:
1. Heroku ignores devDependencies in the package.json file.
2. Should you decide to save all packages into the primary dependencies group, the build process takes more than 60 seconds and Heroku kills it.

Trying to come up with a more elegant solution for deployme

[2016-06-15 21:50] joshhornby commented on #376
@datapimp I'd also like to see the SSR code as well :)

[2016-06-15 22:24] datapimp commented on #376
I'm working on a PR for it and should be done by Friday - if not I'll send a gist

[2016-06-16 03:06] datapimp commented on #547
@justingreenberg nice idea w/ the componentDidMount.  @SimonSelg if you need any help feel free to hit me up

[2016-06-16 03:06] #547 closed

[2016-06-16 09:07] alikhani opened #562 "Adding your own custom backend-api is in the wrong place."
Started with this boilerplate to try it out.
Just a note that I noticed that could confuse someone, when trying to add an api in the project. This is not the place to add an api because app is undefined. see: https://github.com/mxstbr/react-boilerplate/blob/master/server/index.js#L13

It needs to be in the frontendMiddleware or maybe middlewares directory needs a index.js file to structure differe

[2016-06-16 10:24] SimonSelg commented on #547
Thanks guys. The idea w/ componentDidMount is really nice!

[2016-06-16 12:33] nfort opened #563 "Rerun test when creating swop files by vim"
if using --watch and open file with vim (after open file vim create swop file in same directory)
for example .index.js.swp

Karma rerun test. How it disabled?

[2016-06-16 14:50] Marinolinderhof opened #564 "When using the Redux DevTools extension in chrome i get an error"
uncaught type error window.devtools.updatestore is not a function

![screen shot 2016-06-16 at 16 49 31](https://cloud.githubusercontent.com/assets/3657762/16121121/53230a36-33e2-11e6-8750-c34924b87e78.png)

It's a fresh git clone and then a npm start.

[2016-06-16 15:44] suhaotian commented on #564
Did you check the devtools extension version was  2.0.1?

[2016-06-16 15:47] suhaotian commented on #564
I think we need do this:
[code]
**or**

[code]

[2016-06-16 15:55] Marinolinderhof commented on #564
I do have devtools extension version 2.0.1.

i tried to debug it and your solution: ` window.devToolsExtension && window.devToolsExtension.updateStore && window.devToolsExtension.updateStore(store);`
woulld work stop a error message. I think something went wrong in the setup phase (didn't install a module or so?). After a reinstall i worked like a charm. Thanks for helping out though.

[2016-06-16 15:55] #564 closed

[2016-06-16 20:58] wski opened #565 "Documentation for applying multiple classes to a component."
It is hard to tell how to add multiple classes to a component, the standard method you'd expect `className={[styles.classOne, style.classTwo]}` includes the comma, instead of multiple classes.

I looked over https://github.com/mxstbr/react-boilerplate/blob/master/docs/css/css-modules.md but couldn't find anything. Is this currently possible to do with this boilerplate? If not what is the best prac

[2016-06-16 23:57] rcholic opened #567 "anyone using redux-form with this ?"
I am trying to integrate `redux-form` with this boilerplate, but so far, no luck getting it to work. I keep getting this error:
[code]

I follow this example [here](http://redux-form.com/5.2.5/#/examples/synchronous-validation?_k=i8u7d2) by creating a dumb component that contains the form, which is imported into a container.

Or is there any form plugin/module you guys recommend using with this bo

[2016-06-17 01:03] gihrig commented on #567
@rcholic Here's a pretty complete [example](https://react-redux.herokuapp.com/survey), with [container source](https://github.com/erikras/react-redux-universal-hot-example/blob/master/src/containers/Survey/Survey.js) and [component source](https://github.com/erikras/react-redux-universal-hot-example/tree/master/src/components/SurveyForm). The example shows `dirty`, `pristine`, `valid` and `invalid

[2016-06-17 01:34] mde17 opened #568 "add external js like d3.js"
how to add external js files

[2016-06-17 02:18] rcholic commented on #567
@gihrig thanks for your link to the example, but I was well aware of that example. I don't this boilerplate supports the decorator syntax as used in the example, so I wrote the following in replacing the decorator:

[code]

To export the dumb form component, I did the following:
[code]
or
[code]

Neither works in my case, and I keep getting the error as in the first post.

I make sure I have the f

[2016-06-17 02:53] #557 closed

[2016-06-17 03:17] jupitercow commented on #450
I haven't gotten to the bottom of this yet, but, in case it helps point someone else in a useful direction.

We are using this offline plugin library.
https://github.com/NekR/offline-plugin

It is configured in prod webpack config. You can add a publicPath variable in the settings. I know it has to be relative and _cannot_ be absolute, but I am not sure about much else.

[2016-06-17 04:05] mde17 commented on #568
just run npm install d3 --save

[2016-06-17 04:06] #568 closed

[2016-06-17 06:54] #565 closed

[2016-06-17 08:27] mde17 commented on #514
how about abstract layouts?

[2016-06-17 08:41] Stalso commented on #174
Hello. I am trying to implement server-side rendering in this boilerplate. But I am new in react and webpack (and in whole this node.js stuff) and can make many stupid mistakes.

I have decided to make webpack  build of server side and then run already bundled server like it is implemented [here](https://github.com/choonkending/react-webpack-node) . I think this is the most suitable approach to im

[2016-06-17 13:23] FezVrasta opened #569 "test bundler regex seems just wrong?"
http://regexr.com/3dl6s

I think I'm missing something here..

[2016-06-17 15:26] gihrig commented on #569
Is this more what you're looking for? http://regexr.com/3dl7n

Some related [discussion](http://stackoverflow.com/a/21448193/522756)

[2016-06-17 15:34] FezVrasta commented on #569
No well the problem is that this is the regex used by https://github.com/mxstbr/react-boilerplate/blob/master/internals/testing/test-bundler.js#L12 (I've just added the optional jsx).

Btw I just got my coverage reports to work with istanbul-instrumenter-loader, I guess I'll send a PR with this change.

[2016-06-17 16:25] igorbarbashin commented on #567
redux-form 5 doesn't work with immutableJS state out of the box.
So instead of `form: formReducer` you need something like this:
`form: (state = Immutable.fromJS({}), action) => Immutable.fromJS(formReducer(state.toJS(), action)),`

You'll also need to import immutable at the top of the file:
`import Immutable from 'immutable';`

And in you reduxForm decorator you need additional argument `getForm

[2016-06-17 18:04] tomascharad commented on #541
I had to change the devTools to eval... not sure why cheap method wasn't working correctly. Will update this when I have more background.

[2016-06-17 19:21] justingreenberg commented on #541
this behavior is expected, see https://github.com/mxstbr/react-boilerplate/pull/411

tldr; browser devtools require 1:1 line:col source mapping, obviously :)

[2016-06-17 20:30] #541 closed

[2016-06-18 01:55] andyhu commented on #174
What about https://github.com/kriasoft/react-starter-kit ? It seems to be so popular now

[2016-06-18 07:22] Stalso commented on #174
@andyhu they use isomorphic style loader.  If you use it,  you need to inject their function calls everywhere

[2016-06-18 09:49] philiplopez commented on #174
I haven't had a chance to work through using this myself, but I believe a universal solution for CSS Modules is https://github.com/css-modules/css-modules-require-hook/ - there is a [demo project](https://github.com/css-modules/css-modules-require-hook/tree/master/demo) as well. I believe this would avoid webpack-isomorphic-tools or universal-webpack for CSS at least (but not images, etc.).

There

[2016-06-18 11:05] andrewmclagan opened #570 "Fetching initial state on the server"
Im implementing a `storeMiddleware`  on the server. Its an express middleware, just to be clear.

This builds initial redux state by dispatching actions and so on. This is all working fine. Im stuck with how to inject the initial state data into the `index.html` file on the server. The problem is `index.html` is rendered with webpack and during production that step has already completed. I could j

[2016-06-18 11:38] suhaotian commented on #174
I think default is not.
Because [react-starter-kit](https://github.com/kriasoft/react-starter-kit) did it.
And the charm for this `react-boilerplate` that it is  just a pure front-end boilerplate.

[2016-06-18 13:19] swordsreversed commented on #562
I've just had this exact problem, my first step in using this boilerplate was to set up and api so i could serve some data, and I ran into it as well. Would be good to hear from the author what the thoughts behind the code comment was, and where placement of the api is appropriate.

[2016-06-18 13:43] hungryzi commented on #561
👍

@biznickman have you found any working way to deploy to Heroku?

[2016-06-18 18:59] tzarger commented on #570
@andrewmclagan Yes, interested. Will take a peek, although I am not sure I will come up with the answer as I have just started looking into this boilerplates since you mentioned it elsewhere.

[2016-06-18 21:56] biznickman commented on #561
@hungryzi Nope never got it to work on Heroku. Instead I built a Docker instance and put it up on Digital Ocean. I had to disable AppCache though as it was causing some issues. However it's now working. Considering putting up documentation and a sample Dockerfile for deployment.

[2016-06-18 22:59] SimonSelg commented on #562
Just had the same problem. Will submit a PR for it in a few minutes.

[2016-06-19 01:49] Siraris opened #574 "Cannot run setup"
Just cloned this repo, whenever I run npm run setup I get:

[code]

At this point, it also deletes most of the setup files, so I can't even run setup again.  Any ideas?

[2016-06-19 03:03] eddiewang commented on #574
try npm install first - I find that fixed alot of errors.

[2016-06-19 03:14] Siraris commented on #574
Figured it out - my NPM was out of date.  Might want to update the readme to indicate npm install npm -g is a good idea before running the script.

Might also want to check into the flow to prevent it from deleting vital files if it fails :)

[2016-06-19 03:14] #574 closed

[2016-06-19 15:45] swordsreversed opened #575 "Can't get basic generated saga to run"
For the life of me I can't figure out why this basic saga won't run:

[code]

constants.js
[code]

actions.js
[code]

The action is dispatched and the console.log fires in the action creator. The thisWorks triggers as expected. I took the quote marks off the name of the constant but that didn't do anything (i've seen examples with quotes and no quotes). The files were created using the generator s

[2016-06-19 19:23] shredding commented on #143
Sorry for reopening that, but I'm not really sure what to do where.

I have ` npm install --save precss postcss-scss` and tried to do the changes as done by @nareshbhatia and @mxstbr but still get parse errors on scss.

@nareshbhatia: Mind sharing your final webpack.dev.babel.js?

[2016-06-19 20:23] eddiewang commented on #562
thanks for this - helped me setup my api.

[2016-06-19 20:24] eddiewang opened #576 "mapDispatchToProps creating a Uncaught TypeError: __webpack_require__.i(...) is not a function"
Trying to isolate the reason for this error,
trying to dispatch an action which will then be hooked by a saga, but it's failing and logging this error when I try to call the function.

[2016-06-20 00:40] eddiewang commented on #576
fixed issue - not related to this boilerplate.

[2016-06-20 00:40] #576 closed

[2016-06-20 01:12] justingreenberg commented on #575
take has to reference imported constant... `yield take('TEST')` should be `yield take(TEST)`

[2016-06-20 01:29] jcfergus commented on #547
Hi, all - I'm new to the React world, and have managed to get some basic pieces working in ReactBoilerPlate, but am running into challenges with the exact issue that's covered here, and unfortunately while @justingreenberg 's answer looks pretty much like exactly what I need, I'm too n00b (or possibly just too dense) to take the last leap from the example above to understanding what needs to repla

[2016-06-20 01:30] swordsreversed commented on #575
Hi Justin, thanks for the reply.

As I said I did try without quotes originally. I added the quotes after reviewing the official docs:

[code]

from http://yelouafi.github.io/redux-saga/index.html

[2016-06-20 01:45] tengis opened #578 "Error during 'npm run build:dll'"
Hi there,

When trying to first run project this error occurred.

- node - 6.2.2
- npm - 3.9.4
- OS - EL Captain

Error:
`.../react-boilerplate/node_modules/babel-preset-es2015-webpack/index.js:38
    throw new Error('Cannot remove "babel-plugin-transform-es2015-modules-commonjs" from the plugin list.');`

I think this line returns wrong module
https://github.com/gajus/babel-preset-es2015-webpack/

[2016-06-20 02:03] justingreenberg commented on #575
so if you remove the quotes as i described, the code in your OP will work as expected...

try dispatching `doAction` from inside your component, eg..

[code]

passing a `take` effect to while loop suspends execution until a matching action type flows thru store... since we're just creating a watcher, nothing will happen until the action is dispatched

hope this helps :)

[2016-06-20 02:17] nareshbhatia commented on #143
@shredding, sorry I accidentally deleted that project, but I have something similar working in another project. You can find it here: https://github.com/sapientglobalmarkets/staffer/tree/master/staffer-react-redux. Hope you can replicate the approach from here.

[2016-06-20 02:20] swordsreversed commented on #575
Ah ok, i had a mistake in my mapDispatchToProps. I was using the erikras boilerplate which abstracted that away with @asyncConnect, so I didn't really understand what was going on. Have now read the docs. Thanks @justingreenberg!

[2016-06-20 02:20] #575 closed

[2016-06-20 02:30] #562 closed

[2016-06-20 02:52] mxstbr commented on #578
@datapimp any ideas?

[2016-06-20 04:31] tengis commented on #578
Hi i found the answer.

this line loading my global module instead of local.
https://github.com/gajus/babel-preset-es2015-webpack/blob/master/index.js#L10

this helped me identify what the problem was
`require.resolve('babel-preset-es2015/node_modules/babel-plugin-transform-es2015-modules-commonjs')`

[2016-06-20 04:31] #578 closed

[2016-06-20 08:32] mxstbr commented on #569
Hmm, this might've been changed acceidentally, does it still work?

[2016-06-20 08:34] mxstbr commented on #563
I'm sorry, but I don't use Vim at all so I can't answer your question. :cry: You'll have to figure this one out yourself!

[2016-06-20 08:34] #563 closed

[2016-06-20 08:37] mxstbr commented on #561
Some documentation would be awesome @biznickan! I haven't deployed to Heroku at all, so really interested to see what peoples experience has been like so far.

[2016-06-20 08:43] mxstbr commented on #570
Not quite sure I'm following – how does this relate to/overlap with #174?

[2016-06-20 09:05] FezVrasta commented on #569
Yes but the coverage test includes the files that should be instead excluded

[2016-06-20 09:11] mxstbr commented on #569
Hmm, true.

That'd be ace :+1:

[2016-06-20 12:45] gaboesquivel commented on #561
we have to build first and then push that build folder to heroku.

we could :
- create a `./bin/` directory with shell scripts to build, deploy and do post-deployment cleanse of temp files
- add an npm script for deployment that takes a flag for each vendor/service  `npm run deploy:heroku`

these same scripts could be used in the CI server for automated deployment on green commits.

a simpler vers

[2016-06-20 12:50] mxstbr commented on #561
That sounds very reasonable. Not sure why we need a `bin/` folder if we have `internals/scripts/` though?

[2016-06-20 13:00] gaboesquivel commented on #561
yeah, `internals/scripts/`, no need for a ./bin dir, that's just what I usually use in my projects

[2016-06-20 13:26] bnhovde opened #580 "manifest.json invalid"
Hi,

First of all, thanks for all the hard work that's gone into this.

After doing a build (clean install), the `manifest.json` file appears to be wrapped as a module:

[code]

This in turn causes errors with the chrome devtools, and the app doesn't get recognised as a PWA:

![Screenshot of devtools](https://bardhovde.com/share/pwa-example.png)

PS: I'm not an webpack expert, so I might be missin

[2016-06-20 14:21] gaboesquivel commented on #580
yes, that needs to be plain old json https://developer.mozilla.org/en-US/docs/Web/Manifest
the `module.exports =` part can be removed.  leaving a valid json file.
to import the json file elsewhere in the app there's a webpack loader for that [json-loader](https://github.com/webpack/json-loader)

[2016-06-20 14:34] ipselon commented on #526
@mxstbr If I want to inject reducer for container which is not a route level container (just included into another container), where it is the best place for such reducers:
* make one more file where list all reducers using inject method (or just hardcoded)?
* another variant?

[2016-06-20 14:43] mxstbr commented on #580
Ahh, good catch, this is a bug! Would you mind submitting a PR fixing this? Thanks!

[2016-06-20 14:47] mxstbr commented on #526
If it's included in another container that's eventually somewhere down the tree a route container that's injected, imo the best way to do it is to make it a composed reducer:

[code]

That way, you still get the code splitting at route level, but avoid having a static `combineReducers` call that includes all of them by default.

*See [this and the following lesson](https://egghead.io/lessons/javas

[2016-06-20 15:31] ipselon commented on #526
@mxstbr thanks. Although it will bring some complexity in reading the code (especially for newcomers), this is smart solution.

What about sagas? Where you would like to place them for nested containers?

[2016-06-20 15:41] eddiewang commented on #540
Figured it out - the culprit was webpack-image-loader. The issue revolves around needing admin privileges to install the app.

[2016-06-20 15:41] #540 closed

[2016-06-20 16:18] mxstbr commented on #540
Could you elaborate a bit? Will this affect other people, or was this an environment specific problem? Should we remove `webpack-image-loader` and/or submit an issue there?

[2016-06-20 16:23] mxstbr commented on #526
@ipselon good question!

Since those containers are nested within another one we can simply add it to the exported array in `sagas.js` of the route container:

[code]

Or, if you have multiple sagas in the nested container:

[code]

Does that make sense?

@oliverturner we need to clean up and add the above two comments to the docs somewhere, what about in the `FAQ`?

[2016-06-20 16:26] ipselon commented on #526
Yup. That does make sense.

[2016-06-20 16:40] eddiewang commented on #540
@mxstbr it shouldn't affect people unless they're working in a corporate environment. I work at a pension fund, so they take security very seriously. One of the dependencies in webpack-image-loader, pngquant executes an .exe that requires admin privileges in order to work. My privileges are not that high, so the npm install did not run through correctly.

I don't think it should be a problem for m

[2016-06-20 19:40] mgmcdermott commented on #517
This will be fixed if #551 is merged. Currently packageMains is not overriding webpack's defaults.

[2016-06-20 22:49] biznickman commented on #561
Ok guys, I have a super easy way to deploy to Heroku. I'll update the documentation now. Bottom line is you need to do a few quick things:

1. Install the latest nodejs buildpack on heroku. For example the latest version would be done running the following command: `heroku buildpacks:set https://github.com/heroku/heroku-buildpack-nodejs#v90 -a [your app name]`

2. To ensure heroku packages the dev

[2016-06-20 23:07] biznickman commented on #561
Just submitted a pull request with updated documentation. Hopefully that helps! Will also update the documentation so Docker deployment is included.

[2016-06-21 02:43] eddiewang opened #583 "Creating a global styles folder (improvement)"
Hi,

I recently was able to setup a global styles folder, which I think could work really well. There are alot of merits of PostCSS (specifically modules), but writing in sass is really nice as well.
1. Bourbon and other mixin libraries
   This provides important useful tools to quickly write out some functions. For example, I can use rem(40) to convert 40px into rem.
2. Global variables
   PostCS

[2016-06-21 03:45] zanedev commented on #583
+1

[2016-06-21 05:48] mxstbr commented on #540
Ah, alright, fair enough! Glad you figured out out!

[2016-06-21 06:55] bluespore opened #584 "Page hangs when accessing a generated route / container."
1. `npm run generate` -> Container (Yes to everything) **UserAuthPage**
2. `npm run generate` -> Route (`/login`) **UserAuthPage**
3. Navigate to `http://localhost:3000/login`
4. Page hangs, becomes unresponsive.

[2016-06-21 06:59] mxstbr commented on #584
Must be something on your side, I just did those exact steps locally on an up-to-date `master` and it worked perfectly fine:

![screen shot 2016-06-21 at 08 58 31](https://cloud.githubusercontent.com/assets/7525670/16220643/58cab13c-378e-11e6-9c27-7a7d2a8aedf7.png)

Only did `$ npm start` here and went to `localhost:3000/login`:

<img width="1392" alt="screen shot 2016-06-21 at 08 57 19" src="http

[2016-06-21 06:59] #584 closed

[2016-06-21 07:10] tzarger commented on #376
@datapimp was the PR for this Friday supposed to be 6/17/2016 or 6/24/2016, sorry I was not sure based on the comment/date.

[2016-06-21 07:20] bluespore commented on #584
@mxstbr I get asked more than one question when I run the container generator, which may indicate a version difference?

[code]

[2016-06-21 07:28] mxstbr commented on #584
I got asked the same questions, for some reason they don't show up in the screenshot above (possibly a bug), but as you can see the files were generated!

[2016-06-21 09:34] bnhovde commented on #580
As far as I can tell, `json-loader` is already in place and doing what it's supposed to, namely wrap a JSON file as a module. Looking at [the source code](https://github.com/webpack/json-loader/blob/master/index.js#L9), that's literally most of what it does:

[code]

Removing `json-loader` completely seems to remove the issue, importing the JSON file in it's original state with no transforms. I as

[2016-06-21 11:32] yookore commented on #583
+1
I was about to ask a question around this when I saw the post. If I want to use something like BootStrap to provide global styling, where do I place it within the app structure so that its available in dev mode?

[2016-06-21 12:28] mxstbr commented on #583
Have you read the discussions about this in #32 and #27?

----

Sass doesn't really offer many benefits, (if any at all) and doesn't solve the real problems with CSS _at scale_ that we're trying to address, namely naming collisions and inheritance. (See [my talk at AtTheFrontend](https://vimeo.com/168648012#t=10m20s) for an in-depth explanation of the issues we're solving, which Sass doesn't help

[2016-06-21 12:29] mxstbr commented on #580
Ahh, no what we should do is import the `manifest.json` file with the file loader: `import ‘file-loader?manifest.json` :+1:

[2016-06-21 12:57] jcfergus opened #585 "Containers without their own routes."
I'm new to the React world, and have managed to get some basic pieces working in ReactBoilerPlate, but am running into challenges with the exact issue that was covered in #547 , but unfortunately while @justingreenberg 's answer looks pretty much like exactly what I need, I'm apparently too dense to take the last leap from the example above to understanding what needs to replace the '//...' commen

[2016-06-21 13:23] bnhovde commented on #580
Ah! I think I just realised what's happening. We're already using `file-loader` like you suggest, but the `json-loader` is still picking up the .json extension and processing the file because it's defined in the global loaders.

By adding `!` in front of the file-loader statement we can tell webpack to explicitly use the file-loader only:
[code]

This fixes the problem. I'm just creating a pull re

[2016-06-21 13:32] gaboesquivel commented on #580
👍

[2016-06-21 13:51] andrewkelley commented on #544
How did you fix this @bcowgill? Thanks!

[2016-06-21 14:31] tomazy commented on #561
@biznickman I don't see how you update the build directory with the production code. Have I missed anything? Or did you mean to add `"npm run build"` as the `postinstall` hook?

[2016-06-21 16:29] #580 closed

[2016-06-21 16:30] mxstbr commented on #580
Thanks @bnhovde, good catch! :fire:

[2016-06-21 16:44] mxstbr commented on #585
See the changes in #587, I just added documentation about this! :+1:

[2016-06-21 16:44] #585 closed

[2016-06-21 17:49] tzarger commented on #441
+1 https://github.com/buunguyen/redux-freeze

[2016-06-21 18:07] bnhovde commented on #580
No probs, happy to help. Keep up the good work! ✌️

[2016-06-21 18:09] jcfergus commented on #585
Awesome, thanks!

[2016-06-21 19:25] biznickman commented on #561
@tomazy whoops! you are correct ... it should be `npm run build` or `npm run build:clean && npm run build` ... I'll update.

[2016-06-21 19:38] tomazy commented on #561
`build:clean` is called from the `prebuild` hook so `npm run build` should be enough.
But the default `prebuild` has also `npm run tests` which is not necessary on a production server. I had to change the `prebuild` to `(if test \"${NODE_ENV}\" != 'production'; then npm run test; fi) && npm run build:clean`. (Plus `heroku config:set NODE_ENV=production` before that)

[2016-06-21 20:02] biznickman commented on #561
@tomazy I think you are missing a step or something. It shouldn't be that complicated. Prebuild isn't called by heroku as far as I know.

[2016-06-21 20:13] biznickman commented on #561
@tomazy Ah you make a good point. I forgot that `npm run tests` is there. I ended up deleting it myself. I kind of wonder if that's truly necessary the way they have it. I'm running tests while developing so it seems kind of odd that I keep having to re-run the tests. Hmm, this seems like it should be a broader conversation then... or perhaps we add that code? I've been wondering if we should just

[2016-06-21 21:01] a-type opened #590 "Caching and HMR problems from base project"
I've been trying to start a new project based off this boilerplate since it incorporates a lot of technologies I'm interested in learning, like CSS modules and redux-saga. However, I'm having some issues out of the gate. To clarify: I'm reproducing this locally by cloning the latest version of the repo to date, running `npm run setup`, and `npm start`.

**webpack dev middleware doesn't seem to wan

[2016-06-21 21:33] gihrig commented on #590
@a-type Hi Grant, did you try running the example app?
1. Clone the repo
2. `npm install`
3. `npm start`
4. Open `localhost:3000`

If that fails, what do you get when you run `npm test`?

In my experience, npm run setup leaves the project in a very incomplete state. There appear to be no concrete instructions yet on how to develop an app after npm run setup.

I have been more successful making cop

[2016-06-21 21:44] mxstbr commented on #561
Would love to have that script!

Also, let's open a second issue about the running-tests-before-building-thing and discuss that there, I certainly feel like some valid points have been made here.

[2016-06-21 22:55] timothyallan commented on #537
Having the "nested" container have its Saga's loaded by it's parent container couples it to the parent though, no?

To take @Augustin82's example, you can't just throw in a ```<AlertsList />``` component anywhere, unless you first go adn explicitly put a reference to it's Saga(s) in the parent container. Likewise, you've now also got to remember to remove the Alerts Sagas from the parent container

[2016-06-22 00:31] gaboesquivel commented on #561
I believe we should run the tests and build scripts elsewhere, locally in your dev machine or in a CI server. We shouldn't build the app on heroku.

[2016-06-22 01:07] biznickman opened #591 "To test at build? Or not to test?"
This is a continuation of the conversation we started here https://github.com/mxstbr/react-boilerplate/issues/561 ... The question is whether or not we want to move the testing out of the build process. Specifically the `prebuild` task in package.json can result in slowed deployments on Heroku or any other deployment location where the build takes on the server.

[2016-06-22 05:27] mxstbr commented on #537
Yeah, you could also create a global `saga.js` file that re-exports all of them, but it's not optimal – there isn't really a better way to do it that I can think of.

[2016-06-22 07:37] hamishtaplin commented on #591
I've had to do this for the very reason you've specified, I added an extra `compile` npm task:

[code]

[2016-06-22 16:02] eddiewang commented on #583
@mxstbr I think the points you made are valid. How about just setting up postcss-simple-vars and create a global config file somewhere? I think it makes alot of sense to have at least global variables easily accessible. Wouldn't know any app that doesn't use common elements.

[2016-06-22 16:38] gaboesquivel commented on #591
IMHO build shouldn't call test. so you can build without testing if you're not interested in that for any reason. You can always run test and then build.   `test && build`
deployment task should only take the `build` dir and push it to the hosting service.

in sum:  all tasks independent so you have more control  `test && build && deploy` or just `build && deploy`

[2016-06-22 17:49] biznickman commented on #591
@gaboesquivel I agree. If you were using something like continuous integration, the tests would be done as well prior to deployment. I think eliminating test from the build process makes the most sense. It's attempting to accomplish something that should essentially be managed by deployment workflow rather than application-level workflow. I'm curious to see if there is any argument in support of i

[2016-06-22 18:26] eddiewang commented on #527
i think there are merits to having it - but I can see how removing it would ease the boilerplate for beginners. if we were to have nice docs on how to reintegrate it back - I think that would be the best solution for all.

[2016-06-22 18:58] a-type commented on #590
Thanks for replying @gihrig

All the issues I listed occurred while attempting to run the example app with the steps you listed. Tests all pass. I've made no modifications at all to the repo.

[2016-06-22 19:01] a-type commented on #590
For reference, I have already worked on a few projects with React/Redux/HMR, and they all work correctly with the same setup and environment.

[2016-06-22 20:12] brycepj commented on #544
Yep, same thing here.

[2016-06-22 20:29] gihrig commented on #590
@a-type here's something else to try in case you haven't. My experience with 'quirky HMR' is related to the project's offline-first configuration. This gets established when you load the page in production mode `npm start:production`, and to some degree even in development mode. As far as I can tell this data is never removed. I was even able to shutdown the server and access the app, just as adve

[2016-06-22 21:10] gihrig commented on #544
Sounds like a possible npm cache problem. try `npm cache clean` then `npm install`.

[2016-06-22 21:53] a-type commented on #590
Interesting... the service worker was from the app which I had previously begun to build off of react-boilerplate before circling back and trying to reproduce this issue with the default example app. Deleting the service workers seems to have fixed the initial load issue. HMR still isn't working, though.

I think the next step for me might be removing all of the offline configuration from webpack.

[2016-06-22 23:35] gihrig commented on #590
Glad you're making progress.

Re:
[code]

I get that same message in the browser console every so often. I presume this will go away when the production mode project is loaded on a server that supports https, but I haven't gotten that far. Doesn't seem to affect HMR though.

[2016-06-23 08:12] sotayamashita opened #593 "Docs state that sanitize.css is a PostCSS plugin"
In original docs is below:

But I think sanitize.css is NOT PostCSS plugin so you should fix like that:

[code]

[2016-06-23 09:31] mxstbr commented on #593
You're right, it isn't! Good catch! Would you mind submitting a PR that fixes this? Thanks!

[2016-06-23 09:32] mxstbr commented on #590
What kind of components are you changing?

Currently, **stateless function components cannot be hot reloaded**, only ES6 `class` or `React.createClass` components can. This is a downside of the current way HMR works and nothing we can fix, though there is work being done to change this!

[2016-06-23 09:36] mxstbr commented on #583
Yeah absolutely, having that in the boilerplate by default sounds reasonable!

The thing is, if we use `cssnext` and use the variables-in-js approach, we can share those constants between our JavaScript and our CSS code, which might be useful for theming etc. What's the benefit of `postcss-simple-vars`?

[2016-06-23 10:09] sotayamashita commented on #593
@mxstbr sure

[2016-06-23 10:21] #593 closed

[2016-06-23 10:21] mxstbr commented on #593
Thanks @sotayamashita!

[2016-06-23 13:23] eddiewang commented on #583
@mxstbr maybe we don't need the postcss-simple-vars package then. what's the approach in using cssnext? I've looked through the documentation and couldn't find anything useful in how one would make variables global.

[2016-06-23 13:25] eddiewang commented on #583
be more than happy to document on how to setup that up - if given the right path. not having an easy way to define colors, custom media queries, default z-indexes, and fonts is a pain :-1:

[2016-06-23 13:27] a-type commented on #590
Hi @mxstbr, I'm not using function components. I'm currently reproducing this with only the example application from this repo, no changes or custom components whatsoever. I have tried modifying the App container JSX and CSS, but HMR always claims that these modules do not know how to reload themselves.

[2016-06-23 13:44] suren1525 opened #595 "Using react-flexbox-grid"
Could someone help me using react-flexbox-grid (https://github.com/roylee0704/react-flexbox-grid) ?

In readme:

You should configure webpack to load flexboxgrid with CSS Modules, otherwise components from react-flexbox-grid will just have empty class names:
{
  test: /\.css$/,
  loader: 'style!css?modules',
  include: /flexboxgrid/,
}
If you have another loader which affects flexboxgrid, exclude

[2016-06-23 13:52] mxstbr commented on #583
@webdesserts set it up for the `react-boilerplate-site`, should've linked to that earlier!

See [`webpack.dev.babel.js:40`](https://github.com/mxstbr/react-boilerplate-site/blob/12da9df5e2aabc0d8511489b50e2097ce9341873/internals/webpack/webpack.dev.babel.js#L40-L42) and the referenced file in [`app/css-config.js`](https://github.com/mxstbr/react-boilerplate-site/blob/12da9df5e2aabc0d8511489b50e209

[2016-06-23 16:15] SimonSelg commented on #441
+1 for the redux-freeze  approach from me too.

[2016-06-23 17:09] tzarger commented on #595
@suren1525 not sure if this is the best practice for this boilerplate, but this seems to work for me:

{
  test: /\.css$/,
  include: /node_modules/,
  loaders: ['style-loader', 'css-loader'],
  exclude: /flexboxgrid/,
}, {
  test: /\.css$/,
  loader: 'style!css?modules',
  include: /flexboxgrid/,
}

[2016-06-23 17:26] joneslloyd opened #596 "Change output DIR and name"
Hi there,

Is there are way to change the output directory and filename for the app?

I'm trying to use it as part of a WordPress plugin, and want to standardise filenames

[2016-06-23 17:36] mxstbr commented on #596
I think what you're looking for is in `internals/webpack/webpack.base.babel.js`, specifically the `output` property. :+1:

[2016-06-23 18:00] joneslloyd commented on #596
Perfect, thanks!

[2016-06-23 18:42] joneslloyd opened #597 "Production and development absolute main JS file path"
Hi,

I'm using this as part of a plugin (WordPress) and need to therefore enter the URL of the JS file for the App that's output.

I can't seem to find this when browsing the App's folder - Do you know what it is? And is it different for production and dev?

[2016-06-23 18:51] #596 closed

[2016-06-24 06:28] suren1525 commented on #595
I'm also not sure, that this is the best one.
I need responsive grid layout and I continue searching and trying.
I made this changes in webpack.base.babel.js, but the changes don't take effect on build:dll :(
Thanks

[2016-06-24 07:14] mxstbr opened #598 "Pin dependencies and enable Greenkeeper"
Currently we rely on SemVer of our dependencies, which might not always work. (one of the webpack beta updates in our range recently broke our build) We should pin the dependencies (a PR for this would be appreciated!) and enable @greenkeeperio (https://greenkeeper.io) instead!

[2016-06-24 14:07] maxmantz opened #599 "Multiple issues on Windows"
I've tried to upgrade my version of the boilerplate (pre-release v3.0.0) to the latest version. I've done this by cloning this repo, running `npm run setup` and then tried to run `npm run clean`. This is where the first issue appeared:

Ignoring this, I manually deleted the demo app contents and replaced them with my own modules and dependencies. I've also changed the `routes.js` and `app.js` to m

[2016-06-24 14:09] maxmantz opened #600 "Discussion about the direction of this boilerplate"
I would like to start a discussion about the direction this boilerplate is taking. When I started using it a few months ago, I was very happy with the state of things in general. It featured basically all the technologies recommended in a modern ReactJS / Redux app and its configuration - while already complex - was manageable.

In the last few months I've been worried about the addition of many n

[2016-06-24 14:38] #597 closed

[2016-06-24 18:20] FezVrasta opened #601 "Split code by top routes only?"
Right now I have these:

[code]

Every time I change page, a different chunk is downloaded.

I'd like to reduce the number of chunks to just one for each of the top routes. So, one for `home` and one for `settings`.

Is it possible?

[2016-06-24 18:21] maxmantz commented on #599
This is the full error log shown in the command line when running `npm run clean`:
[test-config.txt](https://github.com/mxstbr/react-boilerplate/files/332285/test-config.txt)

I suppose it is a pathing issue with git being under Program Files(x86) and the " " cutting off the command to call git. Still don't know why the infinite build occurs. When I load the sample app, everything works fine. I ha

[2016-06-24 21:46] gihrig commented on #598
@mxstbr `greenkeeper enable` used to pin deps automatically. [see here](https://www.youtube.com/watch?v=XbQvxCLkBbw) @0:55 but this seems not to be the case presently. Don't know why, sure seems like a good idea. For reference see a lodash GK PR [here](https://github.com/lodash/lodash/commit/fa29123c5e32e4bd07e1a3a80a11e5331f36d4a2)

I enabled GK on my react-boilerplate fork, without pinning deps,

[2016-06-24 23:39] gihrig commented on #600
It seems the issues you have raised might be handled by:
1. More frequent versioned releases (following semver)
2. Keeping changelog.md updated showing features added by version
3. Adding to docs/general/remove.md for major features as they are added.

Or perhaps take the opposite approach to major new features,  making them opt-in to a core project. Ideally as npm modules. Not sure how one would

[2016-06-24 23:51] mrvicadai opened #603 "Webpack 2.0 feature: treeshaking / native-module supported?"
Hi @mxstbr thanks for making such an amazing boilerplate! I noticed the webpack version in package.json is 2.0+ and seems to be able to support [treeshaking](http://www.2ality.com/2015/12/webpack-tree-shaking.html). Is this feature already built into react-boilerplate?

[2016-06-25 00:57] maxmantz commented on #600
This is a good idea. At least providing an upgrade path for existing projects is required from my standpoint. I would like to emphasize that I appreciate the amount of work that has been put in by all of the contributors here and I'm sure they have only the best interests in mind.

The i18n addition you mention is an interesting one. My app has i18n support, but not with react-intl but another lib

[2016-06-25 09:40] mxstbr commented on #603
Yeah, it is!

[2016-06-25 09:40] #603 closed

[2016-06-25 19:46] SimonSelg commented on #370
@mxstbr:

It's fixable from our side! See here: https://github.com/webpack/style-loader/pull/96#issuecomment-228370602

I can create a PR that'd help.

[2016-06-25 20:00] mxstbr commented on #370
Not sure I'm a fan of that, since we do (and should) use it and that is necessary from time to time. Though I would really appreciate you submitting a PR adding that to the FAQ! :pray:

[2016-06-25 20:26] SimonSelg commented on #370
Will do that later. Have to try it first in one of my projects if it scales well.

Personally, I'm using [this fork](https://github.com/bendytree/style-loader) of style-loader in my projects, which replaces the urls clientside at runtime to fix this issue ([explanation].(https://github.com/webpack/style-loader/pull/96#issuecomment-220695189)]. But the maintainer of style-loader doesn't want to mer

[2016-06-25 20:35] mxstbr commented on #370
:+1: :+1: :+1: :+1: :+1:

Ah yeah, my bad, that actually sounds reasonable! Let's do it, and also add documentation about the fact that we do that!

[2016-06-25 20:36] SimonSelg commented on #370
K, will work on that later this night.

[2016-06-26 14:44] vitalis commented on #452
👍

[2016-06-27 00:10] tzarger commented on #595
@suren1525 Sorry, I forget about the build.dll .. in webpack.dll.babel.js I also added modules, here is my exports:

module.exports = {
  context: process.cwd(),
  entry: dllConfig.dlls ? dllConfig.dlls : dllPlugin.entry(pkg),
  devtool: 'eval',
  output: {
    filename: '[name].dll.js',
    path: outputPath,
    library: '[name]',
  },
  module: {
    loaders: [{
      test: /\.css$/,
      loade

[2016-06-27 07:26] suren1525 commented on #595
@tzarger  It works.
Thank you very much!!!

[2016-06-27 07:26] #595 closed

[2016-06-27 09:54] FezVrasta opened #604 "Replace Immutable.js with Crio?"
I just discovered this library, it seems pretty awesome.
Do you think it could replace Immutable.js in this project?

https://github.com/planttheidea/crio

[2016-06-27 11:15] mxstbr commented on #604
See the discussion in #441, please chime in there!

[2016-06-27 11:21] #604 closed

[2016-06-27 11:22] FezVrasta commented on #441
What about Crio? https://github.com/planttheidea/crio

[2016-06-27 11:25] mxstbr commented on #441
Isn't that a better approach though? Not sure having an immutable library gives us much more benefits, it only adds a lot more complexity.

[2016-06-27 11:29] smashercosmo commented on #441
@FezVrasta We moved from ImmutableJS to seamless-immutable, but now considering using plain js structures (+lodash) and redux-freeze. Not because there is something bad with both libraries, but we just can't see the value, that they bring to us.

[2016-06-27 11:30] FezVrasta commented on #441
@mxstbr Without an immutation library, the cost of the comparisons between objects it's the same as plain js, so you don't address the performance problems.

[2016-06-27 11:40] mxstbr commented on #600
First of all, thanks for kicking off this discussion @maxmantz, I'm glad we're having this dicussion!

Let me first respond to your specific points:

HMR is unusable for even slightly big applications because it's so slow. Many people quite simply can't use it, which is a shame because it's a great technology that enables a great development experience. By utilizing the DLL plugin we can circumven

[2016-06-27 11:44] mxstbr commented on #441
Ah yeah true, good point. The whole idea behind using `ImmutableJS` in this boilerplate was:

[code]

`redux-freeze` doesn't really solve that, does it?

[2016-06-27 11:46] mxstbr commented on #601
Yeah definitely, but it depends on how `/settings/:secondLevel` is structured/how they work, there isn't really a general answer to this.

You could use composed reducers (see the FAQ about containers without routes), or add a lower level `reducers.js` file in `settings` which combines the further up reducers and exports the sagas, etc.

Does that answer your question?

[2016-06-27 11:47] FezVrasta commented on #441
For what I understood, it doesn't. Otherwise they wouldn't advise to use it only in dev mode.

[2016-06-27 11:47] mxstbr commented on #599
I sadly don't have a Windows machine, so I can't replicate this… @jwinn any input here?

[2016-06-27 11:53] FezVrasta commented on #601
I don't think I get it..

This is an example route with sub-route:

[code]

As you can see, the child route does a `System.import`, that Webpacks will then try to split if possible (if I understood it correctly).

I should move that `System.import` inside its top route to avoid the code splitting I guess? But then how can I access the component and render it in the child route?

Thanks.

[2016-06-27 11:57] mxstbr commented on #601
Ah yeah, didn't think of the components. 😅

Good question, to be honest I have no idea how one would go about doing that. @timdorr any pointers?

[2016-06-27 12:22] maxmantz commented on #600
Thank you for the very detailed answer! It certainly does answer a lot of questions. Please forgive me when I misinterpreted the usage of the DLL build as being optional. When it fixes stability issues by all means it is definitely required.

I also understand that an upgrade path for existing projects is unrealistic, especially taking different configurations into account. Anyways, once I'm done

[2016-06-27 12:28] mxstbr commented on #600
Absolutely, please do! And if you do come up with a better way we could provide an upgrade path please please let me know!

[2016-06-27 12:28] #600 closed

[2016-06-27 13:59] SilentCicero commented on #444
@mxstbr is this happening again... am I making another PR... yes, yes I'd love to do it ;-)

Should look how this sounds:
https://www.youtube.com/watch?v=fJ9rUzIMcZQ

[2016-06-27 15:01] jwinn commented on #599
I tried to replicate this on Windows 10 to no avail. Perhaps it's environment or permission specific.

Steps I performed:
[code]

My node, npm, and git are at the following:
[code]

Note: Used Chocolatey to install node and git and ran the commands in powershell.
I hope this helps. :-)

[2016-06-27 15:06] timdorr commented on #601
Only do your `getComponent`'s where you want to have split points. I haven't hopped on the `System.import` hype-train yet, but if it's like `require.ensure` you should only need to use it for when you want to create a new chunk. Otherwise, just import your components like any other module and statically reference them as the `component` for each route.

(BTW, Router 3.0 is going to make this a *lo

[2016-06-27 16:12] mxstbr commented on #601
The thing is that we want to code split the child routes with the higher-up routes. e.g. load `settings/a`, `settings/b` when `/settings` is accessed, and not code-split the lower routes

[2016-06-27 16:32] justingreenberg commented on #601
i would separate the sub-route definitions—ie `settings/routes.js`—and follow tim's advice to "import your components like any other module and statically reference them as the component for each route"

then, you can `system.import` the sub-route definitions inside [`getChildRoutes`](https://github.com/reactjs/react-router/blob/master/docs/API.md#getchildroutespartialnextstate-callback) in the ro

[2016-06-27 16:58] mxstbr commented on #601
That sounds reasonable!

[2016-06-27 17:54] timdorr commented on #601
@justingreenberg Yep, that's exactly what I meant, essentially 😄  Thanks for writing out the example!

[2016-06-27 18:10] SimonSelg commented on #441
No, it doesn't, but it doesn't have to.

The reason why

[code]

works is because we never mutate the state (and therefore the props that get passed to the component by `connect`). Because of that, we can easily determine if props have changed by `this.props.equals(nextProps)`, because whenever the state changes, we generate a *new* object, meaning we can just do a shallow equal instead of a full

[2016-06-27 19:16] mxstbr commented on #441
Ooh that makes a lot of sense, but what if a specific subpart of the state (selected with reselect) changes? Imagine this state tree:

[code]

Now that gets changed to this via an action:

[code]

Now this check will return true, since the object references aren't the same but the subpart of the state hasn't actually changed, right? So this component would then still rerender, even though it's sub

[2016-06-27 19:18] mxstbr commented on #601
I'll close this since @justingreenberg answered the question perfectly. Let's add that to the FAQ?

[2016-06-27 19:18] #601 closed

[2016-06-28 03:47] salzhrani opened #605 "saga task duplication"
a redux-saga noob here. I noticed that when I enter a route of a container, the sagas behave as expected but If I re-enter the route again, a saga will run twice after dispatched once and as I repeat the re-entry the the number gets multiplied... It seems that `injectSagas` is not idempotent. when I ensure that `injectSagas` is run once, I don't see this behaviour.

[2016-06-28 06:49] gihrig commented on #590
@a-type I see the same HMR failure with containers/App - this is a stateless function component as @mxstbr pointed out, HMR failure is expected.

Do you see the expected HMR on containers/HomePage, for example?

If so, and you want HMR for App, you could:

a) Make App an ES6 class component, as @jasoncyu linked above. Here's App specific code:
[code]
Or
b) Remove the visible components (the header

[2016-06-28 07:02] #489 closed

[2016-06-28 07:10] Ndpnt opened #606 "What about using react-css-modules?"
For our project we need to use [react-css-modules](https://github.com/gajus/react-css-modules#whats-the-problem) which brings us those features:
- We do not need to refer to the styles object every time we use a CSS Module
- But above all, it allows us to mix CSS Modules and global CSS easily, (thing that I found not so easy with only css-loader package)
- We are warned when styleName refers to an

[2016-06-28 09:03] maxmantz commented on #599
Hi @jwinn and thank you for your time. There was a second git.exe in my PATH which caused the error. This is fixed now.

For the infinite build - I've let the last build run for 72 hours over the weekend with no change. I've made another attempt at reproducing the issue.

I've now moved all my sagas & selectors with their components (`sagas.js` & `selectors.js` - just as in the example app). This

[2016-06-28 10:16] mxstbr commented on #599
I think you're looking for #299 and #322?

[2016-06-28 16:59] a-type commented on #590
Oh, wow, @gihrig, I feel very silly now! You're right, the HMR failure is expected. I hadn't realized that the functional-component rule would also apply to the CSS of the component, because I'm so used to working with independent SASS stylesheets which wouldn't depend on the component they're applied to. I imagine that using CSS modules makes the style reloading for App dependent on the App compo

[2016-06-28 17:00] joneslloyd opened #607 "Partial index.html"
Hi there,

I'm trying to use react-boilerplate as part of a larger project (a WordPress plugin as it happens), and I wish to make it so that `index-input.hbs` is a partial HTML / Handlebars file, like so, rather than a full HTML page, so that I can include it inside an existing page via PHP:
[code]
By adding a handlebars loader, I am able to parse the template, and output to `index.html`, but I ge

[2016-06-28 18:12] maxmantz commented on #599
I've adapted the changes from both PRs and ran into the same infinite build error. Can't find the issue with the files. I guess it's something within my existing code which causes the error. I've reverted to my version without code splitting. I'll close this now and come back to it when I find the time. Thank you for your help.

[2016-06-28 18:12] #599 closed

[2016-06-28 18:41] abeaclark commented on #605
I also have this problem

[2016-06-28 20:17] lasryaric opened #608 "Cache?"
What do you recommend for clearing the cache for every new deployment? I am using the serve built in (npm run start:prod).

Thanks

[2016-06-28 21:19] tzarger commented on #441
@mxstbr @SimonSelg if you were going to want to **shouldComponentUpdate** based on the **somethingElse** sub-state, why not create a selector for that part of the state tree? Would that fix your example?

[2016-06-28 22:15] xanderlu commented on #506
This might be because the `webpack` resolver for `eslint-plugin-import` doesn't support `webpack 2`
https://github.com/benmosher/eslint-plugin-import/issues/265

[2016-06-28 23:13] gihrig commented on #608
If you run `npm run start:production` (in place of `npm run start:prod`) the ./build directory will be cleaned out before the new build. see `package.json` `scripts` section.

As far as I know this is all that is required between deploys.

Is there something else you had in mind?

[2016-06-29 00:06] mlennie commented on #450
I seemed to have fixed it by turning off appcache.

I looked up appcache and MDN say's it shouldn't be used anymore https://developer.mozilla.org/en-US/docs/Web/HTML/Using_the_application_cache

So in offline-plugin config in `internals/webpack/webpack.prod.babel.js ` I added `appcache: false`

[code]

[2016-06-29 01:49] timothyallan commented on #527
What features are lost with the removal of it? Currently, I'd vote to keep it in, with instructions on how to remove it.

I'm working on a pretty big SPA at the moment and am using RRR's ```LOCATION_CHANGE``` all over the place in my Sagas to figure out when to kill them.

[2016-06-29 02:29] mlennie opened #610 "how to import an npm js file?"
I can't seem to use https://www.npmjs.com/package/blueimp-load-image#usage

I'm trying to import it into my component using
`import loadImage from 'blueimp-load-image/js/load-image.all.min';`
and
`import loadImage from 'blueimp-load-image';`
and
`import 'blueimp-load-image/js/load-image.all.min';`

Then I'm trying to use `loadImage` in the component I'm importing it into but it's appearing as unde

[2016-06-29 04:06] gihrig commented on #610
The [blueimp-load-image](https://github.com/blueimp/JavaScript-Load-Image) package doesn't seem to support the usual npm module loading, at least I didn't see any evidence on their site. Further, as that project does not have an issue tracker, I would suggest that you ask questions of this mature on [StackOverflow](https://stackoverflow.com).

Having said that, I would guess that the right syntax

[2016-06-29 04:58] gihrig commented on #606
I'm just a user of the boilerplate, but I would love to see a PR implementing react-css-modules.

[2016-06-29 10:25] mxstbr commented on #441
That's exactly my question haha

[2016-06-29 10:38] hieubq-working opened #611 "How to use Initializing From State of redux-form (erikras)"
Hi.
I got some problem when using redux-form of erikras
I make one page has an Image Uploader and one form,
after reducer got upload_success action, I save the link on reducer but I can't update text field of form with this link from.

Can you help me to do this like this example in http://redux-form.com/5.2.5/#/examples/initializing-from-state?_k=oa0vin
Thanks!

[2016-06-29 10:40] mxstbr commented on #527
As far as I understand @timdorr, with `react-router@3` this will become very easy even without `react-router-redux`, but I agree that `LOCATION_CHANGE` is necessary for sagas to work properly at the moment!

[2016-06-29 10:43] mxstbr commented on #450
What @mlennie recommends seems to be very sensible, I think we should turn it off by default. AppCache really won't be supported for much longer and should only be used if legacy support is 100% needed, so turning it off by default should be fine.

Would somebody care to submit a PR? Thanks!

[2016-06-29 10:43] mxstbr commented on #590
Thanks @gihrig for helping resolve this, glad everything is clear now @a-type!

[2016-06-29 10:43] #590 closed

[2016-06-29 10:44] mxstbr commented on #606
Please do, I'd be interested to see it live in action! I haven't personally used it and so far been happy with the way CSS modules work by default, so I can't guarantee we'll merge it but it sounds very useful!

[2016-06-29 10:45] mxstbr commented on #610
This is not something we can fix on our end, this is definitely a problem with the way `blueimp-load-image` is built as @gihrig said. Sorry, hope you can resolve this soon!

[2016-06-29 10:45] #610 closed

[2016-06-29 13:06] mxstbr commented on #605
See the discussion (and eventual solution) in #390 for more information how to solve this. The TL;DR is that you should use a `redux-saga` watcher and exit your sagas on `LOCATION_CHANGE`!

[2016-06-29 13:06] #605 closed

[2016-06-29 13:07] #608 closed

[2016-06-29 13:08] mxstbr commented on #611
I have sadly never worked with `redux-form` before, so I have no idea how to use it. Will leave this open, maybe somebody else has done this before!

[2016-06-30 15:48] wullaski opened #615 "Integrating Redux Auth Wrapper"
I have a basic login flow working but I've hit a wall with integrating a routing solution to check authentication and redirect based on user status. I wanted to be able to use [Redux Auth Wrapper](https://github.com/mjrussell/redux-auth-wrapper) but the way the routes are generated makes integration difficult/less clear. Is there an easy solution for this?

[2016-06-30 15:58] mxstbr commented on #615
Have never worked with redux-auth-wrapper before, but https://github.com/sotojuan/saga-login-flow by @sotojuan is _solid_!

[2016-06-30 16:05] sotojuan commented on #615
Yep, `onEnter` just works. Not sure if it's the cleanest solution but it gets the job done :-)

[2016-06-30 16:14] mxstbr commented on #607
Hmm, hard to tell what the problem is to be honest, not sure there's much I can do here :sad: Hope you figure it out soon!

[2016-06-30 16:14] #607 closed

[2016-06-30 16:15] #615 closed

[2016-06-30 16:15] joneslloyd commented on #607
No problem - thanks for the response either way :)

[2016-06-30 18:40] abeaclark commented on #144
@fredrik-sogaard did you end up resolving this issue? I'm having the same issue still and haven't been able to find a workaround.

[2016-06-30 19:05] gihrig commented on #144
@fredrik-sogaard did you see #370?

[2016-06-30 19:15] igorbarbashin opened #617 "Using selector creators vs selectors"
I'm curious what was the reason behind returning a function in selectors rather than returning the actual selector.

Example:
[code]

[code]

Why not to use selectors directly?

[code]

[code]

The benefit would be to access ownProps in the selectors.
So I could do something like that:
[code]

Am I missing some point? Is it an anti-pattern?

[2016-06-30 19:20] dfcarpenter opened #618 "Master Detail and code splitting routes"
Hi there,

Enjoying the boilerplate so far but i'm trying to figure out how to implement a master / detail view with react-router using the code splitting setup as provided. This isn't a bug with the boilerplate but since I am following most of the structure and conventions I figure someone might be able to cast some light on this. I am basically following this

https://github.com/reactjs/react-ro

[2016-06-30 19:32] abeaclark commented on #144
@gihrig Thanks! I hadn't seen that thread. [`webpack/style-loader#96 (comment)`](https://github.com/webpack/style-loader/pull/96#issuecomment-228370602) saved me.

[2016-06-30 23:38] jlkalberer commented on #599
I'm seeing this as well on a clean pull of the project. I'm wondering if this has something to do with it? --https://github.com/nodejs/node/issues/7367

[2016-07-01 00:07] jlkalberer commented on #599
Actually, I found a good workaround.  If you are on windows you need to uninstall/reinstall node and git.  Just put the install folder in something like `C:\tools` or a path without a space.

[2016-07-01 00:19] maxmantz commented on #599
Thank you for your suggestions. The issue I'm facing is probably related to my code. The sample app works fine and compiles well, but when I replace it with my existing code it runs into the infinite build error. I'm using nodejs & git in their standard install path, as well as using a command line with administrator rights. Nevertheless, if you find a fix to your issue I'd be happy to know about

[2016-07-01 07:24] gihrig commented on #611
I'm working on getting redux-forms integrated with react-boilerplate. There is a discussion on-going at #567.

I hope to have a solution, and maybe a PR early next week.

[2016-07-01 07:27] mxstbr commented on #611
@gihrig I'd love for you to provide a reference implementation, but I think it's out of the scope of the example app to showcase redux-form!

[2016-07-01 07:27] #611 closed

[2016-07-01 09:50] navidmesbah opened #620 "Overriding Bootstrap"
Using twitter bootstrap....

Consider an element:
**`< input className="btn btn-default" >`**

The Old way to customize the button is to add custom classes:
**`< input className="btn btn-default btn-circle" >`**

[code]

Is there any way to accomplish this, with CSS Modules approach? How?

[2016-07-01 10:57] mxstbr commented on #620
Works the same way:

[code]

and in your styling:

[code]

[2016-07-01 11:51] navidmesbah commented on #620
thank you very much!

[2016-07-01 11:52] #620 closed

[2016-07-01 12:13] daCapricorn commented on #597
@joneslloyd did you figure it out? I can't find also

[2016-07-01 21:31] everythingspirals commented on #544
I have the same problem.

[2016-07-01 22:54] datapimp commented on #376
@tzarger @joshhornby @jmcclell apologies for the delays! I wasn't able to get to this before I went on vacation.  See https://github.com/mxstbr/react-boilerplate/pull/625 for the basic approach.  I can answer any questions you have.  I still have some work to do to improve upon that but hopefully it helps in the meantime

JS

[2016-07-01 23:46] datapimp commented on #618
Just from skimming the code, the thing that stands out to me is that you don't treat the `FlowDetail` as child routes.

Something still feels off about the code below to me, but it does work in one of my projects, so I think it might help.

(I've changed my code names to match yours -- might have missed some so don't copy paste)

[code]

If you need help hit me up.

[2016-07-02 01:11] datapimp commented on #591
I've personally started separating out the main component of each of the different test processes so that I can call them without testing / linting when I want, using something like `npm run test:only`

i like that building forces me to run the linter and the tests; but i also hate it.  I think it should be a goal to keep the abilities extremely discoverable and accessible but also make them easy

[2016-07-02 04:36] gihrig commented on #544
@everythingspirals Did you run `npm cache clean` then `npm install`?

[2016-07-02 09:53] akaRem opened #627 "duplicated output of coverage"
Init project as suggested on main page, then execute command
`$ npm run build`
then look at `coverage/` folder — there are 2 folders with similar content:

[code]

and if you check diff

[code]

it will show that content is exact the same

Looks like some kind of misconfiguration in `internals/testing/karma.conf.js` at L51..58:

[code]

html and lcov reporters work similar and one of  them probabl

[2016-07-02 09:58] akaRem opened #628 "coverage is not cleaned before test"
I found that coverage folder is not being cleaned before test runs so it could probably accumulate some old data from previous runs.

[2016-07-02 10:18] akaRem opened #629 "extract tool configs (eslint and others) from package.json"
Currently configs for eslint and stylelint are located in package.json.
This approach helps to reduce amount of dotfiles, but it also hides configuration from some IDEs and editors.
For example, idea family of editors (I use pyCharm) support editorconfig, linters and other stuff, but it doesn't look into package.json for configuration.

Extracting tool configs from package.json will make this star

[2016-07-02 10:36] mxstbr commented on #627
That definitely seems like a bug, but we do need to lcov output for the CI. Could you investigate what the difference is/isn't and if necessary submit a PR? Thanks!

[2016-07-02 10:36] mxstbr commented on #628
Good idea!

[2016-07-02 10:38] mxstbr commented on #629
This was a conscious decision we made, we favor a clean root folder over exposing all of those configurations.

If your editor does not support it, changing it back to the old dotfile layout is a few copy-and-pastes away!

[2016-07-02 10:38] #629 closed

[2016-07-02 10:42] akaRem opened #631 "store.test.js is duplicated"
subj test suite is located in 2 places with just import difference
[code]

[2016-07-02 10:45] akaRem commented on #629
@mxstbr that's exactly what I've done. :)
Then, probably analize results should be put into some separate folder instead of root of the project..

[2016-07-02 10:53] akaRem commented on #627
@mxstbr
As you have seen in initial report (diff -r) these dirs are exact the same..
I'd propose to reconfigure CI and reporting to put everything into coverage (w/o additional lcov subfolder),  and remove html section.
But I've just started to look at boilerplate and not sure how this could affect integration and documentation, so .. no PR yet.

Probably someone who knows codebase could submit PR

[2016-07-02 10:58] mxstbr commented on #627
Just try it! Doesn't have to be perfect on first try, you know what to do anyway! :+1:

[2016-07-02 10:58] mxstbr commented on #631
Is that after cleaning or in the example app?

(PR? :grin:)

[2016-07-02 11:04] akaRem commented on #631
@mxstbr Noticed after clean command.. And looks like it didn't exit before that

[2016-07-02 11:23] jmcclell commented on #376
@datapimp No worries! Thanks so much for taking the time.

[2016-07-02 11:51] ivnmaksimovic commented on #544
I had

`module.js:327
    throw err;`

Updatin npm version from 2.15.5 to 3.10.3 fixed the problem for me.

[2016-07-02 15:57] mxstbr commented on #618
Due to @datapimp's amazing answer I'll close this for now, feel free to continue the discussion though!

[2016-07-02 15:57] #618 closed

[2016-07-02 15:59] mxstbr commented on #617
It is indeed, because we might reuse the selector.

If you use the same instance of the selector (which you do in the second case), it **cannot memoize the properties**. That means you essentially loose all the benefit of `reselect` by doing that!

See the [`reselect` FAQ](https://github.com/reactjs/reselect#q-can-i-share-a-selector-across-multiple-components) for more information!

[2016-07-02 15:59] #617 closed

[2016-07-02 19:52] JulienMelissas commented on #499
Hate to resurrect an old issue but does anyone have an example of this I can go off of? If so, I'll be happy to contribute back and add a good example to the docs. Thanks!

[2016-07-02 22:17] ivnmaksimovic commented on #337
1. pulled repo
2. npm run setup
3. npm run clean
3. npm run generate container (let's call it "Surveys")
4. npm run generate route ("/surveys")
5. go to /surveys
6. see blank page with console error "ReferenceError: injectReducer is not defined"

1. go to app/routes.js
2. uncomment "import { getAsyncInjectors } from 'utils/asyncInjectors';"
3. uncomment "const { injectReducer, injectSagas } = getA

[2016-07-03 09:53] mxstbr commented on #499
[code]

[2016-07-04 03:37] vimniky opened #637 "Duplicated sagas running in background"
I think there's something wrong with async sagas injection
Say we have the following route:

[code]
The problem is every time  home route got hit  home sagas would be injected and run again and we end up have duplicated sagas  running in background .
I don't know if it's the expected behavior !

[2016-07-04 07:26] timothyallan commented on #637
That's what this is for in the saga:

[code]

[2016-07-04 10:59] #637 closed

[2016-07-04 12:27] bcowgill opened #640 "Consider React storybook to enable stand alone component viewing/prototyping."
I've been using the React storybook to allow me to view my components outside the application.

https://github.com/kadirahq/react-storybook

It's quite useful to set up your component in every possible render state and preview how it looks and operates within the story book prototyping tool.

If you're interested I have some commits to install storybook in boilerplate, preview the A component in t

[2016-07-04 14:16] mxstbr commented on #640
You heard that I helped make https://github.com/carteb/carte-blanche?

We're working on the `react-boilerplate` integration at the moment, should be finished soon hopefully!

[2016-07-04 14:16] #640 closed

[2016-07-04 18:23] dfcarpenter commented on #618
Thanks for the response @datapimp. What I am having trouble with is thinking through where I put my reducers and sagas (async handling, etc). I want a top level Flows page and then have sub components like the details show on the right side and another component, a list of flows show on the left. When the initial flows page is loaded I need to fetch the flows list data and render the list componen

[2016-07-04 19:40] datapimp commented on #618
Hi Daniel aka @dfcarpenter

I would load all of my reducer / saga stuff in the top level container.  I'm assuming that the flow detail stuff is tied to your route, so your redux state would have all of your flows keyed by id, and your views would be tied to the route state.

Watching [Dan Abramov's second egghead.io series](https://egghead.io/courses/building-react-applications-with-idiomatic-redu

[2016-07-05 08:53] bcowgill commented on #640
No, I haven't seen that. I'll give it a try.

[2016-07-05 15:51] gvhuyssteen opened #644 "npm start issue"
I know this issue have been opened before and closed, but none of the advice helped me.

The error I'm getting when running **_npm start_**:
[code]

According to other closed issues, all I needed to do was to install cross-env, which I did.

I have deleted the node_modules folder and ran **npm install** again.
The issue persisted.

I'm running:
Mac: El Cap
node: v6.2.1
npm: v3.10.1

Installation S

[2016-07-05 16:04] ncrawlins opened #645 "Problem with service workers and stale code"
Sorry if there is something fundamental I'm missing in the docs, but I can't figure this out. When I build for production and push to the server, the service workers (or app cache maybe?) still serve old versions of the app when I navigate to the production site.  If hit CTRL-F5 in Chrome to force refresh, I see the new version of the app, but if I then just hit F5, it will revert to the old versi

[2016-07-05 17:09] 10thfloor opened #646 "Problem with npm run setup"
Running the setup command results in the following errors:

[code]

[2016-07-05 17:11] 10thfloor commented on #646
Great project! Thanks.

[2016-07-05 18:09] Pinesy commented on #644
You have something else running at port 3000. Either check your running processes `ps -e|grep node` for any leftover processes, or change the port.

[2016-07-05 18:43] gvhuyssteen commented on #644
Thanks,
There was nothing that was running on port 3000, but when I changed it it did work.
Thank you for your help.

[2016-07-05 18:43] #644 closed

[2016-07-05 20:14] gihrig commented on #645
I see a similar issue. I don't know of a real solution, but I work around the problem in my local environment before `npm run start:production` by:

1. Start react-boilerplate app with `npm start`
2. Open `localhost:3000` (in Chrome)
3. Open Chrome dev tools > Resources tab
4. Delete all cached content under Local Storage, Session Storage, Application Cache, Cache Storage and Service Workers.
5. C

[2016-07-05 21:25] gihrig commented on #646
@mxstbr This is the second recent issue caused by npm < 3 ref #574 (cannot run setup).

I notice `internals/scripts/npmcheckversion.js`, but this in not included in setup. Is there a reason for that?

If not, I would be happy to submit a PR.

[2016-07-05 21:30] gihrig commented on #598
@mxstbr I notice the GK PRs are getting a bit backlogged. I would be happy to take on checking and merging these on an on-going basis, if you would like.

[2016-07-05 21:40] ncrawlins commented on #645
It's not a problem in development, because service workers aren't running.  It's only a problem when a new version is deployed to production.  It is being served from IIS 8.5 running .net core.

Restarting chrome in windows does not fix it, I have to clear all cache or unregister the service workers using  chrome://serviceworker-internals/

I have no problems clearing my cache, but right now we ar

[2016-07-05 21:57] gihrig commented on #645
@mxstbr , anyone else, is there a production-ready solution to updating content in offline-first?

[2016-07-05 22:08] gihrig commented on #337
I can confirm that @ivnmaksimovic's solution fixes the issue.

Is there a reason why that solution is not the default?

Would be happy to submit a PR.

[2016-07-05 22:26] JulienMelissas commented on #499
Thanks @mxstbr. I actually figured it out myself, but your example helped me know I was going about it the right way. PR for documentation here: https://github.com/mxstbr/react-boilerplate/pull/648

[2016-07-06 01:50] bsr203 commented on #545
@bcowgill could you bale to use webpack [resolve.alias] with this setup. I have used alias to avoid relative paths and also to mock some imports during testing. Thanks in advance. (https://webpack.github.io/docs/configuration.html#resolve-alias)

[2016-07-06 08:15] ivnmaksimovic commented on #337
I guess it is not there by default because you would not need it if you don't have containers with sagas on any route, which is unlikely.

[2016-07-06 08:59] yookore opened #652 "What's the best way to persist state to localStorage or some other storage medium?"

[2016-07-06 09:49] skskumbharkar commented on #544
I am still facing this issue even after node-npm upgrade.

[2016-07-06 09:58] skskumbharkar opened #654 "setup does not work"
I have used "npm run setup" but I am facing following issue

module.js:442
    throw err;
    ^

Error: Cannot find module 'D:\react-boilerplate\internals\scripts\setup.js'
    at Function.Module._resolveFilename (module.js:440:15)
    at Function.Module._load (module.js:388:25)
    at Module.runMain (module.js:575:10)
    at run (node.js:348:7)
    at startup (node.js:140:9)
    at node.js:463:3

[2016-07-06 14:07] yookore commented on #654
Can you outline steps you took to get to that point? Maybe a failed git clone?

[2016-07-06 14:10] skskumbharkar commented on #654
Git clone is working fine.
I just used "npm run setup".

[2016-07-06 14:21] bcowgill opened #655 "provide access to coverage html from dev server"
I find it's useful for the development server to have a /coverage/ handler to make it easy to see the test coverage output.

[2016-07-06 14:56] bcowgill commented on #545
my knowledge of webpack is slightly a bit above zero and I've not got time at the moment. I'm just converting an existing project to use react boilerplate and after that's done then will have a look into this.

[2016-07-06 15:28] bcowgill opened #656 ".htaccess file is not removed by npm run build:clean"
rimraf ./build instead of rimraf ./build/*

stats.json isn't cleaned either

[2016-07-06 17:20] bsr203 commented on #545
great news. I solved with the help of Markus, and adapting from his boilerplate

see details.

https://github.com/Drathal/react-playground/issues/2

[2016-07-06 18:58] gihrig commented on #652
Not sure about _best_, but [redux-persist](https://github.com/rt2zz/redux-persist) tackels that problem.

[2016-07-06 19:14] gihrig commented on #654
- I presume your quoted lines in OP confirm `D:\react-boilerplate` is the current dir, but this must be current before `npm run setup.`
- What does `dir .\internals\scripts\setup.js` show you. If it's missing your git clone failed, try again.
- What do `node --version` and `npm --version` show? npm must 3+

[2016-07-06 19:27] gihrig commented on #544
@skskumbharkar Have you tried `npm cache clean`?
Setup is self-deleting (to prevent later disasters), if you have already run it once, you may need to git clone a new copy of the repo.

[2016-07-06 20:00] gihrig commented on #655
Just to clarify, you want to see the test coverage report which is generated at `./coverage/html/app/index.html` on a url like `http://localhost:3000/coverage`, is that right?

[2016-07-06 20:59] gihrig commented on #656
Good catch!

Confirmed on OS X 10.11.5.

How about submiting a PR?

[2016-07-06 22:36] gihrig commented on #656
Does this create a problem?

`.htaccess` and `stats.json` are successfully overwritten on the next build or analyze, so maybe it's not an issue?

[2016-07-07 00:10] gabrielrtakeda opened #658 "Error when building the Webpack DLL..."
When building webpack dll, occurs the error below:

[code]

It seems to be an error produced by `babel-preset-es2015-webpack` module.
Resolved in this issue: https://github.com/gajus/babel-preset-es2015-webpack/issues/10

Just run `npm uninstall --save-dev babel-preset-es2015 ` and thats be ok.

Sorry for the bad English.

[2016-07-07 03:22] mxstbr commented on #646
Oh, I don't know why that was removed! Yeah, please submit a PR fixing that :+1:

[2016-07-07 03:22] #646 closed

[2016-07-07 03:22] mxstbr commented on #645
Oh my, that sounds horrible @ncrawlins! @NekR, any input here?

[2016-07-07 03:23] mxstbr commented on #598
Yes, please do!!

(Closing this since it's done)

[2016-07-07 03:23] #598 closed

[2016-07-07 03:33] mxstbr commented on #658
I thought we used `babel-preset-es2015-webpack` anyway?

[2016-07-07 03:35] mxstbr commented on #656
Not necessarily a problem, but could still be fixed to avoid annoyances where the build doesn't go through and one deploys with some stale files.

[2016-07-07 03:36] mxstbr commented on #655
I could definitely see that being useful, but we need to be careful not to override any user-defined routes and document this very well. Maybe introduce a separate command `npm run coverage:open` that opens the coverage report in the browser instead?

[2016-07-07 03:36] #652 closed

[2016-07-07 03:37] mxstbr commented on #499
Thanks @JulienMelissas, that's awesome!

[2016-07-07 04:10] gihrig commented on #656
@bcowgill Would you like to submit a PR?

[2016-07-07 04:16] gihrig commented on #655
Love the idea of `npm run coverage:open` There's [opener](https://www.npmjs.com/package/opener) that seems well suited.

@bcowgill A PR would be awesome! But if not that's Ok too, just let us know.

[2016-07-07 05:03] NekR commented on #645
Okay, first of all, it's not that bad :-) Let me example you how `ServiceWorker` and `AppCache` update process works.

Browser fetches `ServiceWorker` file each time user _navigates_ to your website. If new `ServiceWorker` is found, it's immediately running along side with current SW. This new SW gets only `install` event a this time, which allow it to prepare/cache assets of a new version. New SW

[2016-07-07 05:08] NekR commented on #645
Oh, and:

If you don't need it--then simply don't use it. But I should warn you that you cannot simply remove `sw.js` and AppCache files from your server. If you will do so, your users will have stale content forever (until manual cache clear). **To stop using SW/AppCache your have to ship uninstall code**.

[2016-07-07 05:19] jakearchibald commented on #645
Here's a quick video where I run through the update cycle of a SW. https://twitter.com/jaffathecake/status/709011058938269696 - it's basically the same as Chrome's update model.

[2016-07-07 05:22] gihrig opened #659 "Document dynamic routes"
Gitter discussion recently covered dynamic routes. Seems like a common feature in some types of apps.

If someone could confirm this works and update [docs/js/routing.md](https://github.com/mxstbr/react-boilerplate/blob/master/docs/js/routing.md) with a few snippets and open a PR that would be awsome :smile:

[2016-07-07 05:22] mxstbr commented on #645
Woah thanks for that @NekR and @jakearchibald – we should add that great explanation to the docs!

[2016-07-07 05:29] NekR commented on #645
@mxstbr Yeah, I think about it too. I'll it to `offline-plugin` docs. Feel free to add it to `react-boilerplate` too, if you think this will help :-)

[2016-07-07 05:33] Antonhansel commented on #658
Same error here:
I've used the project a few times before, even last week without any issues.
Same issue now after a `git clone` and then a `npm run setup`.
Node: 5.0.0
Npm: 3.10.3

[2016-07-07 06:07] Andsbf commented on #654
Setup also doesn't work for me.
Details:
[code]

[2016-07-07 06:10] Andsbf commented on #654
I believe this might be related:

https://github.com/mxstbr/react-boilerplate/issues/658

But I still don't know how to fix it.

[2016-07-07 06:18] lucasqiu commented on #658
@Antonhansel
got same error too. I believe it is due to this recent commit while eslint-plugin-import ditched 1.10.1 and bumped to 1.10.2.
https://github.com/mxstbr/react-boilerplate/commit/a279b0ece6d65c3c3e8870f9a89d3a43d7bf8928
https://github.com/benmosher/eslint-plugin-import/commit/21be81c0feb4b2008c0fba4ca62a50a580c0e779

@mxstbr I tried using eslint-plugin-import@1.10.2 and worked. Let me k

[2016-07-07 07:06] gihrig commented on #658
Merged #660 bump eslint-plugin-import to 1.10.2 smooth setup. Should work, Try now.

Mac OS 10.11.5

Thanks for the PR @lucasqiu 😄

[2016-07-07 07:13] gihrig commented on #654
Seems likely related to #658. That has been resolved (AFAIK).

Please clone a new copy and try again.

Sorry for the problems...

[2016-07-07 08:37] bcowgill commented on #656
Done.
https://github.com/mxstbr/react-boilerplate/pull/661
also deals with issue 628 cleaning coverage before running tests.

[2016-07-07 08:37] bcowgill commented on #628
Done as part of 656
https://github.com/mxstbr/react-boilerplate/pull/661

[2016-07-07 12:58] #658 closed

[2016-07-07 12:59] #654 closed

[2016-07-07 14:18] Andsbf commented on #654
Problem solved here! thanks!

[2016-07-07 14:24] Rampage89 commented on #174
Hello All, Do you have any idea when the server side rendering can be implemented?

[2016-07-07 14:40] dkostenko opened #664 "Proxy http requests"
Thank you for the boilerplate! I've started to use it. But I guess it would be suitable to add such feature: proxy http request to local server (e.g. rails), to have such process: react application on 3000 port and rails server on 3001 port

[2016-07-07 14:52] mxstbr commented on #174
Now? 😁

[2016-07-07 16:44] oliverturner commented on #174
Some thoughts:
- Not a fan of server-side Webpack: too much abstraction at the cost of debuggability
- I have a working SSR implementation with Redux, React Router and full PostCSS/CSS Module support: uses `babel-plugin-css-modules-transform` which builds on `require-hook`. It's awesome... but the integration is against Hapi, not Express.
- Despite the fact that this is a solved issue, my experien

[2016-07-07 18:02] Rampage89 commented on #174
Max :)

Olivier, can you please elaborate why SSR should not be part of the project? Do you see it breaking the minimal working solution principle or you just don't see any benefit?

To be honest, i am not experienced java developer. However, we are starting new react web project and it is up to me to identify, what architecture we are going to use. This template looks great for us. The only thing

[2016-07-07 18:10] tzarger commented on #174
@Rampage89 I agree, I believe moving this project to SSR is about the only thing missing. Many projects would need SSR in order to help with SEO requirements, etc. This project has soooo many great things, it would be tough to re-create this all in a separate project in order to have SSR, so I hope that it does indeed make it in. @mxstbr

[2016-07-07 19:10] ddltechy commented on #664
@dkostenko I was thinking on ask for that feature too!  I'm using json-server to mock up api server calls

[2016-07-07 19:12] mxstbr commented on #664
Not entirely sure I understand the feature here, why do we need a proxy? What's the use case here?

[2016-07-08 00:37] andreyluiz commented on #654
I am still getting the shelljs/global error. Even cloning fresh and new.

[2016-07-08 01:12] gihrig commented on #654
@andreyluiz are you running an npm > 3? `npm --version`
Have you tried `npm cache clean`?

Then a new clone and `npm run setup`?

If that doesn't work please give us a screen capture of your `npm run setup` result.

[2016-07-08 02:28] suhaotian opened #669 "net::ERR_INSECURE_RESPONSE error."
Fixed with [https://github.com/NekR/offline-plugin/issues/77](https://github.com/NekR/offline-plugin/issues/77) config.

[2016-07-08 05:37] tzarger commented on #664
@mxstbr @dkostenko adding node-http-proxy for example is pretty easy and not sure it really needs to be added to the boilerplate. I am actually using it currently and it is just an npm install and then modifying server/index.js to proxy the api.

[2016-07-08 05:51] gihrig commented on #664
The use case would be a react-boilerplate created front-end app that communicates with a backend server available on some `host:port` available on the network.

Suppose another team in your organization maintains a server (written in Node, Java, Rails, PHP, whatever) that exposes an api on port 8080 (or whatever). How would you connect your react-boilerplate front-end to such a server?

Considerin

[2016-07-08 05:55] tzarger commented on #664
@gihrig I agree it is useful, if we added proxying to this boilerplate then we would also need to include a bare bones api server to go with it. That is the reason I mentioned it probably should not be included by default, especially since it is rather easy to add. As stated, I am using node-http-proxy in my app based on this boilerplate so I do agree it is worth the mention. Also agree, perhaps a

[2016-07-08 06:47] dkostenko commented on #664
@mxstbr the other day we started 2 new projects with react-boilerplate. This is really the best boilerplate for ReactJS projects, but in my opinion the most frequent case of using ReactJS application in the pair with the server which provides data for the frontend application. And for developing such systems developers need to run 2 web servers on localhost: one for providing data (i.e. Ruby on Ra

[2016-07-08 07:28] virutmath opened #672 "Error when run `npm run setup`"
This is error log
[code]
My environment `Windows 7`
[code]

[2016-07-08 07:48] gihrig commented on #672
You need to update node and npm.

Npm must be at 3+ node 5+ is recommended

[2016-07-08 09:36] oliverturner commented on #174
Hey @Rampage89 (amazing handle btw) @tzarger

That's exactly my objection

The amount of value will depend on the kind of project you're building. SSR isn't universally useful...

This is true, but many - "applications" rather than content-focused "sites" - will not.

It certainly does... but I'm not suggesting that you need a separate project for it because...

TL;DR
I'd rather provide solid docu

[2016-07-08 10:05] bcowgill opened #674 "package.json5 to allow documenting the configuration"
This might be controversial because it can be annoying for newbies.

I like to use .json5 for any configs that use json. JSON5 allows you to add comments and break across multiple lines so it's great for human readable configuration files, and temporarily commenting things out.

The difficulty lies in npm reading package.json and writing back to it when you install modules.

Personally I solve thi

[2016-07-08 13:13] ncrawlins commented on #645
I must have been misremembering. I can't reproduce that.  Seems to be working as you described.

[2016-07-08 13:56] NekR commented on #645
So, is this still a bug then? @ncrawlins have you managed to make `offline-plugin` to work for you as you want?

@mxstbr maybe we should include SW events by default into boilerplate?

[2016-07-08 13:58] ncrawlins commented on #645
yep, it is working for me. sorry for the initial misinformation about the behavior, but the explanation of how it all works was very helpful.

[2016-07-08 13:58] #645 closed

[2016-07-08 14:51] NekR commented on #645
No problem, I am glad to help.

If something, here I wrote a doc based explanation here (same content, just reworded a bit): https://github.com/NekR/offline-plugin/blob/master/docs/updates.md

[2016-07-08 14:56] BraunreutherA opened #681 "Stateless pages"
Hi there, I'm pretty new to react so maybe this is a wrong thought.
Why are pages always containers? Couldn't they simply be stateless components? For example if there would be a page that only display some instruction code and a button that leads to the 'real' application.

Best regards,
Alex

[2016-07-08 15:32] azampagl commented on #174
Just wanted to chime in before SSR/Universal (and #625) gets much further...

One **huge** benefit of this project is the build process providing static files. This means that any app built can be:

1) Placed on something like Amazon S3 (or whatever super fast static-file server) to serve flat files ridiculously fast. One would then be "forced" to completely separate out their API. Authentication

[2016-07-08 16:17] zanedev commented on #174
+1 Please keep universal rendering optional, static is the way to go for most of the use cases.

[2016-07-08 16:25] jwinn commented on #174
Here's my thoughts/suggestions. Let's add a reference SSR implementation to the docs. Then--or in tandem, create and finish the CLI which allows for the option (at setup) to add SSR support (and any other optional features).

[2016-07-08 16:33] tzarger commented on #174
@azampagl Think of an app like Zillow.com ... public site, built with React needing SEO. I am not talking about a 1 or 2 page site that needs SEO.

@jwinn I like the idea of a CLI option that adds SSR.

@oliverturner I see your points and could agree. Perhaps if not a CLI Option like @jwinn has suggested, at minimum some good documentation where all affected files would need to be modified, or per

[2016-07-08 16:53] azampagl commented on #174
@tzarger Good point, completely agree.  But I imagine a large portion of the users have an app where most of the pages sit behind some type of authentication. I definitely think there needs to be an *option* for some type of SSR for SEO, even at a minimum a guide. I'd just hate to see the static build option go away in favor of a completely SSR/Universal solution.

[2016-07-08 17:01] tzarger commented on #174
@azampagl I agree, there are definitely lots of sites that would not need SEO (primary example for SSR). I think a CLI option during setup would be the ideal scenario. Similar to the way ngrok was removed as default but yet you can still boot it up with npm run start:tunnel.

[2016-07-08 17:23] skskumbharkar commented on #544
I just removed my all installed node_modules.
And then used "npm run setup".
It is working fine now.

[2016-07-08 17:33] skskumbharkar commented on #654
I just removed my all installed node_modules.
And then used "npm run setup".
It is working fine now.
We need npm > 3  npm --version

[2016-07-08 17:37] oyeanuj commented on #174
To add my $0.02 to this as well - this boilerplate already has a lot of features which are most applicable or useful to more complex applications - offline, redux-saga, code-splitting are a few examples. As a similar best practice for applications, I think SSR is probably a healthy default to have (with an option obviously to be able to remove it).

FWIW, all similar boilerplates have a SSR implem

[2016-07-08 17:49] tzarger commented on #174
@oyeanuj Yes, I agree many boilerplates do have SSR and yes I believe that would make this one more attractive too. Whether the default is SSR and then you remove or default is as is (no SSR), then add SSR, either way, as long as there is an option to get SSR whatever way makes sense.

It would be great if it was a setup option similar to generating a Component where it asks:
[code]

Where setup c

[2016-07-08 18:53] gihrig commented on #598
@mxstbr I'm finding GK to be more trouble than it's worth, not fully decided yet.

I've opened [#247 on GK](https://github.com/greenkeeperio/greenkeeper/issues/247).

Will manually update/Test/PR dependency updates for now.

[2016-07-08 19:32] gihrig commented on #174
I _really_ advocate for _optional_ SSR.

I started my boilerplate/starter kit journey with [erikras/react-redux-universal-hot-example](https://github.com/erikras/react-redux-universal-hot-example) because it had "everything".

I eventually moved on because the complexity was overwhelming.

[Find your perfect React starter project](http://andrewhfarmer.com/starter-project/) lists 94 projects. This

[2016-07-08 19:49] tzarger commented on #174
@gihrig I concur on an optional SSR configuration.

Where this project tends to be more complicated to add SSR is due to the use of redux-saga, which by the way, I really like, and having some great documentation would really help. With that, if you have great documentation, having some automation would be great so every time you start a new project that required SSR, you do not have to go through

[2016-07-08 20:11] #672 closed

[2016-07-08 20:14] BraunreutherA opened #684 "ES6 class generator eslint disable"
The generator for creating components with es6 classes could directly set the `// eslint-disable-line react/prefer-stateless-function` flag so there wouldn't be the need to do it it manually every time.

[2016-07-08 20:15] gihrig commented on #674
@bcowgill Seems like a lot of complexity. Can you discuss more on the benefits you have observed from json5? What extent of documentation/commenting would you add to the existing `package.json`?

[2016-07-08 20:20] gihrig commented on #684
Great idea :sparkles:

Would you consider submitting a PR?

[2016-07-08 20:26] BraunreutherA commented on #684
Jap made PR #685 - had to change only for the components in the container generator it's already present.

[2016-07-08 21:02] andyhu commented on #174
@tzarger How about replacing `redux-saga` with `redux-observable` + 'rx'? It looks very promising and interesting.
Check https://github.com/davezuko/react-redux-starter-kit/pull/828

[2016-07-08 21:16] tzarger commented on #174
Hi @andyhu I have head RxJS is up and coming ... and some of the people I have heard using it swear by it. I would definitely be open to it.

However, I am not the one to make those kind of decisions, so I would pass that on to @mxstbr who is pretty strongly set on redux-saga.

[2016-07-08 21:22] Stalso commented on #174
And I think,  that ssr is must have for react boilerplate. First of all,  ssr gives us not only SEO,  but also initial speed is important.  Also ssr provides for us possibility to make fast and good content based sites using react.  It is our job,  guys

[2016-07-08 21:28] BraunreutherA commented on #681
Okay I think thats another thing what I meant is pretty much the same as here:
http://redux.js.org/docs/basics/UsageWithReact.html

If you have a look into the presentational components the App is just a function which assembles multiple stateful components. So in regard to this boilerplate for example I had the case of a signinpage.
-> SigninPage = Component (stateless function)
-> SigninContaine

[2016-07-08 21:37] gihrig commented on #681
Seems like a good case for a stateless container (page).

Beyond those issues there is the matter of consistency of project structure. When a project grows to more than a few "components" and "containers", I find it helpful in "finding may way around" the project, but that could be a matter of personal taste.

Overall, I don't know of any reason a "container" could not be stateless.

Disclaimer -

[2016-07-08 23:12] jaredpalmer commented on #174
@Stalso @gihrig @jwinn Solved these issues months ago....see [react-production-starter](https://github.com/jaredpalmer/react-production-starter).

Features:
- React
- Redux, with async/split reducers (just like react-boilerplate)
- React-Router, with lazy routes (just like react-boilerplate)
- Webpack HMR
- Redial for data fetching, although it's trivial to roll your own Promise-based solution
- A

[2016-07-09 08:41] BraunreutherA commented on #681
Maybe I misunderstood the structure but I thought containers are the stateful and components the stateless objects?
Actually from what I got out of [this article](https://medium.com/@dan_abramov/smart-and-dumb-components-7ca2f9a7c7d0#.4k1av27sn).

[2016-07-09 08:42] mxstbr commented on #174
@jaredpalmer I've deleted your comment. I don't mind references to other boilerplates/starter-kits at all, in fact I think it's a great place to get inspiration from. (I'm pretty sure others have taken inspiration from this one too!)

What you did though is plain advertising for your own, and that's a bit too much. Please refrain from doing that again, though we'd love to have your input about _ho

[2016-07-09 08:45] mxstbr commented on #681
The problem with stateless components is that they cannot be hot reloaded at the moment. This will be fixed very shortly, but currently still affects us.

The idea behind the containers and components split is explained [right here](https://vimeo.com/168648012#t=6m35s), but you don't have to follow what we do in this boilerplate. If you think you want a page to be a stateless component, feel free

[2016-07-09 08:45] #681 closed

[2016-07-09 08:48] mxstbr commented on #684
Done in #685, thanks so much @BraunreutherA!

[2016-07-09 08:48] #684 closed

[2016-07-09 08:50] mxstbr commented on #674
I do see the benefits of adding comments to the `package.json`, but I don't think it's worth the added complexity by default. I think the documentation in the `docs/` folder should be enough to explain most things!

Thanks for chiming in here though, I might use this on a project soon :+1:

[2016-07-09 08:50] #674 closed

[2016-07-09 08:51] mxstbr commented on #664
Ahh, right! I do like the idea behind this, but I don't think it's worth adding by default. @theWar13 went ahead and added this in #679, but I'd much rather see this as a documentation page!

[2016-07-09 08:53] dkostenko commented on #664
@mxstbr great! Thank you

[2016-07-09 12:31] ankitduseja commented on #174
SSR is an important thing for some of sites which depend on SEO heavily. I agree that React was created with an aim to make single page apps better and easier, but the ecosystem surrounding react has led to many other great innovations (apart from react too) which are already a part of this repo and I am sure many people who need to build websites with SEO, would also want to use all the other goo

[2016-07-09 12:39] ankitduseja commented on #376
@datapimp It seems like #625 (SSR) is going to take a while to get merged in this repo, but as you said:

Can we just merge helmet first if that doesn't require big changes or if you could just share some info on that process?

[2016-07-09 12:56] mxstbr commented on #174
I definitely know that SSR is the most important feature to get into this boilerplate. I realize it's important for many people, and I want to add it. We do want a great solution too, since a lot of people are going to be looking at it and using it!

However, I work on this boilerplate mostly in my free time, and have never done SSR before, so I can hardly provide a timeline I'm afraid! If you hel

[2016-07-09 13:07] gkbiswas opened #689 "Unable to setup react-boilerplate"
I got the following error on running "npn run setup" ...

➜  react-boilerplate git:(master) npm run setup

chalk@1.1.3 node_modules/chalk
├── supports-color@2.0.0
├── escape-string-regexp@1.0.5
├── ansi-styles@2.2.1
├── has-ansi@2.0.0 (ansi-regex@2.0.0)
└── strip-ansi@3.0.1 (ansi-regex@2.0.0)

Cleaning old repository ✓
Installing dependencies.. ✓(This might take a while)Installing dependencies
Ini

[2016-07-09 17:17] gihrig commented on #689
See #672

[2016-07-09 17:39] gihrig commented on #376
I have worked with Helmet and found it to very helpful for page specific metadata like title and description. [Examples](https://github.com/erikras/react-redux-universal-hot-example/search?utf8=%E2%9C%93&q=helmet)

[2016-07-09 19:04] #689 closed

[2016-07-09 23:14] ankitduseja commented on #376
I just added a PR #691 for react-helmet. This should bring partial SEO support for search engines that index javascript content and will allow to update title, meta tags.

@mxstbr @datapimp @gihrig

[2016-07-10 12:31] ankitduseja commented on #174
@mxstbr Thanks! Even I also haven't played around with SSR yet, but I'l help wherever I can.

[2016-07-11 00:17] christiansakai opened #693 "Cannot find module font-awesome"
Anyone ever got this? After `npm install` and `npm start` and visits `localhost:3000`, this is what I got in the console

![screen shot 2016-07-10 at 8 16 13 pm](https://cloud.githubusercontent.com/assets/7025139/16717035/430bfaf2-46db-11e6-9a9b-fa89ac4f06f9.png)

[2016-07-11 00:41] suhaotian commented on #693
Please use `react-icons`, it's better!

[2016-07-11 01:39] christiansakai commented on #693
@suhaotian

Which package needs to be replaced to `react-icons`?

[2016-07-11 01:54] suhaotian commented on #693
The boilerplate didn't include `font-awesome` and `react-fa`.

[2016-07-11 01:57] christiansakai commented on #693
Ah you are right! sorry, let me close this

[2016-07-11 01:57] #693 closed

[2016-07-11 02:01] gihrig commented on #693
@christiansakai

If you are getting font-awesome errors after a simple install and start, that's really odd because as @suhaotian says, it's not a part of react-boilerplate.

Maybe you have a corrupt npm cache? try `npm cache clean` Then clone a new copy of react-boilerplate.

[2016-07-11 02:33] christiansakai commented on #693
@gihrig thanks, it was my mistake!

[2016-07-11 04:52] tzarger commented on #606
@Ndpnt Are you planning to create a PR for this? I would be interested in seeing this as well. Thank you!

[2016-07-11 06:04] Ndpnt commented on #606
@tzarger Yes, I'm planning to create a PR but I'm really busy now. I hope I can do it this week.

[2016-07-11 06:47] ChihChengLiang opened #694 "npm run npmcheckversion failed [ERROR: React Boilerplate] You need npm version @>=3"
Thanks for the great project. I just want to try the `npm install`, however it stuck at the checking version. Here's what it shows when I ran `npm run npmcheckversion`

[code]

[2016-07-11 06:49] ChihChengLiang commented on #694
My environment
[code]

[2016-07-11 07:38] mxstbr commented on #694
Huh, that's weird! Does `npm run npmcheckversion` run under sudo?

[2016-07-11 07:53] gkbiswas commented on #689
thanks for the resolution!

[2016-07-11 08:35] mike623 opened #695 "how to get url params in component ?"
I am newbies of react. I am confusing how to get params from props

here is my route setting

[code]
and my url is http://127.0.0.1:3000/AnswerQuestion/asdsad?asdas=asda#asdsad

I can set hash, query(search) set in route store, but cannot find :questionId

[2016-07-11 08:49] mxstbr commented on #695
In the component that is rendered at the route you have access to `this.props.params.questionId`, see the `react-router` docs: https://github.com/reactjs/react-router/blob/112cce48255f930df3270382665223cd41b6f1fa/docs/Glossary.md#routecomponent

[2016-07-11 08:49] #695 closed

[2016-07-11 11:28] Ramzeus opened #697 "Q: sanitize.css and styling of input elements"
I'm not sure this is the right place to ask this question, please forgive me if it is not.

Anyway, I'm trying to do a project with this boilerplate and while trying to create some simple forms for data I came upon the problem of styling for form input fields.
As I understand it sanitize.css remove all styling including all the styles from input boxes. This makes them become invisible unless you p

[2016-07-11 17:53] gihrig commented on #694
Why is this a react-boilerplate bug?

Seems to me like a user config error. Why should `sudo` invoke a different Node version?

As to `npmcheckversion` it does not specifically engage `sudo`. If it's truly a bug that problem would seem to be with the OS or `child_process`. No?

[This](http://stackoverflow.com/questions/20053251/child-process-with-impersonation) may shed some light.

from npmcheckv

[2016-07-11 19:22] chris-kobrzak commented on #654
Had an identical issue as @Andsbf and it's definitely been caused by an outdated NPM package. When I upgraded `npm` from version 2.14.12 to 3.10.5 the installer started working again.

[2016-07-11 22:31] gihrig commented on #646
Incidentally, I'm working on improving setup UX.

PR soon

[2016-07-12 01:17] epilande commented on #535
@brandondurham would you have to restart webpack after changing a variable?

[2016-07-12 04:35] ChihChengLiang commented on #694
It seems that I had a really messy node environments. After removed nodejs and npm and reinstall them, the installation works. For someone who might bump into the same error in the future, note that you have to check if you really removed the nodejs and npm by constantly checking `which node` and `which npm`.

Thanks @mxstbr and @gihrig for helping.

[2016-07-12 04:35] #694 closed

[2016-07-12 10:49] olapersson opened #700 "No helpful error messages when build fails"
This might not be strictly an issue with the boilerplate, but might be an aggregate of things.

Just debugged a build that started failing on heroku, which runs just fine locally. Very frustrating since there's absolutely no useful hint at what's wrong. I tried making webpack log more by setting `DEBUG=webpack-build:*` but output doesn't change.

Had to manually step through changes to pin it down

[2016-07-12 10:58] mxstbr commented on #700
This is a problem with our webpack logging levels setup, these could obviously be improved!

[2016-07-12 12:49] kareem3d opened #701 "heroku: Error R14 (Memory quota exceeded)"
I **sometimes** get this error when I try to deploy to heroku

[code]

So that happens because heroku dynos max. memory size is 512M. I think there's a memory leak somewhere on the npm build command ?

Thanks,

[2016-07-12 15:24] olapersson commented on #700
Would be nice, seems weird that there's no stack trace detailing the failure. I expected more logging when setting DEBUG=webpack-build:*, but that doesn't seem to be it. I'll see if I can find something else related to webpack log levels later.

[2016-07-12 15:30] mxstbr commented on #700
They're defined with the `stats` field in our webpack config

[2016-07-12 16:38] popasquat89 commented on #526
Hey @mxstbr good job on the project! Can't tell you the headaches you've saved me.

One thing about this section that was added, it would be beneficial to include how the selectors are handled in these cases. They start to get muddy when the containers are nested off of a route container.

I.e. If I have a child container, that may rely on some data from the parent container (route container).

Is

[2016-07-12 17:01] chaintan17 opened #702 "Freeze during setup (Installing dependencies)"
I run `npm run setup`
but then it freeze at below state more than 10 minutes.

I using MacOSX Yosemite
~  node -v
v5.2.0
 ~  npm -v
3.10.5

Please advise

[code]

[2016-07-12 17:08] chaintan17 commented on #702
sorry, it works now.

[2016-07-12 17:08] #702 closed

[2016-07-12 18:49] chaintan17 opened #705 "Offline Access is not working"
after git clone, i tried to check offline access feature
by running `npm run start:production`

I first turn on the WiFi and refresh the page, wait for a few moments.
Then set the throttling in google chrome to "Offline"

But there is an javascript error in the console
`main.js:706Uncaught ReferenceError: reactBoilerplateDeps is not defined`

The page are shown in plain white (no happy dinosaur)

[2016-07-12 20:11] gihrig commented on #705
The steps (I think) you outlined work for me on Mac OS 10.11.5, Chrome 51.0.2704. I am able to access both Home and Features pages with network disabled. I can also access GitHub repos when the server is down, but network must be available (of course).

With the server down and network enabled, I do get a console error

![image](https://cloud.githubusercontent.com/assets/1481063/16781839/ea3067ee-

[2016-07-12 23:36] gihrig opened #707 "npm test: ERROR: 'Warning: ReactComponentTreeDevtool: Missing React element ..."
In case anyone is getting this error in tests:

`ERROR: 'Warning: ReactComponentTreeDevtool: Missing React element for debugID 17 when building stack'`

This is a React error, [#7240](https://github.com/facebook/react/issues/7240) Should be corrected in the next React release.

As this is just a Warning and all tests pass, I see no reason to roll back React.

[2016-07-13 01:04] chaintan17 commented on #705
@gihrig Yes, i can access the example app in production mode.
I use MacOSX Yosemite and Chrome latest version.

I have another clue...
with wifi turn off, it's working, i can access the website offline.
But with internet throttling, i cannot made it.

So is it working with internet throttling in chrome debugger tool, or it's just my device?

[2016-07-13 01:44] gihrig commented on #705
It works for me with internet throttling set to "Offline ..."

What happens if you leave internet access on (No throttling), but stop the react-boilerplate server? Does that work?

If that works but you still have problem with Throttling set to Offline, you could try
- Open "Resources" tab in Chrome Dev Tools with localhost:3000 page open
- Delete all entries
- Load Example app in production mode

[2016-07-13 02:28] chaintan17 commented on #705
No luck, all browser produce the same error after stop the server.

But after stop the server, i saw this error in chrome console
![image](https://cloud.githubusercontent.com/assets/2979072/16789961/0c490b4c-48dc-11e6-82ba-234a6d50d45f.png)

btw, may i need your help?
I'm wondering if this offline-loader is the same thing to progressive web app (PWA) ?
Because i thought Safari didn't support it fo

[2016-07-13 02:38] chaintan17 commented on #705
Strange, now I tried with chrome incognito and it's working.

May be it's because i tried to add offline plugin in `webpack.dev.babel.js` first.
And it got wrong cache when load production, i guess.

[2016-07-13 02:43] gihrig commented on #705
Glad to know it's working!

[2016-07-13 02:45] chaintan17 commented on #705
Thanks a lot for your help!
I will close the issue.

[2016-07-13 02:45] #705 closed

[2016-07-13 03:17] tomascharad opened #708 "Evaluate using sw-toolbox"
Hi guys,

Have you evaluated using https://github.com/GoogleChrome/sw-toolbox?

[2016-07-13 08:17] #707 closed

[2016-07-13 08:18] mxstbr commented on #701
Not 100% sure what this could be about, how big is your application?

[2016-07-13 08:34] mxstbr commented on #708
I think it's not worth introducing an abstraction for Service Workers by default in this boilerplate.

We provide a minimum valuable configuration with the `offline-plugin` that just works™, and if people want custom behaviour they can introduce `sw-toolbox` or whatever they want to build their own!

[2016-07-13 08:34] #708 closed

[2016-07-13 08:36] mxstbr commented on #669
Can this be closed @suhaotian? (Ref #670)

[2016-07-13 08:50] mxstbr commented on #697
What you're fundamentally missing here is the mental model of working with CSS modules and components. _You should (almost) never have a use case for global CSS._ Instead of using global styling for `input`, create an `<Input />` component and give it the styling!

Something like this:

[code]

Now put your styles in your `styles.css` file, but make them a class instead of global:

[code]

Done! N

[2016-07-13 08:50] #697 closed

[2016-07-13 08:53] mxstbr commented on #659
This definitely works. :grin:

[2016-07-13 09:29] mxstbr commented on #376
Done by the amazing @ankitduseja in #691!

[2016-07-13 09:29] #376 closed

[2016-07-13 10:31] kareem3d commented on #701
@mxstbr I'm not sure, I have tested with larger applications with other boilerplates and didn't have this problem.

I have commented out the offline plugin and the amount of memory used when I run `npm run build` decreased but still sometimes it fails on heroku

[2016-07-13 10:37] mxstbr commented on #701
That definitely shouldn't happen. Any idea how we can analyze this?

[2016-07-13 10:46] SimonSelg opened #709 "Question: Reducers in non-route containers that are included in multiple routes/containers"
Hey,

the docs state:

![image](https://cloud.githubusercontent.com/assets/9430680/16800581/461daf70-48f6-11e6-8b75-ddf1a5bb6ce9.png)

However, that only works when the container is only included in _one_ parent, because if it's included in multiple parents _reducer composition_ still works, but the state the reducer has access to will be a different substate of the global state, depending on the

[2016-07-13 10:46] afaayerhan commented on #606
please don't do this. react-css-modules wrap in high order components. adds some more computation. and makes inspecting components in dev tools very inconvinent. also requires you to have some extra changes in build step to extra css .......

[2016-07-13 10:52] mxstbr commented on #606
Thanks for playing devil's advocate here @afaayerhan, let's see what @Ndpnt comes up with!

[2016-07-13 11:04] kareem3d commented on #701
I'm testing now on windows, I have cloned a fresh version of this repo, removed the `npm run test` from `prebuild`. And using windows memory resource monitor I can confirm that running `npm run build` takes up to 400MB with a fresh clone.

[2016-07-13 11:08] kareem3d commented on #701
@mxstbr I'll try removing some plugins and build, might find what is causing this memory leak.

[2016-07-13 11:31] xiplias commented on #434
I might also have run into this problem. My case is testing if a component adds the correct CSS class based on a prop like 'selected' is set.

Is this a problem for you? or is there another way of testing/structuring this?

[2016-07-13 12:50] mxstbr commented on #701
Thanks for digging in @kareem3d! Can't wait!

[2016-07-13 14:12] mihir-harbinger opened #711 "How to deploy app on IIS Server?"
I have back-end API written in ASP.NET Web API 2.0. I'm trying get this boilerplate work with it. What is the best way to deploy this app to IIS express or IIS Server? After building the react app I get a dump inside build directory. Do I directly serve that directory on IIS Server?

[2016-07-13 14:22] aspglak opened #712 "Not being able to use the rewire library"
Hi,

Even if the documentation state that we can use the rewire library https://github.com/mxstbr/react-boilerplate/blob/master/docs/testing/unit-testing.md#rewire

I haven't seen it listed in the packages.json file or any configuration about it.

I tried to install it by adding  [babel-plugin-rewire](https://github.com/speedskater/babel-plugin-rewire) but unfortunately, I haven't been able to mak

[2016-07-13 14:56] mxstbr commented on #711
I've never used IIS, so I can't really help you here I'm afraid!

*I'll leave this open for a while, maybe somebody can chime in, but generally I recommend to ask questions in the Gitter channel since you'll get your answere much faster: https://gitter.im/mxstbr/react-boilerplate*

[2016-07-13 14:57] mxstbr commented on #712
Yes, this documentation page needs to be updated, you're right!

[2016-07-13 15:12] suhaotian commented on #669
@mxstbr Yes 😄

[2016-07-13 15:12] #669 closed

[2016-07-13 15:57] oliverturner commented on #712
PR for fix & updated docs incoming

[2016-07-13 17:33] tobyl commented on #711
I have limited experience with IIS, however since the build folder simple contains html and js files you should have no problem with any server capable of serving HTML and JS.

One minor issue I ran into when setting up is that the .htaccess file included in the build folder is needed for routing to work fully - in my case I could view the home page and navigate via links, but if I tried to type t

[2016-07-13 17:52] mihir-harbinger commented on #711
@mxstbr alright, I'lldo that. Thanks @tobyl. I'll try to serve build directory on IIS express first thing tomorrow.

Please keep this issue open for now. Thanks again for the help!

[2016-07-13 17:53] tobyl opened #717 "Multi Tenant (theming)"
Hello all

I'm really enjoying working with the boilerplate so far, it's a great blend of simplicity and capability.

The question I'm wondering about is, what would be the simplest path towards using this for a multi tenant environment?

Here's my basic requirements:

* To have a default app with pages, components and containers
* To be able to additionally include CSS and custom components for a

[2016-07-13 17:54] tobyl commented on #711
no problem - let us know if it works.  :)

[2016-07-13 21:40] mxstbr opened #719 "Add NamedModulesPlugin"
Ref https://github.com/ericclemmons/webpack-hot-server-example/pull/7

[code]

instead of

[code]

[2016-07-13 23:34] tomascharad commented on #418
This same thing happened to me, but I'm trying to run webpack from sails with sails-webpack and importing and exporting de config from webpack.dev.babel.js, so it is probably an environment problem in my case.

[2016-07-13 23:40] tomascharad commented on #418
Solved by using:

[code]

[2016-07-13 23:50] tomascharad opened #720 "Dev dependencies?"
Hi,

Not sure, but maybe these dependencies should go on dev-dependencies:

react-redux, react-router, react-router-redux, react-router-scroll?

Or are they supposed to provide universal (isomorphic) features?

[2016-07-14 04:28] chaintan17 opened #721 "WebStorm debugging tool didn't work out-of-the-box"
WebStorm is a great IDE
and i feel like many people also use this tool for debugging, if not Chrome Debugger Tool.

Basically, you can install JetBrain in Chrome Extension and then you can use this IDE for debugging.

However, with WebPack, we need source map file for debugging real file.
And with source map, look like JetBrain currently only work for this parameter in webpack config

`devtoo: 'so

[2016-07-14 06:15] gihrig commented on #720
Nope, those are the core of the boilerplate and any app created with it.

Suggest you look up those modules on npmjs.com to learn more about what they do.

Thanks for contributing!

[2016-07-14 06:15] #720 closed

[2016-07-14 06:28] gihrig commented on #721
The choice of source-map settings was made for performance reasons see #541 and #411.

Having said that, WebStorm is a popular IDE, if you would like to submit a PR to add the necessary configuration to get WebStorm's debugger working with react-boilerplate, that would be a helpful addition.

[2016-07-14 06:44] chaintan17 commented on #430
@kunal-mandalia may i ask some newbie question here?
I tried to add backend in this boilerplate, after follow your instruction. I cannot start the server.
It said that...

[code]

in `/api/index.js` file

Is it because i should add this folder for babel to transpile?
But how can i do that?

[2016-07-14 07:04] mxstbr commented on #721
I don't think we should enable that source map by default to be honest, since not everybody will use WebStorm, but this should definitely be added to the FAQ! :+1: Good catch @chaintan17!

[2016-07-14 07:13] gihrig commented on #721
@mxstbr @chaintan17 Oops, I meant to say "... add the necessary configuration _to the docs_ to get...

My bad for not proofing 😦

[2016-07-14 09:35] chaintan17 commented on #721
i create pull request here https://github.com/mxstbr/react-boilerplate/pull/723

[2016-07-14 13:16] mihir-harbinger commented on #711
It worked! As correctly mentioned by @tobyl I had to override default URL settings. I couldn't figure out how to do it using IIS URL rewriting module. Instead I wrote the rules in web.config of ASP.NET project.

Another way is to create an empty MVC application and configure default routing in routeConfig.cs. You can find snippets on StackOverflow for the same.

Hence closing the issue.

[2016-07-14 13:16] #711 closed

[2016-07-14 23:12] tresl opened #725 "Errors when using "npm run setup""
This is the error log I got. Running on windows 7 and tried with version 4.4.7 of node also.
[code]

[2016-07-14 23:58] gihrig commented on #725
Sounds like your clone of react-boilerplate failed in some way.

Suggestions:
1. Clear the npm cache `npm cache clean`
2. Delete the react-boilerplate folder
3. `git clone https://github.com/mxstbr/react-boilerplate.git` a new copy and try `npm run setup` again.

[2016-07-15 00:08] CestDiego commented on #725
I get this error as well when cloning with the instructions listed in the doc

` git clone --depth=1 https://github.com/mxstbr/react-boilerplate.git`

[2016-07-15 00:12] klummy commented on #725
I am getting similar error and following @gihrig's instruction didn't work

[2016-07-15 00:24] gihrig commented on #725
@CestDiego @klummy Hmmm... Can you check to see if `C:\Users\YOUR_USER\react-boilerplate\internals\scripts\setup.js` actually exists?

Note: that setup.js is removed after completion, so it can't be run twice. But since you are reporting the same error, I'm assuming that it did not run to completion.

Also please provide your node, npm and OS versions

PS, A new install works for me
Node 5.8.0, np

[2016-07-15 00:59] CestDiego commented on #725
I cloned it without the --depth parameter and it works.. I was using node 6
and npm 3

On Thu, Jul 14, 2016 at 8:24 PM Glen Ihrig <notifications@github.com> wrote:

--
Diego Berrocal
http://cestdiego.github.io

[2016-07-15 03:25] gihrig commented on #598
@mxstbr I'm falling behind on the GK updates, some thoughts:
1. It's not a big problem, at this point a dependency version roll-up is probably indicated.
2. I Would rather spend the time I would put into testing the updates for the roll-up into getting to know Percy (UI integration tester) understood and operating.
3. I have lost time recently with cleaning up a server compromise and need to get t

[2016-07-15 03:37] gihrig commented on #725
`I cloned it without the --depth parameter and it works.. I was using node 6
and npm 3`

@CestDiego Interesting, I just cloned _with_ the `--depth` parameter, and it worked.

Regardless, I'm glad it's working for you now 😃

@tresl @klummy it is working for you? If not try:
1. A new clone
2. `npm install`
3. `npm start`

Let us know.

[2016-07-15 06:06] Lucas-Qi opened #726 "Do we need more than one SPA in large site?"
So far, we have seen many Reactjs SPA(Singe Page App) demos like this one. This one is of course very good.

However, if we were to build a large website, I would think that maybe we need more than one SPA within that site.

For every part of the large site, we can have one SPA, that means, we would have one "bundle.js" for one part of the website.

Does this mean I need to have multiple WebPack i

[2016-07-15 06:16] akashshinde opened #727 "Redux-Form integration"
I am using this boilerplate with `redux-form`, I have configured `redux-form`.It would be great to see `redux-form` with `react-boileplate`

[2016-07-15 06:55] Rampage89 opened #728 "Karma DEPRECATED warning"
Dear All,

I installed latest clean version of the boilerplate. When i run the test, i encounter warning message from karma (please see the last line in code below). Would you please guide me what is causing the DEPRECATED message in karma?

Thanks and regards.

[code]

[2016-07-15 07:07] gihrig commented on #727
@akashshinde Do you mean to say you have redux form working with react-boilerplate?
If it's possible, any example code you could provide, perhaps as a GitHub gist, would be awesome!

It has been determined that redux-form is probably out of scope for this boilerplate project.
However, there are several issues on the subject #383, #453, #567.

I am attempting to put together a reference implementat

[2016-07-15 07:13] gihrig commented on #728
It's just Karma announcing that as of 2.0, Karma will no longer export lodash '_'. It's just a warning, not a problem, until Karma 2.0 is released.

[Karma source](https://github.com/karma-runner/karma/blob/5c6b151d4a1f553b81e2b07202dbec09de95d680/lib/helper.js#L172)

[2016-07-15 07:14] #728 closed

[2016-07-15 09:40] wmertens opened #729 "Revisiting ducks"
The way I understand it, the main reason that you don't like ducks is because of the somewhat weird exports structure. On the other hand, using them would provide the following benefits:
* Less clutter: only 1 file vs 3/4/5 (if you count sagas and selectors)
* Less boilerplate: no need to import constants
* All the code regarding certain state is colocated, making it easy to understand how each pa

[2016-07-15 15:11] tobyl commented on #727
I'd find this very useful too, and agree that it should be a recipe/example, not part of the base boilerplate.

[2016-07-15 15:23] tresl commented on #725
I cloned with the depth parameter, and followed the instructions just posted and it worked. Thanks!

[2016-07-15 20:27] albertpak commented on #544
worked for me after upgrading to latest npm

[2016-07-15 22:10] nmanii opened #731 "Error when running npm run setup"
Hello everyone,

I tried to install the react-boilerplace and i have an permission denied error. I tried to delete the folder and try to install it again but got the same problem.

Node version: v4.4.7
npm version: 3.40.5

Stack trace :

[code]
Anyone know where i need to change the permissions?

Thanks

[2016-07-15 23:31] gihrig commented on #725
`npm run setup` provides a clean git repo to start working in. see the [docs](https://github.com/mxstbr/react-boilerplate/blob/master/docs/general/commands.md) and [source](https://github.com/mxstbr/react-boilerplate/blob/master/internals/scripts/setup.js)

[2016-07-15 23:37] gihrig commented on #731
I would think you would need read, write and execute in the folder where you run `npm setup` and possibly its parent so you have those permissions in the created react-boilerplate folder when cloning.

[2016-07-16 00:34] gihrig commented on #598
Well, Percy is likely not appropriate. It's UI framework dependent and does not (yet) support React 😦

I'm considering options...

[2016-07-16 06:44] akashshinde commented on #727
@gihrig @tobyl

Take a look at [link](http://redux-form.com/6.0.0-alpha.14/examples/immutable/)

Tips to use `redux-form` with `react-boilerplate`

1. Use `Field` component provided by `redux-form`
2. Add `form reducer` as shown in [docs](http://redux-form.com/6.0.0-alpha.14/docs/api/Reducer.md/)
3. Connect `dummy component` using `reduxForm()`

Import must be

`import { Field , reduxForm } from '

[2016-07-16 10:56] nmanii commented on #731
Here the rights on the folders :
For www
`drwxr-xr-x 20 user root  4096 Jul 15 18:09 www`

For lafClient
`drwxr-xr-x  8 user user    4096 Jul 15 17:59 lafClient`

and for the content inside lafClient
[code]

Am i missing something ?

[2016-07-16 15:04] chaintan17 commented on #396
If someone want how to do local storage, i have a work around on it. I will describe below.
I initially think that i will do a new lib, but there is already `redux-persist` out there, just that it still have some bug with their immutable (https://github.com/rt2zz/redux-persist-transform-immutable/issues/13)

My work around is to subscribe the store and keep the it in `localStorage` and load it onc

[2016-07-16 17:07] nmanii commented on #731
You were right, it was i missed an execution right on my nfs. i forgot the exec params in /etc/fstab.

Thank you

[2016-07-16 17:08] #731 closed

[2016-07-16 18:17] chaintan17 commented on #457
@mxstbr i checked the code and it's already using `fromJS({})`
https://github.com/mxstbr/react-boilerplate/blob/50fe5c66d49bfe80696d94a17e8c704e928f034e/internals/generators/container/reducer.test.js.hbs#L7

[2016-07-16 18:20] #457 closed

[2016-07-17 11:59] rpoitras commented on #726
Hi Lucas,

We are being a new project and this starter is one of two that I am really interested in. I have the same question as you. I need to dig deeper into the authors documentation and see if there is guidance on the subject that I have missed. But seeing you've raised the topic, I thought I would weigh in. 😄

I would prefer to work with one SPA for as long as possible. Regardless of that man

[2016-07-17 13:47] chaintan17 opened #732 "Default test template for selector is failed automatically."
When create new component including test template.
Without changing anything, the test suite become failed as below

[code]

Is it should be fixed? If yes, I'm trying to fix it.... :) `#grabs-for-grabs` `#first-timers-only`

[2016-07-17 14:00] tomascharad commented on #720
Thanks @gihrig,

I know what they do, but at a first glance, your server doesn't depend upon those libraries.
Your clientSide app does, but after you have bundled these deps, they are no longer needed, or am I wrong?
In this case you only need these libraries for development only.

[2016-07-17 15:40] acterhd opened #735 "Errors with stylus (css)"
I tried install stylus to boilerplate, but got errors. I tried write dependence in package.json.
[code]

[2016-07-17 16:17] gihrig commented on #735
You have many "module not found" messages. Did you run `npm install` after adding stylus to `package.json`

Did the react-boilerplate example app work before you added stylus?

If yes, try:
1. Delete your `npm_modules` folder
2. Run `npm cache clean`
3. Run `npm install`

Having said all that, there does not appear to be good postcss [support for stylus](https://github.com/postcss/postcss/issues/6

[2016-07-17 16:27] gihrig commented on #732
All generated tests fail as initially created. They are basic stubs, sort of reminders that you need to write tests for you your new container.

It would be nice if all generated tests were more complete. For example, present a failing test not an error.

[2016-07-17 16:28] #725 closed

[2016-07-17 16:37] gihrig commented on #720
I guess that depends on how you write your app. The whole point of react-boilerplate is integrating those libraries. If you app does not use them, feel free to make changes in your copy.

Remember, react-boilerplate is a starting point. Where you take your app from there is up to you.

[2016-07-17 17:43] kunal-mandalia commented on #430
@chaintan17 hey who didn't start off as a newbie? :)

So your api should sit within your `server` folder. Here's how I have it:

`server > middlewares > api.js` you'd write the api here as azampagi suggested
`server > index.js` in this file you 'use' the api by `app.use('/api', api)`

The project's been setup for this to  work without any other configuration; give my suggestion a go and let me kno

[2016-07-18 02:28] cristyansv commented on #726
I think this might help.
http://blog.mxstbr.com/2016/01/react-apps-with-pages/

[2016-07-18 06:11] mxstbr commented on #726
There's two ways to go about this: a) use a new setup (i.e. boilerplate) for each SPA or b) tweak the webpack configuration to have multiple entry points.

Schematically, for b), in the webpack config, add `entry: [ 'app/app.js', 'secondapp/app.js' ]`. There might be a few kinks here and there but it should work.

We automatically code-split along the routes if you generate them, so those are sepa

[2016-07-18 06:12] #726 closed

[2016-07-18 09:16] BraunreutherA opened #738 "move server folder into internals folder"
Hi, shouldn't the `server` folder get moved into the `internals` folder as it belongs to the build tool?
I personally thought in the first moment it would be one of these fullstack boilerplate projects which simply stick their server code int the client or the other way round which I really don't appreciate much.

[2016-07-18 10:15] LokiMasterMind opened #739 "Error while running npm run generate container"
Hi ,

any one knows what was the issue ???

Error :

![image](https://cloud.githubusercontent.com/assets/15119623/16911852/8081cde8-4cfe-11e6-9627-fa5f54530b4d.png)

Thanks

[2016-07-18 10:48] acterhd commented on #735
I tried manually install stylus modules, and clean cache. Now no errors. But in my project (color-picker) I used https://github.com/newtriks/generator-react-webpack

[2016-07-18 14:51] tobyl commented on #727
Hi @akashshinde - this is useful, many thanks - I had 5.3.x installed, was not aware of v6.

Any gists you could provide would be greatly appreciated too though!

[2016-07-18 16:15] bobkocisko opened #741 "How to add react-bootstrap via npm?"
So I'm trying to add the react-bootstrap library and I'm unhappy with the solutions I've seen so far. I've read https://github.com/mxstbr/react-boilerplate/issues/238 but I would really prefer to use npm to install bootstrap-css-only rather than downloading bootstrap.min.css manually into a styles folder.  Also I'm looking for some guidance for how to best use the (global) react-bootstrap CSS with

[2016-07-18 18:00] hansoksendahl commented on #384
My coworker and I also ran into the issue of sagas being injected multiple times for second level URLs from the react router configuration.  This does not appear to be fixed.  Implementing the injectAsyncSagas refactor mentioned by @kraffslol fixed the bugs we were experiencing.  I suggest that @kraffslol's refactor be merged into the boilerplate.

[2016-07-18 19:17] #735 closed

[2016-07-18 19:24] gihrig commented on #738
My feeling is that _server_ should remain where it is so developers understand its presence. It's intended to be replaced with a _real_ back-end server if that's what your project requires. #664 discusses that issue.

[2016-07-18 19:29] gihrig commented on #741
Did you see #595. I believe it addresses a similar problem.

[2016-07-18 19:42] gihrig commented on #384
@kraffslol @hansoksendahl How about submitting a PR?

[2016-07-18 19:52] Globolobo commented on #465
I'm only using an express server and i'm running into the same issue.

[2016-07-18 20:07] gihrig commented on #465
@Globolobo Please describe the command sequence you are using to reproduce the error.

Do you see all the `.go` files as in the OP? These are not part or react-boilerplate, could this be a GitHub error not related to react-boilerplate?

I run:
`git clone ...`
`cd react-boilerplate`
`npm start` (get example app on localhost)
`npm clean`
`npm start` (get "This is the Homepage" on localhost)

[2016-07-18 20:36] Globolobo commented on #465
@gihrig thanks for the quick response! As I mentioned before it's an ngrok issue, they're aware of it but haven't tackled it yet (which is a dependency for boilerplate)

As far as seeing the same errors as OP, yea, i'm seeing the exact same ones.

I'm running an older version of boilerplate that had ngrok running by default on the server. So in order to reproduce the issue with the current boilerp

[2016-07-18 20:59] gihrig commented on #465
@Globolobo Thanks for the clarification!

FWIW, `npm run start:tunnel` and `export ENABLE_TUNNEL="true"` both work as expected with the current react-boilerplate.

Thanks for your contribution 😃

[2016-07-18 21:49] rog opened #746 "Greenkeeper"
There is a way to make the greenkeeper updates once every week or something like that?
I think they are kind of spamy and most of them are minor updates.

Maybe one update every weekend in one PR with all the updates.

![screen shot 2016-07-18 at 16 43 26](https://cloud.githubusercontent.com/assets/1069532/16931571/3b369a8a-4d07-11e6-8633-0978e0445a6f.png)
![screen shot 2016-07-18 at 16 43 40](htt

[2016-07-18 21:55] gihrig commented on #746
Funny, you should ask 😆

I'm arriving at the same conclusion. There appears to be no way for GK to open a weekly update PR.  ref GK [#247](https://github.com/greenkeeperio/greenkeeper/issues/247)

I'm working on an update deps roll-up as we speak.

[2016-07-19 00:27] gihrig commented on #739
@LokiMasterMind This is kind of a lame shot-in-the-dark solution, but I just pushed a dependency roll-up update. #748

Clone a new react-boilerplate and try again?

I did try the generators as part the roll-up testing process, no problems.

`Mac OS 10.11.5`
`npm 3.8.2`
`node 5.8.0`

[2016-07-19 01:03] somghosh commented on #443
+1

[2016-07-19 01:33] gihrig commented on #746
@mxstbr I understand you are traveling? But, is it possible for you to disable Green Keeper?

It's actually less work, less spam and less confusion to manually do weekly roll-up updates, which I'm willing to continue doing.

[2016-07-19 01:33] #746 closed

[2016-07-19 05:40] garajo commented on #537
I want to run a saga in the container/App level, and I landed on this question thread, which at first seemed to solve my problem. But the saga never gets invoked. I created a `container/App/saga.js` file and hook it up as mentioned above `sagaMiddleware.run(yourSaga);`. I've verified the saga gets included. But when I try to dispatch an action from `App/index.js`, and though the state does get cha

[2016-07-19 05:58] fforres commented on #652
The persistance model that [redux-persists](https://github.com/rt2zz/redux-persist) uses, it's based on persisting the whole store (Blacklisting or Whitelisting) specific reducers.

I've been toying aroung with [redux-storage](https://github.com/michaelcontento/redux-storage), it uses a reducer enhancer instead of a store enhancer for persitance (https://github.com/rt2zz/redux-persist/issues/130)

[2016-07-19 06:50] #741 closed

[2016-07-19 07:32] mxstbr commented on #746
Done, it's disabled!

Thanks for all the work you've been doing in keeping this repo sane, you rock! :tada:

[2016-07-19 07:34] mxstbr commented on #739
Works for me on macOS 10.12 too. Are you on Windows by chance?

![screen shot 2016-07-19 at 09 34 21](https://cloud.githubusercontent.com/assets/7525670/16942028/032df95c-4d94-11e6-9681-dd5ba52892f4.png)

[2016-07-19 07:36] gihrig commented on #746
@mxstbr And You and this repo likewise rock - _that's_ why I'm here 💯

[2016-07-19 07:37] mxstbr commented on #738
As @gihrig correctly mentions, the `server` is exactly where it should be! It isn't an internal feature, many people will want to add an API, a database, etc.

See the discussion in #211:

– @oliverturner

[2016-07-19 07:37] #738 closed

[2016-07-19 07:39] mxstbr commented on #729
(Ducks also make it seem like actions:reducers are a many:1 relationship, where in reality it's a many:many relationship and should be treated as such.)

I do agree that it's a useful pattern if the entire team knows what's up, so I won't keep anybody from doing it that way.

Imo this boilerplate has enough complexity as is, so I don't think including it by default is the way to go here. It'll jus

[2016-07-19 07:39] #729 closed

[2016-07-19 07:40] mxstbr commented on #727
I'll close this since the question seems answered, feel free to continue discussing though!

[2016-07-19 07:40] #727 closed

[2016-07-19 07:41] mxstbr commented on #717
I think you'd want to go with a separate entry point for each tenant, otherwise you'll end up copy-and-pasting the webpack config _a lot_.

I'll close this issue for now – hope you can figure it out!

[2016-07-19 07:41] #717 closed

[2016-07-19 07:44] mxstbr commented on #709
To be honest I've never had that usecase so far, so I've never done it. Could you add a wrapping container (i.e. `wrapper -> (NewContactPage & ContactDetailPage)` that handles the choosing?

[2016-07-19 07:45] #115 closed

[2016-07-19 07:47] gihrig commented on #652
Nothing new to add, but the contribution is appreciated 😃

Let us know how your chosen persistence method works out.

[2016-07-19 07:52] mxstbr commented on #471
Closing this as a duplicate of #180, let's continue discussing there!

[2016-07-19 07:52] #471 closed

[2016-07-19 10:48] virutmath opened #750 "How to add css file to index.html"
I've try follow https://github.com/mxstbr/react-boilerplate/issues/238
Here is my code
[code]

`index.html`

[code]

My commandline not show error. But when I try open link : http://localhost:3000/bootstrap.min.css:

[code]

How can I fix it

[2016-07-19 10:52] rog commented on #750
I think #238 is referencing the old version of react-boilerplate, did you check: #595?

[2016-07-19 11:03] Lucas-Qi commented on #726
Thanks a lot! @rpoitras @cristyansv @mxstbr
It is really an art to structure the apps!
: D

[2016-07-19 11:24] mxstbr commented on #750
I think doing

[code]

will fix your issue. (notice the prefixed `!!`) if that doesn't work, try prefixing just one `!`. If that doesn't work, please comment again!

[2016-07-19 11:31] kachkaev opened #751 "Docker"
Web app development inside Docker containers becomes really popular these days as it frees us from installing global libraries on both dev, staging and prod machines. We also make our apps OS-agnostic, which means that even unlucky Windows guys can run binary npm modules without any problems. I believe that using Docker will soon turn into a mainstream just as it happened with git & github a few y

[2016-07-19 12:19] Bijayini opened #752 "Getting issue on npm install"
0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'run',
1 verbose cli   'npmcheckversion' ]
2 info using npm@2.14.12
3 info using node@v4.3.2
4 verbose run-script [ 'prenpmcheckversion',
4 verbose run-script   'npmcheckversion',
4 verbose run-script   'postnpmcheckversion' ]
5 info prenpmcheckversion react-boilerplate@

[2016-07-19 12:36] rog commented on #752
the problem is that you need `npm >= 3`, but i'm curious about the error. Can yo share more info about your system? SO, or the full `npm-debug.log` ?

[2016-07-19 14:06] bobkocisko commented on #741
Thanks gihrig, that was close to what I'm looking for.  Here is how I ended up solving the error.

**package.json**
[code]

**internals/config.js**
[code]

As far as integration between the global css of bootstrap and the css-modules / PostCSS local css, there appears to be two options.  Either you can use `:global` in the css module to affect/override global styles, or you can create local styles

[2016-07-19 14:53] chaintan17 commented on #751
I'm not an expert, but I've actually already setup Dockerfile that works. I don't need docker-compose.yml since this boilerplate is isolate to other services. I will send a pull request and ask maintainer to review this.

[2016-07-19 15:02] kachkaev commented on #751
It would be good to see how you approach this @chaintan17. Here are a couple of other sources of inspiration we may use:
https://medium.com/@tribou/react-and-flux-a-docker-development-workflow-469957f3bbf0
https://github.com/zetkin/universal-react-redux-boilerplate

[2016-07-19 15:35] mxstbr commented on #721
Done by the amazing @chaintan17 in #723!

[2016-07-19 15:35] #721 closed

[2016-07-19 15:46] Bijayini commented on #752
<img width="1439" alt="screen shot 1938-04-28 at 9 14 42 pm" src="https://cloud.githubusercontent.com/assets/15208077/16956382/e6222196-4df5-11e6-90b3-05d1fe5c59e6.png">

[2016-07-19 15:48] chaintan17 commented on #751
Please try the above pull request https://github.com/mxstbr/react-boilerplate/pull/753
feel free to let me know there is something missing or if it still not answer to your need.

[2016-07-19 15:55] kachkaev commented on #751
Thanks @chaintan17! Do you have any solution that could be used both during development when the volume is linked from the host and in production when the code is a part of the container and all modules are installed? What is your opinion on [netboostrap's approach](http://nodebootstrap.io/documentation.html#docker-support)?

[2016-07-19 16:00] virutmath commented on #750
thank @mxstbr . That's worked. btw, how can I link the css file on index.html?
my folder `bower_components` is in same level with app.js and index.html

[2016-07-19 16:08] LokiMasterMind commented on #739
@gihrig
I had clone latest copy of repo but still getting this error.

@mxstbr
Yes, I am using Windows 10 OS
npm 3.10.5
node 5.5.0

[2016-07-19 16:48] mxstbr commented on #739
@jwinn could you investigate this? That'd be great!

[2016-07-19 16:49] mxstbr commented on #750
`<link href="bootstrap.min.css" />` or `<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" />` not 100% sure about your setup!

[2016-07-19 16:54] virutmath commented on #750
I mean, how can I link the file without import in app.js
With `import` in app.js, I've solved.

[2016-07-19 16:59] jwinn commented on #739
@mxstbr @LokiMasterMind Just looking at the error message, `rx-lite` is throwing an error on a poorly formed regex `/.{1,0}/`. Before I check in windows whether the bp works or not, can we determine if this is caused by `rx-lite` which is not in the bp?

[2016-07-19 17:45] mxstbr commented on #750
You can't, it has to go through webpack for it to be moved to the `build` folder in production.

[2016-07-19 17:45] #750 closed

[2016-07-19 17:45] mxstbr commented on #739
Seems to be used by `inquirer`, which is used by `plop` which we use for the command line stuff.

[2016-07-19 18:47] jwinn commented on #739
I am able to run this on Windows 10 _successfully_

**Steps I took**

[code]

[code]

[code]

**System Info** (Running with ConEmu/Cmder)

[code]

[2016-07-19 19:11] mxstbr commented on #739
Thanks so much @jwinn!

So, this means it's definitely something related to your environment then @LokiMasterMind. Sorry we can't help you more!

[2016-07-19 19:11] #739 closed

[2016-07-19 19:40] gihrig commented on #741
Seems like an entry to docs/css explaining the use of global css libraries in general would be a welcome addition.

A PR would be awesome!

@mxstbr Agree?

[2016-07-19 20:10] Mangirdaz opened #754 "npm run setup fails"
[code]

cat /home/mangis/workspace/react-boilerplate/npm-debug.log >>
https://gist.github.com/Mangirdaz/b2ad8666e8637ef7b70fc2f6453b4615

[2016-07-19 20:15] rog commented on #754
You need at least `npm 3` and you have `npm v2.15.8`

[2016-07-19 20:21] Mangirdaz commented on #754
sorry, debug output:
[code]

https://gist.github.com/Mangirdaz/19a5bd702105135e35c4902d902dbc07

Looks like some dependencies is not satisfied with install (new to npm, will check)

[2016-07-19 20:27] Mangirdaz commented on #754
looks like these could be an issue on my fedora:
`npm WARN optional Skipping failed optional dependency /chokidar/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.0.14
npm WARN optional Skipping failed optional dependency /karma/chokidar/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.0.14
`

[2016-07-19 20:36] timothyallan commented on #709
I'm in the same boat. I want to make a semi-global UI reducer and am figuring out how to best implement it.

Another use case: I've got various components are able to open/close various dialog boxes at any point. I need to maintain the visibility state of those dialogs so that Component A can know that Dialog A is already open, and won't open another, even if Dialog A was opened by Component B.

B

[2016-07-19 21:12] rog commented on #754
Try removing the `node_modules` folder and try `npm install` again.

The error you have now is similar to this #725

[2016-07-19 21:14] rog commented on #752
the issue you have is that you are using `npm 2.14` try updating to `npm 3` delete the `node_modules` folder and try `npm install` again.

[2016-07-19 21:26] Mangirdaz commented on #754
same :/

`[root@mj react-boilerplate]# cat /home/mangis/workspace/react-boilerplate/npm-debug.log
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/bin/npm', 'run', 'setup' ]
2 info using npm@3.10.5
3 info using node@v4.4.7
4 verbose run-script [ 'presetup', 'setup', 'postsetup' ]
5 info lifecycle react-boilerplate@3.0.0~presetup: react-boilerplate@3.0.0
6 verbose lifecycle re

[2016-07-19 21:54] gihrig commented on #754
It is safe to ignore `WARN` messages, they are not a significant problem, in general development and specifically in this case. @rog is correct, you must have npm 3+.

@Mangirdaz you should be good to go now. I'm closing this issue as it is resolved. If you have additional problems please open an new issue.

[2016-07-19 22:00] kachkaev commented on #751
Just found one more cool demo video on developing and deploying docker apps! Here:
https://www.youtube.com/watch?v=_Y2AI-j6ce0

Since recently there exists [`yo`](yeoman)` docker` command that enables Docker environment in an existing node.js project.

[2016-07-20 04:00] fuxianwei opened #755 "antd on-demand loaded, couldn't find the component packaging"
When can I use the antd components, debugging on-demand loaded antd (`import {DatePicker} from 'antd'`)Page load components, normal operation: `npm run start: production` Build out of the bag can't load components
A browser error：Uncaught (in promise) ReferenceError: DatePicker is not defined

I use the
 "antd": "^1.6.5"
"babel-plugin-antd": "^0.4.0"

How can I solve this problem, thank you
packag

[2016-07-20 05:00] Bijayini commented on #752
Hey,

I tried npm install after deleting node_modules. It's giving the below error.
<img width="1439" alt="screen shot 1938-04-29 at 10 27 33 am" src="https://cloud.githubusercontent.com/assets/15208077/16975517/ed2537ac-4e64-11e6-82e9-02a40d014692.png">

[2016-07-20 05:02] rog commented on #755
Maybe you need to specify the plugin on the babel production env options:

[code]

[2016-07-20 05:04] rog commented on #752
You still have `npm 2.14`, to update npm you need to execute: `npm install -g npm`, then again delete the `node_modules` folder and try `npm install` again.

[2016-07-20 05:31] fuxianwei commented on #755
@rog Thank you for your reply
But when I added babel production env options build or not load components

[2016-07-20 05:51] Bijayini commented on #752
Thank You.. It's working fine now.

[2016-07-20 06:24] #752 closed

[2016-07-20 06:28] mxstbr commented on #709
Why not make the dialog a container with a reducer that maintains it's own state?

[2016-07-20 06:28] mxstbr commented on #741
Agree!

[2016-07-20 07:55] Mangirdaz commented on #754
I still get same error but now stuff starts. If this is acceptable from your point of view we can close. thanks

[2016-07-20 08:25] mxstbr commented on #754
It's not an error, it's a `WARN`ing, which is, in fact, expected.

[2016-07-20 08:29] Mangirdaz commented on #754
Ok :) Just as per my understanding ERR mean error :D stuff works, but this is output I get each time
[code]

[2016-07-20 08:33] mxstbr commented on #754
Right, that's because you've already run `npm run setup` – that's only mean to be ran a single time. If you take a look at the error message:

[code]

Which means that the setup script is deleted because you've ran setup already!

[2016-07-20 08:38] Mangirdaz commented on #754
k, Thanks :) I think this either should be notes in docs or make resilient for multiple runs (I dont know why but it gave me same error for the first time too, but this does not matters now as stuff works) ,

Thanks

[2016-07-20 08:48] mxstbr commented on #754
It is noted in the docs. https://github.com/mxstbr/react-boilerplate/blob/master/docs/general/commands.md#initialization

<img width="1208" alt="screen shot 2016-07-20 at 10 48 03" src="https://cloud.githubusercontent.com/assets/7525670/16980670/7541ba14-4e67-11e6-99e1-5d212e8dc37c.png">

[2016-07-20 08:53] Mangirdaz commented on #754
:) Ok, my bad :D just looked first page and went straight to debug mode :)

[2016-07-20 10:22] mxstbr opened #757 "Remove dollar sign ($) in front of terminal commands in docs"
When writing the docs I prefixed all terminal commands with `$` like so:

[code]

Due to a recent discussion on twitter I've come to realize that this is confusing to some people, so we should remove all of the `$`. The above example would thus be:

[code]

----

*If you're keen to submit a Pull Request for this, please comment underneath stating that you're looking into it so we don't duplicate w

[2016-07-20 10:37] dmnkgrc commented on #757
I think I could do that :)

[2016-07-20 10:39] mxstbr commented on #757
Awesome!!

If you're having troubles with git, Github or Pull Requests, please refer to Kent's excellent http://makeapullrequest.com for more information on how to properly fix this bug and submit a PR (Pull Request)!

[2016-07-20 10:40] dmnkgrc commented on #757
Thanks!

[2016-07-20 13:45] cesaredamico commented on #757
Well, historically the $ sign has a meaning which is still in use (terminal run by a user, not a super user, which would have the # sign), so perhaps for terminal-related docs that could be explained instead of removed?

[2016-07-20 15:16] mxstbr commented on #757
It seems like beginners are confused about it, there was a whole discussion about it on Twitter, so I opted to remove it instead!

[2016-07-20 15:18] #757 closed

[2016-07-20 15:36] gihrig opened #760 "Feature - Rework setup UX to avoid new user confusion"
As react boilerplate increases in popularity 😃 , new users become confused by system configuration errors (npn < 3 and failure to rerun setup after the first run, even though this feature is clearly documented).

Many people generally don't read the details (hard to imagine for software devs), and while this is their shortcoming, it places an unnecessary support burden on the react-boilerplate tea

[2016-07-20 15:43] mxstbr commented on #760
Awesome, can't wait!

[2016-07-20 16:05] edmelly commented on #282
@MoOx - regarding your comment about including something like `postcss-import` in the stack, I'm having trouble figuring out how to do so. I've updated `webpack.dev.babel.js` like so:

[code]

And a few other variations, but I'm struggling to get anything working (showing my lack of understanding around webpack I'm sure). I've tried adding `!postcss-import` to `cssLoaders`, also to no avail.

Any

[2016-07-20 16:28] tayyabshabab commented on #537
@garajo I ran into this same issue today. And I fixed it by removing below code from the generator function in sagas.js as it suspends its execution. Hope it helps you also.

// Suspend execution until location changes
yield take(LOCATION_CHANGE);
yield cancel(watcher);

[2016-07-20 16:35] gihrig opened #761 "Bug - generate route registers non-existent saga"
ref [#744 (comment)](https://github.com/mxstbr/react-boilerplate/pull/744#issuecomment-233851411)

Generating a route to a container with a reducer, but without a saga registers a saga in the route. This results in a broken route/container that is not trivial to fix.

Repro steps:
- Create a new container `npm run generate container` Accept defaults _except_ saga.
![image](https://cloud.githubuser

[2016-07-20 17:02] LokiMasterMind commented on #739
@gihrig @mxstbr  Thanks for your support and quick reply.

I was using Git Bash on Windows10  and it shows this error, after switched to windows CMD its work

had some research on google and found its due to cli settings.

but this doesn't work..

Don't know why this is happen with git bash but i am happy finally its works on my machine.

[2016-07-20 19:52] brandondurham commented on #535
@epilande Right, you have to quit and recompile. There may be a way around this? Not sure.

[2016-07-20 22:08] timothyallan commented on #709
That's doing my head in thinking about it.

Lets say there are two different dialog boxes, A and B, and either can be popped open/closed via the MenuLinks, or via the WizardContent components (or any other number of components, but we'll just use 2 for now).

[code]

Making the dialogs into containers with their own reducers would mean that I'd always have to have them just hanging around in the m

[2016-07-21 03:38] MoOx commented on #282
@edmelly postcssPlugins key does not seems right. Please read carefully postcss-loader readme as well as postcss-import (and use v7 for now for this plugin).

[2016-07-21 04:11] gihrig commented on #739
@LokiMasterMind Thanks for reporting back. Maybe it will help someone.

[2016-07-21 04:40] gihrig commented on #741
@bobkocisko Would you consider writing this up as a docs/css/recipe and opening a PR?

It would be nice if it could be general in nature for adding any similar global library. It would be fine to use react-bootstrap as the example.

[2016-07-21 06:27] mxstbr commented on #709
Yeah, I think that's the best way? Then you can do

[code]

[2016-07-21 09:46] edmelly commented on #282
Thanks @MoOx. I did a bit more digging, and my postcssPlugins key was incorrect. On top of that, I needed to downgrade `postcss-import` to `8.1.0` (`npm install postcss-import@8.1.0`), due to [this bug](https://github.com/babel/babel-loader/issues/242).

If anyone else comes across this, it's as simple as:

[code]

[2016-07-21 10:47] kachkaev commented on #751
An update to those who may want to try  `yo docker`: this does not work with hot reloading out of box. Docker rebuilds and restarts itself after each file change, which happens at the same time hot reload is trying to update some code. The result is an interrupted socket error in chrome. Looks like this boilerplate needs its own crafted docker files for dev. Wrapping `build` into a Docker image be

[2016-07-21 16:28] richb-hanover commented on #754
I was just about to submit a report on this, but fortunately, I searched first...

I had a potential failure during the initial `npm run setup` (I use OSX, Little Snitch that catches and blocks suspicious connections.) I started the setup and left my computer for ~15 minutes. When I returned, LittleSnitch had asked "Did you want to connect...?" and the setup was paused.

I clicked OK, and setup se

[2016-07-21 16:37] MrOutis commented on #751
I'm in favour of having a Dockerfile, however I think a docker-compose will help, adding some syntactic sugar to the workflow (mapping ports, working with volumes, etc.)

Also, Docker is an optional technology, as you can opt to run `npm install` on your "host" or inside a container.

[2016-07-21 16:40] bobkocisko commented on #741
Ok I'll try to get to it this weekend.

On Thu, Jul 21, 2016 at 12:40 AM, Glen Ihrig <notifications@github.com>
wrote:

[2016-07-21 16:58] #761 closed

[2016-07-21 16:58] mxstbr commented on #761
Fixed by the amazing @kraffslol in #762! :tada:

[2016-07-21 16:59] mxstbr commented on #754
Yeah, I guess that'd be nice @richb-hanover! PR maybe?

[2016-07-21 17:01] mxstbr opened #764 "Add eslint-plugin-redux-saga"
Since it's now finally published, we should look into adding [`eslint-plugin-redux-saga`](https://www.npmjs.com/package/eslint-plugin-redux-saga)! It lints for common mistakes when writing sagas, which is _awesome_!

[2016-07-21 17:04] gihrig commented on #761
Resolved by #762 PR

[2016-07-21 18:51] gihrig opened #765 "Bug(code style): new route: missing 'name' + unexpected line"
When a route is generated:
- There is no `name` property created for the new route block.
- An unexpected blank line is inserted into the wildcard block at the end of the routes.

Repro steps:
- Clone and `setup` a new copy of react-boilerplate

./app/routes snippet:
![image](https://cloud.githubusercontent.com/assets/1481063/17034204/7ab00e0e-4f36-11e6-9bbd-1b1d23cfeaa2.png)

- Add a new route /t

[2016-07-21 19:35] gihrig opened #766 "Docs(code style) enhance contributing.md"
The project seems to be gravitating towards a concise commit message style found in various places around the node/react community:

That being the case, how about making it _official_ by including a _Commit Message Format_ section in `.github/CONTRIBUTING.md`?

An example that clearly delineates the above format can be found [here](https://github.com/erikras/react-redux-universal-hot-example/blob

[2016-07-21 19:42] mxstbr commented on #766
Fully agreed. Let's do it!

[2016-07-21 19:43] mxstbr commented on #765
Yeah, the added line issue drove me crazy, I couldn't figure out the right combination between the regex and the template to fix. The name bug is definitely new, PR anybody?

[2016-07-21 19:57] justingreenberg commented on #766
I actually added that to RRSK 😜

[2016-07-21 21:42] kraffslol commented on #765
The no name issue is easily fixed by adding `name: '{{ camelCase component }}',` to route.hbs. The blank line is a mystery however.. It definitively looks like the culprit is the regex pattern.

[2016-07-21 22:03] gihrig commented on #754
I opened #760 as a discussion addressing the need for improved setup UX. Can we move this discussion there?

[2016-07-21 22:11] gihrig commented on #760
@richb-hanover [#754 (comment)](https://github.com/mxstbr/react-boilerplate/issues/754#issuecomment-234308419)

4\. Leave setup in place, but make it very clear what is going to happen and require non-default action to run setup on an existing project. The idea was to facilitate experimentation by making it easy to return the project to original setup condition without having to got through a new

[2016-07-21 22:39] richb-hanover commented on #754
@gihrig @mxstbr Yes, please feel free to close this issue and move the discussion elsewhere. I am totally content - the only reason for my initial post was to report the problem in the spirit of, "We promise not to fix it if we don't know it's broke."

You all seem to have this well in hand, so I will quietly drop out of sight :-)

[2016-07-22 05:59] #754 closed

[2016-07-22 05:59] mxstbr commented on #765
PR maybe? :grin: @kraffslol

[2016-07-22 08:14] Ndpnt commented on #606
Hi everyone, just to let you know that I'm working on this PR, but I encounter some issues with `enzyme`'s different rendering functions (`shallow`, `mount`) in the tests.
So it will be longer than expected.

You can see the progression here (work in progress, history will be rewritten): https://github.com/mxstbr/react-boilerplate/compare/master...soundsgood-co:react-css-modules?expand=1

The miss

[2016-07-22 10:53] mhrisse opened #768 "npm run setup fails"
Hi guys!

Checking out this project and trying to run it, but cannot get past ```npm run setup```.
npm 3.10.3, node 6.3.0 on latest MacOS. Just cloned this on Fri Jul 22 09:55:55 2016 +0200.

Any help appreciated,
M

[code]

[2016-07-22 11:37] mxstbr commented on #768
Have you already run `npm run setup` before? Once you've done that you can't run it again.

[2016-07-22 13:50] chaintan17 commented on #669
I spent quite few time (hours) fixing this bug also.
Is it better to have relativePath disable by default ?
it's not so obvious bug (happened only in production) and it's hard to investigate.

[2016-07-22 13:54] chaintan17 commented on #766
How about this tool, will it produce higher effort?
https://www.npmjs.com/package/commitizen

[2016-07-22 15:12] edoloughlin opened #769 "reactBoilerplateDeps: Module not found errors on Windows 7"
## Description

Webback can't resolve modules when building reactBoilerplateDeps

## Steps to reproduce

running `npm run setup` goes ok until it tries to run internals/dependencies.js:

[code]

# Versions

- Node: 6.3.1
- NPM: 3.10.5
- OS: Windows 7
- Browser: N/A

[2016-07-22 15:36] mxstbr commented on #766
Yes! We should add commitizen @chaintan17!

[2016-07-22 17:03] gihrig commented on #766
Commitizen tooks "mega-cool" 😃

I'll mention it in the reworked setup UX #760

OT: After a few "scuffles" with git cli, I use [GitUp](https://github.com/git-up/GitUp) for every-day git work (Highly recommended - especially for branching and merging).  Commitizen just might draw me back to the cli 😉

[2016-07-22 17:24] suhaotian commented on #669
@chaintan17 You can do it in your config file 😸

[2016-07-22 17:26] chaintan17 commented on #669
Yes i know, i just asking for set it as default.
Since newbie like me spent quite few time discover and fixing this bug... :(

[2016-07-22 17:36] gihrig commented on #669
`Is it better to have relativePath disable by default ?`

What advantage do we gain by having relative paths enabled?

At the very least this should be documented.

[2016-07-22 17:55] istinspring commented on #664
yes would be nice, i'm using django to build backend stuff and need to proxy requests to api from one port to another to avoid CORS.

[2016-07-22 18:17] gihrig commented on #768
`Error: Cannot find module '/Users/xxx/Google Drive/web/lab/pwa-test/internals/scripts/setup`

Are you installing on `Google Drive` cloud drive?
If so, try local. My experience with Google web services (Docs and Sheets) is they can be flakey.

[2016-07-22 18:27] gihrig commented on #769
Try `npm cache clean` then start over with a new clone of react-boilerplate.

[2016-07-22 18:30] istinspring opened #770 "Do not delete existed .git folder"
I have existed project with django app (API, backend) and decided to use react-boilerplate since i found codebase and style really close to what i'm usually doing (actually what i usually want to do), was able to manually change paths in package.json and some files to make npm commands (at least setup and start) run with frontend/....

Wow, that's great i though... and tried to commit the changes,

[2016-07-22 19:18] gihrig commented on #770
Wow! so sorry to hear that 😢

See #760

[2016-07-22 19:23] chaintan17 commented on #669
I will ask the maintainer of offline plugin instead.

[2016-07-22 19:48] chaintan17 commented on #751
@kachkaev sorry, i don't know. In fact, i usually use Dockerfile for production (deploy to heroku).
I think i lose your question, what solution r u looking for again? i mean, if you want to use ur image in production, isn't it you can just do `docker run` the image  without mapping volume parameter? or may be i miss your point.

@MrOutis
1. Yes, it depend to what you write in Dockerfile. Usually,

[2016-07-22 19:57] MrOutis commented on #751
@chaintan17, thanks, this is what I meant by pre-commits https://github.com/mxstbr/react-boilerplate/blob/master/package.json#L54-L73

[2016-07-22 20:10] NekR commented on #669
In case someone is interested in it, I answered questions about `relativePaths` here: https://github.com/NekR/offline-plugin/issues/77#issuecomment-234642483

Regarding questions "Why `relativePaths` are `true` in `react-boilerplate`", well, because no one passed `publicPath` to `offline-plugin` options. I personally don't use React or `react-boilerplate`, so I just contributed my part related to

[2016-07-22 20:42] gihrig commented on #669
@NekR Thanks! That helps to clear things up.

@mxstbr Do you see any reason not to change to  `relativePaths: false` in react-boilerplate?

[2016-07-23 02:41] elswenson commented on #655
@gihrig  I just played around with this idea for one of my side projects, opener seems to fit this use very well.

[2016-07-23 04:13] Axighi commented on #467
@mxstbr I just pulled the master, the problem still exists.

[2016-07-23 05:44] gihrig commented on #467
@Axighi Sorry to here you're having trouble!

Please, try:
- `npm cache clean`
- Delete your failed react-boilerplate directory
- make a new clone and run `npm run setup`

If the problem persists:

Please tell us about your system
- OS and Version.
- The the exact command you are running.
- A full screen/error dump.

I just completed a fresh clone and `npm run setup` without error.
Mac OS 10.22.5

[2016-07-23 07:07] mxstbr commented on #669
Not as far as I can tell @gihrig, PR?

[2016-07-23 07:13] mxstbr commented on #732
Fixed in #733 by the amazing @chaintan17, thanks so much!

[2016-07-23 07:13] #732 closed

[2016-07-23 08:08] #765 closed

[2016-07-23 09:07] mhrisse commented on #768
Hi! Tried again with re-cloning into a new directory, not shared via drive. first run of ```npm run setup``` gives me the following (```npm-debug.log``` below as well):

[code]

[2016-07-23 12:20] jk2K opened #772 "How to pass parameter to selector?"
I want to get channel with channelId prop

My code
[code]
selectors
[code]
I console the `channel`
[code]
but i get below, non value, non derived data
![image](https://cloud.githubusercontent.com/assets/4025839/17077825/badc4092-5111-11e6-9108-40a5e2e0b086.png)
Am I doing wrong?

[2016-07-23 12:49] jk2K commented on #772
I found below is work
[code]
What's the difference between the two?
[code]
I must use `createStructuredSelector` function when i use reselect?

[2016-07-23 16:56] gihrig commented on #768
Clean your npm cache `npm cache clean` and try again

[2016-07-23 18:05] gihrig commented on #669
@chaintan17 I was unable to reproduce the error in my environment. Can you test the PR please?

If you're unsure how to checkout a PR, see "command line instructions" near the bottom of the PR page.

Thanks.

[2016-07-23 18:39] NekR commented on #669
Just to clear it: `net::ERR_INSECURE_RESPONSE`  error isn't the cause or something like that. This error just says that SW was served with wrong mime type or other value. Which in case of relative paths and sub-directory means that server returns 404 with HTML mime type.

[2016-07-23 18:47] gihrig commented on #669
I observed Chrome Network tab while loading, reloading in a production build. No 404's occurred before or after.

[2016-07-23 20:00] mhrisse commented on #768
@gihrig Still does not work after ```recloned```, ```npm cache clean```, ```npm run setup```. I am wondering what kind of setup we are doing here that is so prone to break?

[code]

[2016-07-23 20:05] mhrisse commented on #768
In ```dependiencies.js``` there is ```require('shelljs/global')```where this shelljs node_module is listed in ```package.json``` - however, its not in ```/node_modules```, why? The is nothing beside ```chalk```in ```/node_modules```and ```npm install``just fails.

[2016-07-23 20:56] brandondurham opened #774 "Getting DLL manifest error when running npm start"
Unclear how exactly I got into this position, but after a recent `npm run build` I started receiving this error. Specifically, every time I run `npm start` now this error appears:

[code]

Running `npm run build:dll` completes successfully:

[code]

But I’m still unable to run `npm start`. Anyone seen this issue or know where to start?

[2016-07-23 21:03] brandondurham commented on #774
Killing this issue. It was my own fault. I’d renamed the DLL and missed a couple of spots.

[2016-07-23 21:03] #774 closed

[2016-07-23 22:19] gihrig commented on #768
All setup basically does is remove and re-create the .git folder then run the the equivalent of `npm install`.

Sounds like there is something wrong with npm related stuff. There is no hard requirement for `npm run setup`.

What happens if you:
- `git clone https://github.com/mxstbr/react-boilerplate.git`
- `cd react-boilerplate`
- `npm install`
- `npm start`

If that's still happening post a new

[2016-07-24 00:33] chaintan17 commented on #669
Yes, i confirmed that the problem disappear now.
Thank you for the pull request and clear explanation @NekR @gihrig, i appreciated.

[2016-07-24 01:10] gihrig commented on #669
@chaintan17 Thank you for your effort in bringing this forward to a solution!

[2016-07-24 03:22] BTBurke commented on #768
Had the same problem.  I think it's an NPM issue.  Upgrading to NPM >3 seems to have fixed it.  It was a PITA to troubleshoot at first because the setup.js script deletes itself even if NPM doesn't correctly install everything.  That seems like an anti-pattern to me.

[2016-07-24 03:53] gihrig commented on #768
@BTBurke npm < 3 is a different problem, OP says

As for

< PITA to troubleshoot at first because the setup.js script deletes itself even if NPM doesn't correctly install everything

see #760