[2016-10-26 02:42] gihrig commented on #1141
Been super busy with work lately. I don't have enough up-to-date experience with dev branch to say one way or the other. :-/

There are several open PRs that might be close to merge? Particularly #1076. #1032, what happened to #980 (was really looking forward to that), #931

But it has been a almost a month since 3.2.1 so it's about time 😄

[2016-10-26 02:42] mydearxym commented on #1100
@mxstbr  what's your opinion about [glamor](https://github.com/threepointone/glamor) which is used by [next.js](https://github.com/zeit/next.js) ?

[2016-10-26 05:36] sedubois commented on #1100
@mydearxym glamor is in styled-components' dependencies

[2016-10-26 05:53] mxstbr commented on #1100
Glamor is great, Sunil is amazing!

He's been helping us a lot building styled-components, and in fact we're blatantly using his injection mechanism. At this point, I believe styled-components has the better API that enforces best practices in component systems (more about this in a talk soon), but I'm excited to see where Sunil takes glamor!

[2016-10-26 07:47] jayphelps commented on #1139
Tree shaking of any existing method (rollup/webpack2) will provide negligible benefits to RxJS. [Full details here](https://github.com/ReactiveX/rxjs/issues/1671#issuecomment-252129235). tl;dr you cannot tree shake methods on object prototypes. Using operator patching or [importing operator references directly](https://github.com/ReactiveX/rxjs/pull/2034) are the two ways to keep the bundle size d

[2016-10-26 08:34] sedubois commented on #1139
Thanks @jayphelps. The only reason I brought the subject is because RBP already uses redux-saga, and wanted to see if it made sense to "replace" it with redux-observable.

[2016-10-26 14:02] jaysoo commented on #1103
@diegohaz That's pretty elegant, thanks for sharing! I guess generally if a request action is dispatched, there should be a resolve and reject handler that can be invoked by the corresponding saga.

[2016-10-26 16:57] somghosh commented on #535
@jupitercow - saved my day!

[2016-10-26 19:09] amilajack opened #1150 "PR: Properly support dynamic requires"
In our eslint config, we've [disabled dynamic requires](https://github.com/mxstbr/react-boilerplate/blob/dev/package.json#L123) instead of actually addressing the issue with dynamic requires. The proper way of handling this is using https://github.com/airbnb/babel-plugin-dynamic-import-webpack. We should start a migration to it.

[2016-10-26 22:13] asood123 commented on #1103
@jaysoo @diegohaz @steida. Am enjoying the discussion. Would one of you want to take on the task of adding support for SSR? :) Let us know how much you'd charge and we'll figure something out.

[2016-10-26 23:58] Telemakhos commented on #1139
Finally some common sense...

[2016-10-27 01:18] akiokio opened #1152 "React-dates incompatibility or any lib using momentjs"
## Issue Type

- [X] Bug (https://github.com/mxstbr/react-boilerplate/blob/master/.github/CONTRIBUTING.md#bug-reports)
- [ ] Feature (https://github.com/mxstbr/react-boilerplate/blob/master/.github/CONTRIBUTING.md#feature-requests)

## Description

Hello, I'm trying to implement the react-dates package in one of my projects but I always get the error "Uncaught (in promise) TypeError: (0 , _moment2

[2016-10-27 01:39] diegohaz commented on #1103
@asood123 I'll take a look at the RBP code today to see how long I can do this and give you an answer. 😊

[2016-10-27 05:10] akiokio commented on #1152
Closing this issue, the problem was related to the momentjs version 2.1.0 update. More info here: https://github.com/moment/moment/#port-to-ecmascript-6-version-2100

To fix in the react-boilerplate project: Add an alias from 'moment' to 'moment/moment.js'.
Reason: With the update (es5 -> es6) the guys over moment changed the library path.

Actual code on `webpack.base.babel.js`:

`resolve: {

[2016-10-27 05:10] #1152 closed

[2016-10-27 05:22] diegohaz commented on #1103
Hi, @asood123, It will cost me about 3 working days. I will ask $750 for it.

[2016-10-27 08:46] Altiano commented on #1146
Looks like framework than boilerplate.. whaddya think? 💯

[2016-10-27 08:51] sedubois commented on #1103
FYI there's [`prep`](https://github.com/graphcool/prep), a side-project of the Graphcool team, looks like an easy way to pre-render at build time (zero server/bundler configuration needed). See their example or their [Learn Relay](https://github.com/learnrelay/learnrelay/) source code for usage. Don't know how much effort would be needed to integrate with more dynamic content and of course it woul

[2016-10-27 10:45] nickgnd commented on #868
@Boychenko Thanks! My build process fails but your hack has also worked for me despite I'm not using `redux-form`. My `npm-debug.log` doesn't have useful information, how did you find the pkg which conflicts with react-boilerplate's webpack config? I would like to investigate and understand better the problem. Thanks in advance!

[2016-10-27 13:23] pgdejardin commented on #1057
@avdeev @gkaran Oh yeah ! Tanks a lot !

I knew it was something like that but I don't know why I didn't thought to cancel the preview watcher...

Thank you =)

[2016-10-27 16:02] jaysoo commented on #1103
I'll let @diegohaz take a stab at it. I will be on vacation soon for 3 weeks, and I have other work queued up at the moment. Happy to provide any support in terms of advice, etc.

@sedubois That could be interesting approach for static sites. I'd also look at https://zeit.co/blog/next for inspiration.

[2016-10-27 22:07] ej23lee commented on #1152
@akiokio Thanks for this. I was having this issue and couldn't seem to find the fix.

[2016-10-28 03:32] stubailo commented on #1041
Hey, I'm the lead on the Apollo team. I think there are some compelling reasons to go with Apollo, especially in a project boilerplate. And when Relay 2 comes out eventually, if it's a better choice, then it would be great to switch to that, as it wouldn't be a huge change.

1. Apollo directly integrates with a variety of tools people might want to use, including Redux. It lets you structure your

[2016-10-28 07:18] GGAlanSmithee commented on #1041
@stubailo

Great points, what I think makes the big difference is

as I expressed in https://github.com/mxstbr/react-boilerplate/pull/1065#issuecomment-255808734 for someone comming from what is considered a normal react setup - using redux, react-router etc - Apollo is so friction-less to integrate.

[2016-10-28 10:45] talbenbasat commented on #943
Hi,

I'm getting the same error

Module parse failed: /home/tal/Code/WebStorm/business/neshama-client/node_modules/react-icon-base/index.js Unexpected token (3:50)
You may need an appropriate loader to handle this file type.
| import { default as React, PropTypes } from 'react'
|
| const IconBase = ({ children, color, size, style, ...props }, { reactIconBase = {} }) => {
|   const computedSize = s

[2016-10-28 13:44] Marinolinderhof commented on #547
@vimniky @Augustin82 Yeah i have the same issue:

Parent saga:
/client/(:clientid)
Then i have to do a dispatch on component did mount:
[code]
I do this so i can have my params in my saga (and kick of the saga).

and then i have a child container with path:
'/client/1/companies'

Here i need that same param in this child saga.
but if i do something like getSelectorRoute it would fail because my co

[2016-10-28 14:07] Marinolinderhof commented on #990
Same issue? #547 cause i do have the same problem.

[2016-10-28 15:19] crazymunky commented on #1100
I started using styled-components in a existing project based on this repo and its amazing. Really easy to build dynamic styles.
Would love to help implementing it, what would be the objective? Replace the current tooling setup?

[2016-10-28 17:29] asood123 commented on #1103
@diegohaz that sounds pretty reasonable. When will you be able to start?

[2016-10-28 17:55] diegohaz commented on #1103
@asood123 I'll start a PR this monday. 😊

[2016-10-28 18:21] GGAlanSmithee commented on #1103
Not to interrupt your negotiations, but is this feature even wanted by the maintainers? I thought it was a conscious decision _not_ to put ssr in the master branch?

[2016-10-28 18:24] asood123 commented on #1103
yes, we have been talking to @mxstbr. He'd like to get SSR support as well.

[2016-10-28 18:26] mathieumg commented on #1103
Some other references, though a bit dated:

* https://github.com/mxstbr/react-boilerplate/issues/92#issuecomment-172036437
* https://github.com/mxstbr/react-boilerplate/issues/174

[2016-10-28 18:26] GGAlanSmithee commented on #1103
:+1:

[2016-10-29 03:23] redwind opened #1158 "selector css with bootstrap support"
Hi  all !

i'm using bootstrap by this [doc](https://github.com/mxstbr/react-boilerplate/blob/master/docs/css/css-modules.md)
my layout as bellow:
`<div className={"row"}>`
`<div className={"col col-md-6 col-md-pull-6"}>`
                                    `<div className={styles.title}>title here</div>`
                                   `<div className={styles.summary}>sumary here.</div>`

[2016-10-29 08:34] redgenie opened #1159 "Algolia importing node modules is crashing webpack"
I am trying to use `react-algoliasearch-helper` which requires `algoliasearch`. Algolia claim that their  isomorphic library works perfectly with webpack. Now when I tried to include it in the boilerplate, webpack is crashing with this error:

[code]

I tried following the code and I saw that it's trying to include some debugging features which requires `fs`. The problem is that it's picking the w

[2016-10-29 16:13] Boychenko commented on #868
@nickgnd There are was no useful information somewhere. I just removed packages one by one and find which one is caused the problem. Btw, the problem was fixed  for `redux-form` here https://github.com/erikras/redux-form/releases/tag/v6.0.2 (`jsnext:main` issue). Hope this will help somehow

[2016-10-29 16:26] malixsys commented on #350
@mxstbr Could `/app/containers/HomePage/sagas.js` use the newer `async`/`await` instead?

[2016-10-29 22:26] aminimalanimal commented on #1007
@mxstbr

@episage

Actually, I just downloaded the current version, and whatever snippet you're referring to doesn't seem to be there.

webpack.base.babel.js:
[code]

This is the only location in the project where I could find `jsnext:main`, so I assume this is where @mxstbr said it should be placed. Perhaps @episage added it locally while debugging this? Or maybe it's changed in the last 12 days?

[2016-10-29 22:43] episage commented on #1007
Check commit No 3515b78bbe2e6102774a21c3e787fde995b82f94

https://github.com/mxstbr/react-boilerplate/blob/3515b78bbe2e6102774a21c3e787fde995b82f94/internals/webpack/webpack.base.babel.js

Spot on regression :O @aminimalanimal @mxstbr

[2016-10-29 22:58] episage commented on #1007
Here you are https://github.com/mxstbr/react-boilerplate/pull/1161

[2016-10-30 08:51] sedubois commented on #1139
Thanks for the discussion, I'll close this but feel free to add comments

[2016-10-30 10:30] Luis-Teixeira commented on #1159
Some here trying to use twilio

[2016-10-30 12:59] Dattaya commented on #1094
It gets annoying configuring all the necessary libraries for each project by hand, so I'm completely in support of a plug-n-play system.

This repository could be a base and other people should be able to create their own plugins (sub-commands) in different repos, for example `react-boilerplate-redux`, `react-boilerplate-apollo` (dependent on `react-boilerplate-redux` ?), `react-boilerplate-redux-

[2016-10-30 18:09] Dattaya commented on #1094
This topic is also being discussed in `create-react-app`: https://github.com/facebookincubator/create-react-app/issues/670

[2016-10-31 04:48] redwind commented on #1112
i face same problem, many thanks to you

[2016-10-31 07:33] avdeev commented on #1158
may be `<div className="row"></div>` ?

[2016-10-31 07:52] Altiano commented on #984
@janroesner Do I need to make the change in `webpack.prod.babel.js` too?

[2016-10-31 08:22] kopax commented on #984
@Altiano looking at my edit on last comment, this isn't very clear to me either.

[2016-10-31 08:42] peramsathyam opened #1163 "Why versions are fixed in package.json"
I was wondering why the versions are fixed and not using `^`.

[2016-10-31 08:58] Altiano commented on #984
@kopax yes, you need to make the change in `webpack.prod.babel.js` too. I just tested it

[2016-10-31 09:20] kopax commented on #984
@Altiano Does this also means the static folder has to be included in the distribution bundle with the build folder ?

[2016-10-31 09:38] GGAlanSmithee commented on #1163
https://github.com/mxstbr/react-boilerplate/issues/598

[2016-10-31 09:45] KarandikarMihir opened #1164 "Markdown is broken in recently added remove.md docs"
I saw that recently updated docs for `remove.md` has [broken numeric lists](https://github.com/mxstbr/react-boilerplate/blob/dev/docs/js/remove.md). By broken, I mean ill-formatted list.

![screenshot from 2016-10-31 15-11-27](https://cloud.githubusercontent.com/assets/17466938/19850050/62f693d2-9f7c-11e6-8a51-8ea16d0d02b8.png)

It was looking just fine a few days ago. Maybe github has upgraded th

[2016-10-31 11:48] KarandikarMihir commented on #1146
Back when I started learning React, I had set a goal to be able to use this boilerplate one day. I've learned so many things from this project that I can't thank enough.

My first ever pull request in open source was against this boilerplate. @mxstbr and other contributors guided me very patiently from time to time.

I'm sure many others would be resonating with my thoughts. Ain't no sophisticated

[2016-10-31 15:36] peramsathyam opened #1166 "Correct eslint-config-airbnb peerDependecies in package.json"
This is not really bug in build or development, But on lint misconfiguration of eslint-config-airbnb

<img width="1141" alt="screen shot 2016-10-31 at 11 34 07 am" src="https://cloud.githubusercontent.com/assets/16722350/19851443/2fc59ed6-9f5e-11e6-8910-b95453b04bbb.png">

## Issue Type

- [x] Bug (https://github.com/mxstbr/react-boilerplate/blob/master/.github/CONTRIBUTING.md#bug-reports)

## Des

[2016-10-31 18:12] tblazina commented on #990
@TCatshoek could you elaborate on how you've used getComponents? I'm quite a newbie and I'm unable to follow from the API documentation.

[2016-10-31 18:35] marbemac commented on #1041
We're experimenting with Apollo + Redux + Sagas. Sagas are still very helpful when doing asynchronous tasks that don't involve our GraphQL API (like calling another API, or dealing with asynchronous IO, for example).  Basically, doesn't seem like an either/or to me - apollo + sagas cover all of our async needs very nicely - highlight recommended :).

[2016-11-01 03:37] comehere127 opened #1168 "i can not start app"
hi,
i have a problem about command " npm start"

i have cloned ur proj, then i run command "npm run setup", it's OK.
However, when i run command "npm start" it's show error about can not find some of lib.
I have installed missing lib then re-run "npm start". output result is "The DLL manifest is missing. Please run 'npm run build:dll' ".
After that, i run command ' npm run build:dll'. But it almos

[2016-11-01 04:14] #1168 closed

[2016-11-01 08:40] diegohaz commented on #1103
I'm working on that.

[2016-11-01 10:13] Madsn commented on #832
I was hoping to use react-boilerplate or possibly one of the other popular boilerplates, but the full-featured ones are also full-stack as far as I can tell, i.e. the expected setup is using Node on the backend.

Would it be possible (with minor modifications) to host a RBP app with Apache - without running a node.js server? The idea is I would use something other than Node for an API server.

[2016-11-01 10:32] mxstbr commented on #832
That's exactly what I do. I just run `npm run build` (which outputs static files) and upload the `build/` folder to a server running Apache – no node needed!

[2016-11-01 19:06] web2style opened #1169 "Add info about stable branch to the readme"
I spent a lot of time considering what version of the boilerplate is stable and ready to use in production. Then fount the following in v3.1.0 changelog:

Consider adding a section about it in the readme.

[2016-11-01 19:52] asood123 commented on #1103
FYI: https://medium.com/open-collective/asking-for-a-new-feature-on-an-open-source-project-3305deba1356#.6ehgqgzhc

[2016-11-01 19:55] asood123 commented on #174
We are getting closer to getting SSR: https://medium.com/open-collective/asking-for-a-new-feature-on-an-open-source-project-3305deba1356#.6ehgqgzhc

[2016-11-01 21:48] gihrig commented on #1169
Great idea! Would you consider creating a PR for this?

[2016-11-02 00:59] bryan opened #1170 "Server API Middleware ES6 SyntaxError?"
I can't seem to get my server to work with ES6 syntaxes such as import and export. I've noticed someone else had a similar problem https://github.com/mxstbr/react-boilerplate/issues/430#issuecomment-232573482 except the given solution by the original owner doesn't necessary solve anything and it's been quite a while since the thread has been closed. I was wondering what I had to do in order to get

[2016-11-02 03:53] redwind commented on #1158
@avdeev  yes, in this case class="row" and className={"row"} is the same, i think so

[2016-11-02 07:38] Dattaya commented on #1170
You can do that with babel (of course not directly in the file where `babel-register` is imported):

[code]

But according to [the official docs](https://babeljs.io/docs/setup/#babel_register), it is not recommended for production
![image](https://cloud.githubusercontent.com/assets/387256/19920213/fe68560c-a0df-11e6-94e3-daf5de12d2a1.png)
so unless you decide to ignore their advice you'll need to

[2016-11-02 08:19] #1170 closed

[2016-11-02 08:20] mxstbr commented on #1170
See #546

[2016-11-02 08:25] mxstbr commented on #990
I'll be building a new example soon-ish that'll showcase this, until then I think the comments here have added enough information to fix your app specific issues! Cheers!

[2016-11-02 08:25] #990 closed

[2016-11-02 08:26] mxstbr commented on #1166
Is this related to #1167?

[2016-11-02 08:27] mxstbr commented on #1164
Done by the amazing @GGAlanSmithee in #1165!

[2016-11-02 08:27] #1164 closed

[2016-11-02 08:27] #1163 closed

[2016-11-02 08:28] mxstbr commented on #984
Closing this for now, since this issue is quite old. Feel free to discuss on!

[2016-11-02 08:28] #984 closed

[2016-11-02 08:29] mxstbr commented on #1159
Those libraries are meant to run in node, not in the browser. What you're seeing means that node-internal modules don't exist in the browser, which, well, they don't. This is expected behaviour, you're trying to make something work that isn't meant to work.

[2016-11-02 08:29] #1159 closed

[2016-11-02 08:31] mxstbr commented on #1139
Just to note this here, we've been using webpack v2 with tree shaking for a few months now, that's a thing!

[2016-11-02 08:31] #1139 closed

[2016-11-02 08:33] mxstbr commented on #1007
Fixed by the @episage in #1161! Thanks!

[2016-11-02 08:33] #1007 closed

[2016-11-02 08:36] #1143 closed

[2016-11-02 08:37] mxstbr commented on #1057
Fixed!

[2016-11-02 08:37] #1057 closed

[2016-11-02 08:43] #1145 closed

[2016-11-02 08:43] #1138 closed

[2016-11-02 08:46] #1131 closed

[2016-11-02 08:47] mxstbr commented on #583
This will be irrelevant with the inclusion of `styled-components`, since then it's all just JavaScript. Closed in favor of #1100

[2016-11-02 08:47] #583 closed

[2016-11-02 08:48] #1042 closed

[2016-11-02 08:49] #1124 closed

[2016-11-02 09:24] Altiano commented on #984
@kopax Yes, I think so

[2016-11-02 09:27] web2style commented on #1169
Done: https://github.com/mxstbr/react-boilerplate/pull/1172

[2016-11-02 09:32] benmosher commented on #840
Oo, that would be cool. I'm 0% familiar with `System.import`, but I'd accept a PR adding it here: https://github.com/benmosher/eslint-plugin-import/blob/master/utils/moduleVisitor.js

That visitor is what `no-unresolved` uses to discover+lint filenames for remote modules. I suspect a [`checkCommon`](https://github.com/benmosher/eslint-plugin-import/blob/master/utils/moduleVisitor.js#L39) could be

[2016-11-02 11:00] redgenie commented on #1159
@mxstbr that's why I said that it's an "isomorphic" package. It's supposed to work with node and browser. They come with both versions in the same package. If you use the package `algoliasearch` with webpack, it will work regardless of node. Please check:
https://www.npmjs.com/package/algoliasearch#nodejs--react-native--browserify--webpack
They are webpack and browsersify friendly, they're not exc

[2016-11-02 11:29] mxstbr commented on #964
Fixed in #1032 by the amazing @chaintng

[2016-11-02 11:29] #964 closed

[2016-11-02 11:29] mxstbr commented on #798
Fixed in #1032 by the amazing @chaintng

[2016-11-02 11:29] #798 closed

[2016-11-02 11:31] mxstbr commented on #719
Done in #1118!

@avdeev are you on the `dev` version?

[2016-11-02 11:31] #719 closed

[2016-11-02 11:35] mxstbr commented on #764
Done by the amazing @jstockwin in #1060

[2016-11-02 11:35] #764 closed

[2016-11-02 20:09] Dattaya commented on #955
If someone wants to transpile a server with babel also, and today it happed: #1170, hot reloading won't work in that environment.

[2016-11-02 20:20] mxstbr commented on #955
That's a great point actually. We should move that back to the `package.json` in `dev`!

[2016-11-02 20:38] Dattaya commented on #955
I had to do that in a universal app, but maybe here it's fine as `module.hot` is only used on the client?

[2016-11-02 23:33] andylhansen opened #1179 "Unhandled promise rejection ReferenceError: Can't find variable: IntlPolyfill"
This error started showing up on Safari.

Unhandled promise rejection ReferenceError: Can't find variable: IntlPolyfill

Any ideas what could be causing this?

[2016-11-02 23:40] diegohaz commented on #783
I'm currently working on SSR support for react-boilerplate and stuck with this. I still can't understand how it works (neither why it's needed). @mxstbr Is there any reference I can see?

[2016-11-03 00:40] samit4me opened #1180 "Document how to keep project up-to-date with react-boilerplate"
I've seen at least two people asking how to keep their project up-to-date with react-boilerplate.

Would you be happy for me to create a new section under [Documentation](https://github.com/mxstbr/react-boilerplate#documentation)?

My rough outline would be something like what is already documented in the [CONTRIBUTION](https://github.com/mxstbr/react-boilerplate/blob/master/.github/CONTRIBUTING.m

[2016-11-03 04:13] gihrig commented on #1180
Previously discussed in #600, #889, #1047.

As those issues attest, this is not an easy task. The ideal would be to split the boilerplate and the application into separate modules as Create React App does. I seem to recall @mxstbr discussing this somewhere, but I'm not finding it now. :-/ In any case, this is a large task, that when accomplished will move this boilerplate lightyears ahead.

[2016-11-03 05:43] datapimp commented on #783
How can I help?

[2016-11-03 05:47] guangningyu commented on #436
Thanks @kunal-mandalia !
"stringify body in sagas.js" -- this solved my problem. I've been working on this the whole night.

[2016-11-03 06:18] Devanathan commented on #45
@Iwouis, thanks for your comment on fix for NODE_ENV in Windows - works great now!

[2016-11-03 06:44] spentay commented on #882
Just checking in on the status & current thoughts on this? Just awaiting a PR?
cc: @mxstbr @Dattaya & @kachkaev :)

[2016-11-03 06:48] Dattaya commented on #882
It's not a bug so I wasn't in a hurry. @spentay, if you want, you can fix this instead of me.

[2016-11-03 06:55] spentay commented on #882
Thanks for being so quick @Dattaya!
I've still got a lot of reading to do on the subject before I'm fully comfortable with a PR - I will shoot an update here if I do end up kicking it off though!

[2016-11-03 07:12] Dattaya commented on #882
This is going to be easy:
- All selectors of type `const selectUsername = () => createSelector(` should be renamed to `makeSelectUsername`
- All other regular selectors should be unwrapped: `const selectHome = () => (state) => state.get('home');` => `const selectHome = (state) => state.get('home');`

[2016-11-03 07:37] mxstbr commented on #1180
I want `react-boilerplate` to be a fork of `create-react-app`. This will a) give us some goodies in configuration that we don't currently have, but b) it will allow updating more easily.

The problem is that doing so requires a huge rewrite of the whole thing, and I don't have time to do that at the moment.

That being said, let's caution people in the FAQ that while it's possible to update, it's

[2016-11-03 07:38] mxstbr commented on #1179
Which version of the boilerplate are you on? I think we fixed that bug a while back, see #805!

[2016-11-03 07:49] kachkaev commented on #882
@Dattaya one more thing: when regular selectors are mentioned as arguments in other selectors, brackets should be removed (`selectAbc(),` → `selectAbc,`). `createSelectXyz()` should keep brackets.

[2016-11-03 08:46] themre opened #1181 "i18n select box not updated"
Hi,
I noticed that combo box for language selector is not updated.

## How to reproduce
Select `de` for language and german language is not selected in the combo box although content is in german.

## Other
Btw, how can we put language in the URL so we can send it to someone to look in specific language? Thanks! Very nice boilerplate.

[2016-11-03 08:50] mxstbr commented on #1181
Arg, that slipped through with the v3.3 release! Would appreciate a PR fixing that.

[2016-11-03 10:19] zalmoxisus commented on #794
Just to notice that allowing Redux DevTools Extension in production isn't wrong and [rather helpful](https://github.com/zalmoxisus/redux-devtools-extension/issues/185), though agree that better to allow it explecitely.

[2016-11-03 10:21] mxstbr commented on #794
Yes, very true @zalmoxisus, it's just that by default it seems better to not have it! Closing since the PR was merged, this is released in v3.3! 🎉

[2016-11-03 10:21] #794 closed

[2016-11-03 10:28] kopax opened #1182 "Correct way to install postcss plugins ?"
# React Boilerplate

## Issue Type

- [ x] Feature (https://github.com/mxstbr/react-boilerplate/blob/master/.github/CONTRIBUTING.md#feature-requests)

## Description

I have choosen styled-components for styling my React elements which mean I can't use the css documentation that explain how to use simple css.

I am trying to use less variables like `darken` `ligthen` from less and I need to know h

[2016-11-03 10:38] mxstbr commented on #1182
PostCSS is not a thing for `styled-components`. Instead of adding arbitrary extensions to CSS syntax, you now have the full power of JavaScript! Use something like [`color`](https://npm.im/color) to get those Sass-y features you need back.

[2016-11-03 10:38] #1182 closed

[2016-11-03 10:39] mxstbr commented on #1182
Sidenote, we're working on building a "compass/bourbon for styles in JS" – see this issue for the ongoing discussion and please chime in: https://github.com/styled-components/styled-components/issues/150

[2016-11-03 10:39] kopax commented on #1182
I like the idea to have a bootstrap compatible configuration.
Using npm color y will have to adapt this configuration.

[2016-11-03 10:39] ansumanshah commented on #1180
I am trying to create a universal boilerplate using `create-react-app` and `react-native` with `styled-components` taking some bits on project structure from this awesome project and `este` would be happy to submit a PR/Fork if needed

[2016-11-03 10:44] mxstbr commented on #1182
Why? How do you have to adapt the configuration?

[2016-11-03 10:49] kopax commented on #1182
This is a bootstrap.json configuration file (default)

    {
      "@gray-base": "#000",
      "@gray-darker": "lighten(@gray-base, 13.5%)",
      "@gray-dark": "lighten(@gray-base, 20%)",
      "@gray": "lighten(@gray-base, 33.5%)",
      "@gray-light": "lighten(@gray-base, 46.7%)",
      "@gray-lighter": "lighten(@gray-base, 93.5%)",
      "@brand-primary": "darken(#428bca, 6.5%)",
      "@brand

[2016-11-03 10:50] mxstbr commented on #1179
I'll close this for now since I cannot replicate it, please copy the changes done in #805 into your project and it should all work perfectly. If it doesn't, feel free to comment again and we'll investigate this further.

[2016-11-03 10:50] #1179 closed

[2016-11-03 10:52] #1169 closed

[2016-11-03 10:53] mxstbr commented on #1158
This is done by using css modules' `:global` helper:

[code]

[2016-11-03 10:53] #1158 closed

[2016-11-03 10:53] #1146 closed

[2016-11-03 10:54] mxstbr commented on #1113
Sorry, in production we should show a toast which is clickable to update to a new version!

[2016-11-03 10:55] mxstbr commented on #1102
This should not be a problem anymore with the switch to `styled-components`, so I'll close this for now. If you can still replicate this issue on current `master`, feel free to comment again and I'll take a look!

[2016-11-03 10:55] #1102 closed

[2016-11-03 10:55] mxstbr commented on #1100
Done by the amazing @samit4me in #1110!

[2016-11-03 10:55] #1100 closed

[2016-11-03 10:55] mxstbr commented on #1090
Is there anything actionable left to be done here?

[2016-11-03 10:58] afitiskin opened #1183 "Run saga policy (prevent saga duplication in more flexible way)"
**Feature request**

Hello guys. This topic is not new. I've checked issues #390, #637 and #888 and have a few ideas how to improve proposed solutions.

So, I like the idea and solution of preventing saga duplication proposed by @kraffslol at #390 (by changing saga injector), but this solution was rejected. The point is:

and proposal solution is to cancel watchers on `LOCATION_CHANGE` action:
[co

[2016-11-03 10:58] mxstbr commented on #1068
We should switch to React Hot Loader v3 as soon as it's stable, but I don't see why we shouldn't stick with our current setup for now as it currently works perfectly fine?

[2016-11-03 10:59] mxstbr commented on #1053
This will be irrelevant when we merge #980, so I'll close this issue. Feel free to discuss on though!

[2016-11-03 10:59] #1053 closed

[2016-11-03 10:59] mxstbr commented on #1053
Just to note this, `npm run test:safari` isn't something fancy, it just runs Karma in Safari. If that doesn't work, that means the Karma Safari Adapter hasn't been updated to work with Safari 9 maybe, but that's not an issue with this boilerplate I'm pretty sure!

[2016-11-03 11:02] mxstbr commented on #1027
Done by the amazing @peter-mouland in #1032!

[2016-11-03 11:02] #1027 closed

[2016-11-03 11:02] mxstbr commented on #1002
Done as of #1110! Enjoy!

[2016-11-03 11:02] #1002 closed

[2016-11-03 11:03] mxstbr commented on #995
Fixed by the amazing @lsanders in #997!

[2016-11-03 11:03] #995 closed

[2016-11-03 11:04] #969 closed

[2016-11-03 11:06] mxstbr commented on #905
I'm pretty sure this will only be fixed when react hot loader v3 is stable. See #1068 for more information!

[2016-11-03 11:06] #905 closed

[2016-11-03 11:07] mxstbr commented on #873
With our yarn lockfile, I'm pretty sure we won't need shrinkwrap anymore, so I'll close this for now. Thank you for the very interesting discussion, I'll definitely refer to it a bunch in the future!

[2016-11-03 11:07] #873 closed

[2016-11-03 11:08] mxstbr commented on #881
Did we ever find the root cause of this issue?

[2016-11-03 11:08] mxstbr commented on #865
Is this still an issue?

[2016-11-03 11:09] mxstbr commented on #766
Closing since this is tracked in #760!

[2016-11-03 11:09] #766 closed

[2016-11-03 11:10] mxstbr commented on #220
Closing in favor of #1068

[2016-11-03 11:10] #220 closed

[2016-11-03 11:11] MoOx commented on #1068
If I am correct, without RHL v3 you don't have hot loading for functional components.

[2016-11-03 11:13] mxstbr commented on #1182
That's what I'm saying, use the `color` module to get support for most of them:

[code]

Not all of them might be supported yet, which is why we're building our own library that contains all of them. Please chime into styled-components/styled-components#150 with the ones you need

[2016-11-03 11:14] mxstbr commented on #1068
That's true. Does RHL v3 at this state already have support for functional components?

[2016-11-03 11:16] MoOx commented on #1068
Yeah, I am using it for a few months and it's perfect for me. Also included in Phenomic for a while and nobody reported any issue about it :)

[2016-11-03 11:18] mxstbr commented on #1068
Alright, let's switch to RHL v3 then!

[2016-11-03 11:19] kopax commented on #1182
This means store the variables in a different way, in other words not be bootstrap configuration compatible.

Would be nice to have a sync module one liner that can convert less to css just for this case.
I don't mind if it's not bootstrap values to use `color` module.

I have tried the async less function documented [here](http://lesscss.org/usage/#programmatic-usage)

    less.render(lessInput)

[2016-11-03 12:06] Lknechtli commented on #1042
I added `'browser'` to `webpack.base.babel.js`, and it doesn't appear to have solved the issue. Getting the same error as @marcelorl

[2016-11-03 12:14] outdooricon commented on #1090
I think we need to be wary of yarn right now, it can provide a sense of false confidence. See https://medium.com/@boennemann/avoid-yarn-for-packages-and-fully-enjoy-its-benefits-for-application-development-8bdd4deb33cf. Essentially, relying on it can still allow for harmful package conflicts to be introduced since it ignores published npm package shrinkwraps/lockfiles.

[2016-11-03 12:34] mxstbr commented on #1090
It says in the TL;DR of that article:

It just warns against using it for packages. `react-boilerplate` is meant to build applications with, so I don't see why we should be wary :)

[2016-11-03 12:38] EugeneHlushko commented on #1090
Yeah and also for packages you can use `no-lockfile`

[2016-11-03 12:44] outdooricon commented on #1090
Because if JoeUser installs NewReactComponent into his fresh react-boilerplate project with yarn, and NewReactComponent has a declared reliance on `dep-1.1` in it's shrinkwrap (explicitly not `dep-1.2` because this is known to break NewReactComponent), then JoeUser now has an non-working NewReactComponent and is frustrated.

[2016-11-03 12:48] EugeneHlushko commented on #1090
@outdooricon then your NewReactComponent is broken, rather pin dep in package.json.
Please see this beautiful post describing what you worry about: https://github.com/yarnpkg/yarn/issues/838#issuecomment-253362537

[2016-11-03 12:53] samit4me commented on #1180
@gihrig @mxstbr Thanks for the info, that makes a lot of sense, I too really like the idea of separating the boilerplate from the application 👍 Your totally right, it is not easy to update. Will try and write up something in FAQs.

[2016-11-03 12:54] outdooricon commented on #1090
@EugeneHlushko thank you for that link. That makes me feel much better :+1:

[2016-11-03 13:05] EugeneHlushko commented on #1090
You are welcome mate! I am facing some issues with moving older projects to yarn, so i understand your worries :) 0.17 or whatever version number they give  it is going to fix my problems that are left so i am looking forward for new release.

[2016-11-03 13:17] outdooricon commented on #1090
Lol yes I hear you, I couldn't even get yarn to work with our webpack app until 0.16.1

[2016-11-03 13:29] GGAlanSmithee commented on #1180
This is an interesting topic. For the sake of discussion, this is how I am doing it:

I have my own template proejct which has this (along with a few other projects) as git submodules, that I keep around as references. This template project contains mostly configuration and build related code, and almost no application code. When there is an interesting development in any of the reference projects

[2016-11-03 14:16] NekR commented on #1113
Okay, I'll try do a PR this week or so.

[2016-11-03 14:37] mxstbr commented on #955
Documented by the amazing @pavlin-policar in #979!

[2016-11-03 14:37] #955 closed

[2016-11-03 16:18] gihrig commented on #1181
Also,
- language selection is lost on Not Found page
- language selection lost when navigating via address bar

Should the language selection be persisted via cookie? I see that Europe is kinda down on cookies, but is there a better way?

[2016-11-03 16:20] mxstbr commented on #1181
I don't quite understand why we would need to do this, it should be saved in the redux state?

[2016-11-03 17:37] adjnor opened #1185 "i18n.js - Can't resolve 'containers/App/constants' after 'npm run clean'"
-Node: 7.0.0 (also tried with 6.9.1)
-NPM: 3.10.8

Steps to reproduce:
1. git clone --depth=1 https://github.com/mxstbr/react-boilerplate.git
2. cd react-boilerplate
3. npm run setup
4. npm run clean
5. npm start (or npm run start)

Results in:

[code]

Fix is adding back a 'constants.js' file in 'containers/App/' with the line:
`export const DEFAULT_LOCALE = 'en';`

[2016-11-03 18:39] mxstbr commented on #970
Done in #980 by the amazing @dmitriiabramov!

[2016-11-03 18:39] #970 closed

[2016-11-03 18:40] mxstbr commented on #545
No longer relevant now that we've switched to Jest in #980! Will be in the next release 👌

[2016-11-03 18:40] #545 closed

[2016-11-03 18:40] mxstbr commented on #627
No longer relevant now that we've switched to Jest in #980! Will be in the next release 👌

[2016-11-03 18:40] #627 closed

[2016-11-03 18:40] mxstbr commented on #195
No longer relevant now that we've switched to Jest in #980! Will be in the next release 👌

[2016-11-03 18:40] #195 closed

[2016-11-03 18:40] mxstbr commented on #569
No longer relevant now that we've switched to Jest in #980! Will be in the next release 👌

[2016-11-03 18:40] #569 closed

[2016-11-03 18:50] jwyuen commented on #545
@mxstbr Maybe a dumb question but if we upgrade our react-boilerplate version to the latest one with jest, do we need to make any changes to our existing tests?

[2016-11-03 18:57] connorbode commented on #1185
Was just going to report this; I can confirm that after running `npm run clean`, the resulting project is missing `app/containers/App/constants.js`.  This was a bit confusing when just starting out.

[2016-11-03 19:05] mxstbr commented on #545
Only miniscule ones, see the changes in #980 – should be a simple find and replace!

[2016-11-03 19:05] mxstbr commented on #1185
Ugh, would appreciate a PR fixing this!

[2016-11-03 19:13] adjnor commented on #1185
I'm on it!

[2016-11-03 20:13] #1185 closed

[2016-11-03 20:15] mxstbr commented on #1185
Released as v3.3.1, thanks for the quick fix @adjnor, amazing!

[2016-11-03 21:24] gihrig commented on #1181
That sounds ideal, provided that the language selection persists across browser open/close or new tabs. Presently that is not the case. OTOH, I suppose persisting redux state may be beyond the scope of the boilerplate?

As an example:
1. Open the home page at `localhost:3000`
2. Select German language
3. Open the Features page by editing the URL to `localhost:3000/features`

The Features page come

[2016-11-04 04:23] nonotest commented on #1180
I can confirm it is very hard to update. It should be clear that it is a *do it as your own risk* operation.

[2016-11-04 09:10] williamgranli opened #1188 "All my Redux actions are building up at the speed of n+1!?!?!"
I have a really strange bug, which seems to be related to the way I use react-router-redux {push} for changing route, or it might be that I've set up my reducers incorrectly.

To help you better understand the issue I'm having, see below scenario using the starter template project as example:

1. Go to http://localhost:3000/
2. Type in a repository name and hit enter
3. Redux actions triggered:
-

[2016-11-04 10:07] jacobk opened #1189 "Cannot run generate after "npm run clean" of pristine clone of 3.3.1"
`npm run generate` throws an error when run after `npm run clean`

**My environment**
[code]

**How to reproduce**
1. Clone 3.3.1
2. Run `npm run setup`
3. Run `npm run clean`
4. Run `npm run generate`
5. Error

**Reproduce error log**
[code]

[2016-11-04 10:13] jacobk commented on #1189
I just noticed that running `npm run generate` on a non cleaned freshly `setup`ed version causes the same issue.

[2016-11-04 10:23] jacobk commented on #1189
Upgrading node version (to 7.0.0) solved it.

[2016-11-04 11:30] diogoalves commented on #827
only a shortcut for the next who arrive here
https://github.com/rt2zz/redux-persist-immutable

[2016-11-04 11:31] afitiskin commented on #1180
It is possible to simplify update process by splitting boilerplate core and example app into `react-boilerplate` and `react-boilerplate-example` repos (I think it is not so hard to do). `react-boilerplate-example` should be built on top of `react-boilerplate` (it will be a real example of how to keep project update-to-date with `react-boilerplate`).

So when example app will be moved from this rep

[2016-11-04 11:34] afitiskin commented on #1188
@williamgranli you have to cancel your sagas on `LOCATION_CHANGE`. See #1183 there are few refs with more information there.

[2016-11-04 11:51] web2style opened #1191 "Localization issues after running clean command"
First of all, there's an issue with importing `DEFAULT_LOCALE` in `i18n.js`. It should be `import { DEFAULT_LOCALE } from './containers/App/constants';` instead of `import { DEFAULT_LOCALE } from './containers/App/constants';`. The current one thrown an error when running `npm run generate language`. Here is a PR for this: https://github.com/mxstbr/react-boilerplate/pull/1190

After fixing this is

[2016-11-04 12:42] williamgranli commented on #1188
@afitiskin You da man! Thanks! I've been looking at saga tutorials and example code which are unrelated to this project. I'm guessing none of them use the same setup with injections, hence I missed that part.

[2016-11-04 13:55] bnol commented on #1042
@Lknechtli try to add `browser` to the **1st position** of `mainFields` and it will work :D
![image](https://cloud.githubusercontent.com/assets/1011106/20007923/03e28ce0-a2d1-11e6-9aac-1eac2417354f.png)

[2016-11-04 14:19] ulrik59 commented on #1191
After checking, the "real" default language of the app is defined in the `/containers/LanguageProvider/reducer.js`:

[code]

[2016-11-04 15:31] web2style commented on #1191
@ulrik59 Yes, the language changes for me if I change `locale`.

So I suppose this should be:

[code]

[2016-11-04 18:05] sedubois commented on #1041
FYI GraphQL summit talks are available: http://graphqlsummit.com/#talks-graphql

[2016-11-04 21:06] adjnor opened #1193 "HMR not working - Full reload needed"
- Node: 7.0.0
- NPM: 3.10.8
- Browser: Chrome 54.0.2840.71 (64-bit)

Changing code (e.g. message text or adding a `<h1>`) in index.js in the Homepage container after a fresh install doesn't do anything.

Steps to reproduce:
1. git clone --depth=1 https://github.com/mxstbr/react-boilerplate.git
2. npm run setup
3. npm start
4. Go to localhost:3000
5. Change some code -> Nothing happens (Get warning

[2016-11-04 21:14] gihrig commented on #1193
Are you making changes to a functional component? HMR doesn't work there, see #452

[2016-11-04 21:23] adjnor commented on #1193
No, it's a fresh install, I didn't change anything besides some code in the render method and got the error. Homepage is a PureComponent:

`export class HomePage extends React.PureComponent {`

[2016-11-04 23:19] gihrig commented on #1193
@adjnor `PureComponent` support was recently added and HMR beakage seems to acknowledged and accepted, see:  this [#811 comment](https://github.com/mxstbr/react-boilerplate/pull/811#issuecomment-238601688).

Could you change that `PureComponent` to a `Component` and let us know what happens?

[2016-11-05 03:45] samit4me commented on #1189
Thank you for reporting the issue, the level of detail is amazing, really appreciated 👌

I've done some investigations myself and I can confirm this issue with `node v5.0.0`. According to [Node Green](http://node.green/#let) Node v5 should support the use of `let`, but it appears that this is not true given the error message:
`Block-scoped declarations (let, const, function, class) not yet support

[2016-11-05 04:35] nhducit commented on #1193
I have the same problem when I made changed in `action.js`.
react-boilerplate: v3.3.1
Reproduce
[code]

[2016-11-05 04:36] samit4me commented on #1189
Okay, after further testing it seems that the issues with `Windows + yarn + react-boilerplate` has disappeared. I'm not sure exactly what fixed it but I did run `yarn cache clean` and I also removed `yarn` and installed it again (v0.16.1). I've now tried Windows 10 with Node v5.0.0, v6.6.0, v6.8.1, v6.9.1, and v7.0.0 and running `npm run setup`, 'npm run clean`, and `npm run generate` all work per

[2016-11-05 04:44] nhducit opened #1196 "Feature page: Error message when change language from English to German"
## Description
There are some error messages in console when change language from English to German
<img width="960" alt="screen shot 2016-11-05 at 11 40 30 am" src="https://cloud.githubusercontent.com/assets/4246176/20027691/4915bb6c-a34d-11e6-8c39-41fcba41bb7a.png">

## Steps to reproduce
git clone --depth=1 https://github.com/mxstbr/react-boilerplate.git
npm run setup
open http://localhost:3000

[2016-11-05 05:23] adjnor commented on #1193
@gihrig I tried changing `PureComponent` to `Component` and it did work! I would rather use stateless components though, I think react hot loader 3 is needed for this, saw the issue #1068 , I'll try to look into it. Only thing is changing the defaultMessage text in messages.js doesn't do anything, even on page reload  actually. Changing text in en.json does work but needs a page reload, maybe this

[2016-11-05 08:05] samit4me commented on #1191
Can confirm this issue, running the command `npm run generate language` throws errors no matter which locale you use. It also throws errors regardless if you ran `npm run clean` or not, interestingly the errors are different.

Did NOT run `npm run clean`:
[code]

After `npm run clean`:
[code]

I'm unsure exactly where the issue is originating from but I suspect it may or may not be related to [thi

[2016-11-05 10:35] maurocolella commented on #855
He is trying to put images in `/src/assets/images` for example, and reference them dynamically in a component like `RepoListItem`. And I am trying to do the same thing.

[2016-11-05 10:48] vincaslt commented on #1193
If the text is defined in `en.json` with the same id as in `messages.js`, it will take the one defined in `en.json`. Default should be seen when there is no message defined in `messages.js`.

[2016-11-05 12:58] web2style commented on #1191
@samit4me The second one is already resolved with #1190.

Yes, the bugs are pretty sure caused by the commit by @chaintng.

[2016-11-05 14:43] meilers commented on #958
@samit4me Thanks, same issue here. Can you show me an example of how to write my own reducer to convert the JS object (for redux-form)?

[2016-11-05 16:26] chaintng commented on #1191
Yes, i think it's because of my commit. I'm looking into the langauge generator. Will send a patch soon.

[2016-11-05 17:12] adjnor commented on #1193
@vincaslt Alright got it! I'm closing this issue since it seems like the issue is known and a fix is on the way (#1068). For now `Component` will do, thanks!

[2016-11-05 17:12] #1193 closed

[2016-11-05 17:20] adjnor commented on #1196
These errors are from the react-intl library, a simple way to fix them is to edit the de.json file (in the translations folder) and add translations (or any text) to the empty strings. AFAIK it's the intended behavior when translations are missing.

[2016-11-05 17:34] chaintng commented on #1191
@samit4me for 1), this bug was actually introduced since `v3.1.0`.
Since `LocaleToggle/message.js` are not to be automatically translated.
May be @justingreenberg you want to take a look to this issue.

[2016-11-05 22:10] samit4me commented on #958
@meilers That was almost 2 months ago now, so I'm struggling to remember, but I think `redux-form` fixed this in later versions. The reducer to convert the JS Object was something like the following:
[code]
[see this comment for further details](https://github.com/erikras/redux-form/issues/110#issuecomment-144839263)

[2016-11-05 22:23] #1188 closed

[2016-11-06 00:51] samit4me opened #1201 "Use `babel-plugin-filenamespace` for message files"
Writing message files for a component involves a little boilerplate, which is completely necessary and it's great that `npm run generate` does this for us. What I've noticed in projects based on this boilerplate is that it is quite easy to make mistakes when moving, renaming or adding additional messages to components.

The message "id" naming convention appears to closely follow the directory str

[2016-11-06 01:11] samit4me commented on #1105
@williamgranli It appears that @aldaty has resolved the issue you raised, so I hope you don't mind me closing this!

[2016-11-06 01:11] #1105 closed

[2016-11-06 01:30] samit4me commented on #712
Yes, there are outstanding issues with both [rewire](https://github.com/speedskater/babel-plugin-rewire/issues/148) and [istanbul](https://github.com/istanbuljs/babel-plugin-istanbul/issues/22) and basically, there has been no progress even tho `rewire` closed the issue.

Just recently in the `dev` branch, [Jest](https://facebook.github.io/jest/) has been added (see #980), which has the ability to

[2016-11-06 09:51] wer32 opened #1202 "Issue with adding meterial-ui library"
Hi,

Have anybody successfully added material-ui library to react-boilerplate for static resources?

I have some issues with adding material-ui to react-boilerplate.
The issue is only with static resources. I mean if run **npm run build** and then put all resources from /build folder to web server then project will not work correct.
But it works well when start project **npm run start**.

Steps to

[2016-11-06 11:14] outdooricon opened #1203 "`npm run start:prod` results in error"
After cleaning a new checkout of master, when running `npm run start:prod` I see `Error: ENOENT: no such file or directory, stat '\Projects\my-project\build\index.html'`. Then when loading the page, the browser just shows "Not Found"

# Versions

- Node/NPM: 7.0.0 / 3.10.8

[2016-11-06 11:40] micheleb commented on #620
sahat's comment fixed issue #1102 for me, so thanks!

Since `ExtractTextPlugin` was complaining, I had to change the first snippet a little:

    vendorCssLoaders: ExtractTextPlugin.extract({
        fallbackLoader: 'style-loader',
        loader: 'css-loader',
    }),

[2016-11-06 13:17] samit4me commented on #1203
Thanks for reporting the issue. Looking at `package.json` it would seem that `npm run start:prod` starts the production server, serving files from the `build` directory. Assuming you have not run the command `npm run build` the `build` directory would not exist and therefore result in the error you mentioned.

So for the `npm run start:prod` command to work it must be preceded by `npm run build`.

[2016-11-06 14:23] outdooricon commented on #1203
@samit4me Thank you for the response! I should've thought to look in package.json and see what it was doing, my bad. As requested, I've created a pr to reference the other cmd: https://github.com/mxstbr/react-boilerplate/pull/1204

[2016-11-06 15:20] nndung179 commented on #958
@sourcesoft solution worked great

[2016-11-06 15:37] sourcesoft commented on #958
This seems to be happening again back to this issue https://github.com/erikras/redux-form/issues/1637

[2016-11-06 18:23] rdewolff commented on #816
Any news on that issue?

[2016-11-06 19:03] gruberjl commented on #1103
airbnb has a different approach: https://github.com/airbnb/hypernova

In short, it's a separate process that renders the webpage (performing data requests and everything) then sends the html string back.

[2016-11-06 19:18] gihrig commented on #1103
There is also Paypal's [react-engine](https://github.com/paypal/react-engine).

[2016-11-06 19:21] justingreenberg commented on #1191
Hi @chaintng just wanted to follow up.. should this be resolved by #1199 and #1200 ?

[2016-11-06 19:54] samit4me commented on #1203
Thank you for that, nice work 👌

[2016-11-06 20:12] samit4me commented on #1202
Can confirm the same issue, I've tried a few different things, like using different material ui component or moving or only using the `<MuiThemeProvider>` and always get the same error. My first thoughts were if material ui was using `context` this may not work with some of the library's in this boilerplate, `react-redux` springs to mind. Unfortunately I don't have time to investigate right now an

[2016-11-06 21:48] Dattaya commented on #882
Almost done in #1205. Took more time than anticipated because of generators, templates, and documentation. Thank you, everyone who participated in the discussion :+1:.

[2016-11-07 06:58] wer32 commented on #1202
@samit4me Unfortunatelly I don't have profound knoledge in node.js but if can give me direction or instruction how can I found the root of cause(s) I can spend some time.

[2016-11-07 06:59] mxstbr commented on #1180
I would love to have somebody contribute such a script next time we do a big change!

I sadly don't have the time to look into that at all, and while I agree it'd be useful, I don't think it's feasible for us to spend that much more time on a script to update existing boilerplates with new apps in them. Imagine all the edge cases with people building their apps! 😱

If you're on an "old" version th

[2016-11-07 07:01] #1189 closed

[2016-11-07 07:02] #1196 closed

[2016-11-07 07:04] mxstbr commented on #1191
Fixed by #1199 as far as I can tell, will release a new version soon!

[2016-11-07 07:04] #1191 closed

[2016-11-07 07:06] mxstbr commented on #1201
Why don't we do this automatically? Not a fan of the magic variable, we could just have magic?

[2016-11-07 07:07] mxstbr commented on #712
Yes please!

[2016-11-07 07:15] samit4me commented on #1203
PR has been merged

[2016-11-07 07:15] #1203 closed

[2016-11-07 07:23] HadrienPierart commented on #816
No changes on my end. The only way I found to get it working was to put the module in question in the exclude list of the DLL

[2016-11-07 07:33] afitiskin commented on #1180
@mxstbr it's not so hard to make such scripts cause it should just make a cleanup like `npm uninstall --save-dev stylelint` and of course not to convert whole project from CSS modules to styled components :)
Other way (in case if building migration script is really hard) provide a migration guides what you have to do manually (just short and simple summary of last N commits) not to force users to

[2016-11-07 07:36] samit4me commented on #1201
You could "just have magic" but that would require a very specialised plugin that targets only the "id" of defineMessage.  `babel-plugin-filenamespace` is a little more generic in that it can be used whereever you like, but in doing that, you must specify where you want it.

If you think that it might add value? I could certainly look into adding a flag to `babel-plugin-filenamespace` to do this.

[2016-11-07 08:11] samit4me opened #1206 "Update testing documentation"
Just recently [Mocha](https://mochajs.org/), *the JavaScript testing framework* was swapped out for [Jest](https://facebook.github.io/jest/) as it brings features like snapshot testing, built in coverage reporting, mocking capabilities, and huge performance gains (see #980).

Currently, this is only in the `dev` branch and the docs have not yet been updated. Moving forward the [Testing documentati

[2016-11-07 08:13] samit4me commented on #712
Okay great, closing this issue in favor of #1206.

[2016-11-07 08:13] #712 closed

[2016-11-07 08:30] mxstbr commented on #1201
Yeah, that sounds good to me. Let's wait a bit with the magic!

[2016-11-07 08:30] #1201 closed

[2016-11-07 09:59] samit4me commented on #1202
Okay, so I added `material-ui` to a [react-gif-search app](https://github.com/samit4me/react-gif-search) I was toying around with, which is based on `create-react-app` but has Redux, react-router and I added react-intl to more closely match this repo.

Guess what it worked 😄

---

Knowing it wasn't react-redux or react-intl causing the issues I checked out the `dev` branch of the repo and did the

[2016-11-07 13:13] futzco commented on #1202
Hi, this is what works for me:

In `app.js` add (for my sanity I added the below lines just after the `// Import all the third party stuff` section):

[code]

Then in `containers/App/index.js` add the `<MuiThemeProvider>` just after the `return (`. Mine looks like this (probably changed it a little along the way other than adding the `<MuiThemeProvider>`, but you'll get the idea):

[code]

For the

[2016-11-07 15:41] chaintng commented on #1191
@justingreenberg
my pull request doesn't fix the warning
[code]

Look like because `app/containers/LocaleToggle/messages.js` is not using the pattern same as others. I'm not sure how to fix it properly yet.

[2016-11-07 16:19] talbenbasat commented on #1152
Any workaround?

[2016-11-07 16:23] justingreenberg commented on #1191
[`LocaleToggle/messages.js#L13`](https://github.com/mxstbr/react-boilerplate/blob/master/app/containers/LocaleToggle/messages.js#L13) maybe this is the issue....?
[code]

it looks like we are using [a different pattern for translation id](https://github.com/mxstbr/react-boilerplate/blob/master/app/translations/en.json) since this was implemented... so maybe if we change the above to:

[code]

i'm

[2016-11-07 16:36] baldore commented on #1193
@adjnor I think it's the expected behavior. I've been checking this project (which btw is extremely awesome!!! Thanks!!!) and when I try to change the languages messages, the HMR doesn't work. From my side, the changes that didn't worked (and I was expecting to work) were those I made in RepoListItem.

[2016-11-07 17:27] wer32 commented on #1202
@futzco have you tried to run this with static generated resources from /build folder?
I've tried to follow your instruction and it works pefrectly if you run npm run start
but still get the same issue when run these static files from apachy server.

[2016-11-07 17:41] akiokio commented on #1152
I posted the steps here: https://github.com/mxstbr/react-boilerplate/issues/1152#issuecomment-256547900

[2016-11-07 17:53] Dattaya opened #1209 "RFC: Collaboration Guidelines"
What do you guys (@mxstbr, @oliverturner, @justingreenberg, @gihrig, @sedubois, @chaintng, @samit4me, @amilajack (whoa, so many collaborators, is it a full list :smiley: ?) ) think about adding some "Collaboration Guidelines." Usually everyone waits for Max to merge a PR, we can create a rule that it can't be merged without two or three sign offs (comments with 'LGTM' or the like), unless it's a n

[2016-11-07 18:11] mxstbr commented on #1209
This sounds very very good to me. Let's wait for two approved reviews and then merge to `dev`, no matter if I'm around or not!

In reality, you folks have been doing most of the work (and doing a much better job at it than I have!) and have been blocked by me not having as much time as I'd like, so this would speed up the process a lot.

*I'd also like to look into automating releases so I don't h

[2016-11-07 18:26] Dattaya commented on #1209
@mxstbr, what do you think about a rule that a PR must be open for at least two (?) days before merging, so everyone has time to take a look/make a case against it?

[2016-11-07 18:41] mxstbr commented on #1209
That also sounds good to me! We should use https://github.com/danger/danger-js to enforce these rules maybe? /cc @orta

[2016-11-07 19:05] #1202 closed

[2016-11-07 19:20] wer32 commented on #1202
@samit4me
I tried dev branch and copy all changes exactly as you said. But it still now works if I put generated static content from /build folder in apache server. But works as expected for mnp run start.
That's really confusing.

[code]

[2016-11-07 19:44] wer32 opened #1210 "Issue with adding meterial-ui library"
@samit4me I'm sorry for recreate the issue #1202 which your just closed. But I don't see the way how to fix issue in dev branch also. I followed all your instruction but the issue is still here.

I found another way to reproduce issue. You can
`npm run start:production`
and when you run code with your changes it show exception below in browser console.

[code]

I've attached patch for you to be su

[2016-11-07 20:06] wer32 commented on #1210
If remove next lines from internals/webpack/webpack.prod.babel.js
[code]
Then material-ui library start work correct.

[2016-11-07 20:52] gihrig commented on #1209
@Dattaya Great idea! _really_ needed.

I'm concerned about approval in the form of a simple LGTM though. I would like to see approvers run a basic acceptance test script, and confirm that those tests pass in their environment. This is what I do for dependency updates e.g. #1162. It's time consuming and error prone to do this work manually, so it would be great if these tests could be automated.

I

[2016-11-08 06:25] spen opened #1213 "Discussion: Style-guides"
Hi! 👋

A big issue that we're facing on a project is the lack of style-guides to refer to during code reviews - leading to a lot of inconsistencies and anti-patterns.

I noticed that theres a tracking issue (#14) that's been closed but with intent to carry on adding docs on as-they-come basis. I was also happy to see the AirBnB guide referenced 👏

I'm very keen to kick off a PR to get something ad

[2016-11-08 06:38] Rajkumar-x opened #1214 "heroku deployed but show application error"
[code]

[2016-11-08 06:49] Rajkumar-x commented on #1214
edit heroku config:set NPM_CONFIG_PRODUCTION=false

[2016-11-08 06:56] Dattaya commented on #1209
Thanks for the links @gihrig. Ideally we would add those tests to the CI workflow instead of doing it manually. I don't know if it's possible, but quick search led me to this: https://github.com/travis-ci/travis-ci/issues/5002 so I assume it is.

[2016-11-08 07:05] #1214 closed

[2016-11-08 07:34] samit4me commented on #1210
@wer32 I'm sorry about that. When I retested in the `dev` branch, I totally forgot about it ONLY being a `production` problem only. Then when I read `Hi, this is what works for me:` followed by essentially a repeat of what I said in my previous comment, I assumed it was all good. I will try and have another look later.

[2016-11-08 09:22] samit4me commented on #1210
So after riding my motorbike home in a storm 🌩🌧🌈 I did some more testing and the production build failed to work on the `dev` branch, sorry about that.

I tested it on that other project I mentioned earlier, which uses the `webpack.optimize.DedupePlugin()` and it works, BUT it is still on webpack v1.

After removing the `webpack.optimize.DedupePlugin()` as you suggested it works perfectly fine, ni

[2016-11-08 09:30] GGAlanSmithee commented on #1210
I have had similar problems with webpack 2, and others have too. Not sure if it's related, but could be.

See https://github.com/webpack/webpack/issues/959 search the comments for `DedupePlugin`, https://github.com/webpack/webpack/issues/959#issuecomment-155552808 for example.

[2016-11-08 09:35] samit4me commented on #1213
Completely agree that a JS style guide that automatically enforced is invaluable. I'm not sure if I understand your question completely tho, as this project is currently using both:
- Airbnb JavaScript Style Guide
- Airbnb React/JSX Style Guide

See [package.json](https://github.com/mxstbr/react-boilerplate/blob/master/package.json) [here](https://github.com/mxstbr/react-boilerplate/blob/master/pa

[2016-11-08 09:45] orta commented on #1209
FWIW, Danger might feel a bit weird with that, as it would require an extra CI build to un-mark it as read ( the last approval would need to re-trigger CI for example )

Once I get hosted Danger's up and running, that may become feasible

[2016-11-08 10:21] samit4me commented on #1210
Thanks for the link! I cannot believe how many people are having issues. After trawling through the list I tried the following individually and in combination with each other but no deal :no_good_man::
- `chunksSortMode: 'none',`
- `chunksSortMode: 'dependency',`
- `minChunks: Infinity,` // seems like a pointless exercise but didn't work
- changing `name: 'vendor'` to `names: ['vendor'],`
- removi

[2016-11-08 10:24] GGAlanSmithee commented on #1210
No, I gave up. My use-case was trying to extract the webpack manifest into its own chunk, to avoid re-hashing vendor chunks (to make long-term caching better). I decided it was a premature optimization and not worth the effort for the time being.

[2016-11-08 17:28] Dattaya commented on #1209
I've found this: https://github.com/integrations/lgtm

From their overview:

My understanding is that it will work for every protected branch of a repository. It seems to have a bug—https://github.com/lgtmco/lgtm/issues/40; 'disapprovals' are being currently discussed—https://github.com/lgtmco/lgtm/issues/49. Last commit is from 2 month ago.

[2016-11-08 19:31] Dattaya commented on #881
I blame `webpack` unless @mydearxym has a better explanation. It's a beta software, what worked in a previous version might not work in the current. I tried to debug `dev` branch with `inline-source-map` devtools option set and it worked. I'll reopen this issue if more developers experience this problem.

[2016-11-08 19:31] #881 closed

[2016-11-08 19:36] wer32 commented on #1210
I also vote for remove this plugin. Currently this plugin make main......js less only for 10
 kilos. For me it is not critical but of course better to have such kind of plugin in build. Are there exist another plugins with such kind of functionality?

[2016-11-08 20:28] asood123 commented on #1103
@diegohaz any updates? Have one other sponsor who has graciously offered to financially contribute towards SSR's completion.

[2016-11-08 23:05] spen commented on #1213
Ahh, I should have been more clear - sorry!
I mean in terms of docs, a .md file that explains the guidelines in a wordy way, wether that be a copy of the Airbnb GLs, a short write up that justifies it and references it or something along those lines.
The eslint additions are great but I feel there's room for some docs that support them - could be wrong though, having the eslint rules ship out with

[2016-11-08 23:25] samit4me commented on #1213
That would be great, maybe just a quick summary with a link to the Airbnb Style Guide, followed by a brief description of the overrides! Is that more like what you think should happen?

[2016-11-09 00:10] spen commented on #1213
Yeah! That sounds pretty decent! :D
I'll put together a PR this evening to get things rolling!

[2016-11-09 01:43] diegohaz commented on #1103
@asood123 Yeah, sorry. I'm still working on this, but having hard time with #783

[2016-11-09 02:04] datapimp commented on #1103
@haz let me know how I can help with #783; we can do a group schedule a
time to chat about it in the open collective slack if you like

On Tue, Nov 8, 2016 at 7:43 PM Haz <notifications@github.com> wrote:

[2016-11-09 02:10] haz commented on #1103
@datapimp -- I don't think @haz is who you think he is ;).

[2016-11-09 02:12] datapimp commented on #1103
@diegohaz @asood123 let me know how I can help with #783; we can schedule time to do a group chat about it in the open collective slack if you like

[2016-11-09 02:15] diegohaz commented on #1103
@datapimp I've just read your [article](https://medium.com/@soederpop/webpack-plugins-been-we-been-keepin-on-the-dll-cdfdd6cb8cd7#.nvc8tv5al) and will try to figure this out. I'll ask you for help if I have any doubts, thanks. 😊

[2016-11-09 02:21] datapimp commented on #1103
Great @diegohaz.

I believe in its current state, the DLL Bundle for this project gets compiled for `libraryTarget: web`.

In order to make SSR work, you will need to create the DLL Bundle for the `libraryTarget: umd` so that it can be required in both a browser environment and the node environment.  I'm available if you need any help.

JS

[2016-11-09 09:41] mydearxym opened #1215 "can't access subdomain from browser"
thanks for the work.

i am little confused with [Server Configurations](https://github.com/mxstbr/react-boilerplate/blob/master/docs/general/server-configs.md), it's seems *Always serve index.html for any request* ?

[here is a example](http://deploy-preview-1008.react-boilerplate.netlify.com/)。

i can't goto http://deploy-preview-1008.react-boilerplate.netlify.com/features  directly from browser

[2016-11-09 10:33] peter-mouland commented on #1215
This boilerplate doesn't _yet_ have server-side rendering, which means you have to setup your server to accept any url and push them all to the homepage.  depending on the client-side router setup, it should then load the correct page based on the url in the browser

[2016-11-09 13:36] mydearxym commented on #1215
@peter-mouland thanks!
you mean the current solution is set up a server parse the coming url ,  then redirect the url like

[code]

and let client-side load the correct page based on the *path* params ?

[2016-11-09 13:48] mxstbr commented on #1209
I've used LGTM.co before somewhere, and it worked perfectly fine, 👍  from me!

[2016-11-09 14:58] AJIh commented on #379
@tsm91
async reducers should be re-injected to store after hot reloading. I rewrote `injectReducer` and route actions to achieve this.

[code]

And in sub routes(I'm using universal-router in my project).

[code]

The redux-devtools will replay all actions dispatched before hot reloading with the new reducer. To prevent this, remember to set `shouldHotReload` to `false`. Details: (https://github.c

[2016-11-09 20:39] Telemakhos commented on #1056
This issue helped me also with an [Index Redirect](https://github.com/ReactTraining/react-router/blob/master/docs/guides/IndexRoutes.md#index-redirects)

For future reference if anyone needs to do an index redirect like:

[code]

this would be the route you need:

[code]

[2016-11-09 21:58] tauren opened #1216 "Automate build when an npm dependency changes"
What is the recommended way to automate rebuilding when npm dependencies change? For example:

* the project depends on a separate node module that is being developed concurrently (using `npm link`)
* a dependency in `node_modules` is causing some problem, and I'd like to temporarily tweak the code directly to solve the issue

In both cases, I don't want to restart the server every time I make a c

[2016-11-10 07:46] #1215 closed

[2016-11-10 07:47] mxstbr commented on #1215
We delegate the routing to client side with `react-router`, please read their documentation: https://github.com/reacttraining/react-router

[2016-11-10 10:03] #1180 closed

[2016-11-10 10:03] mydearxym commented on #1215
found answer [here](http://stackoverflow.com/questions/36304302/how-can-i-configure-react-router-to-with-nginx-cherrypy-and-my-current-reactjs-a)

[2016-11-10 13:32] Telemakhos commented on #1210
So... I guess we can safely remove the line ```new webpack.optimize.DedupePlugin()```in order to use Material-UI... Correct?

[2016-11-10 13:35] GGAlanSmithee commented on #1210
Here is an interesting development https://github.com/webpack/webpack/pull/3266, so yes I think it's time to remove `DedupePlugin` ;)

[2016-11-10 14:52] KarandikarMihir commented on #1100
Does it mean that we can't use normal css files in this boilerplate? We have a project which uses earlier version of this boilerplate. Is it going to be painful to upgrade to the latest version?

[2016-11-10 15:36] crazymunky commented on #1100
If you have both dependencies you can use it on a per component basis. You can even use both to extend functionality.

[2016-11-10 15:48] mxstbr commented on #1100
You are totally fine just sticking with CSS Modules @KarandikarMihir! It's not like they don't work anymore 😉

[2016-11-10 15:57] williamgranli opened #1217 "Selectors not executing when I call them"
My selectors.js looks like this:

[code]

I use them in my container (index.js), in the mapStateToProps function, which looks like this:

[code]

Where selectId is imported from selectors.js. The props validation fails (expecting string but got fun) and the console.log on the first line of the mapStateToProps-function prints out the function body of the selector function.

What am I doing wrong? A

[2016-11-10 17:20] Dattaya commented on #1217
You don't use `createStructuredSelector` that does everything automatically, that means you should pass `state` into `selectId` yourself: `selectId()(state)` also `selectId()` should be assigned to a variable somewhere otherwise nothing will be memoized due to recreation of a memoized selector each time state or props change.

[2016-11-10 17:20] #1217 closed

[2016-11-10 19:59] web2style commented on #1090
There is an issue with using yarn in this project at the moment. When I run `yarn add smth`, it removes `node_modules/react-boilerplate-dlls` directory. So we can't install new deps with yarn, maybe move the dir to the root and add it to .gitignore?

[2016-11-10 20:18] samit4me commented on #1210
This is great, sokra himself is wanting to remove it, it must have issues. Thanks for the link @GGAlanSmithee. Removing the `DedupePlugin` certainly resolve the issue, its the only thing that has worked 😄.

I've retesting this morning and it works for both `npm start` and `npm run start:production`. Below is listed the steps I took:

#### Step One
Remove these two lines from `webpack.prop.babel.js

[2016-11-11 08:08] rmaroun opened #1220 "HMR Sync does not reload UI in browser when making change in any .js file"
## Description

Hi, I am using version 3.3.3 but I still have the issue with HMR sync:
The following modules couldn't be hot updated: (Full reload needed)
This is usually because the modules which have changed (and their parents) do not know how to hot reload themselves. See http://webpack.github.io/docs/hot-module-replacement-with-webpack.html for more details.logUpdates @ process-update.js?e13e:

[2016-11-11 13:42] futzco commented on #1210
@samit4me My apologies.

On the project I tested the issue, I had this custom script:
[code]
and I run it out of habit instead of the standard `build` script that comes with `react-boilerplate`.

I am sincerely sorry for creating confusion due to my clumsiness.

[2016-11-11 14:05] Telemakhos commented on #1210
**Step Four:**

Either remove ```sanitize.css``` or override defaults in ```global-styles.js```, or some material-ui components like DropDown Menu will appear ugly as foark...

Before:
![screen shot 2016-11-11 at 14 59 03](https://cloud.githubusercontent.com/assets/2261077/20217343/c3a04b28-a81f-11e6-82f0-88d8984f131b.png)

After:
[code]

![screen shot 2016-11-11 at 15 03 28](https://cloud.githubu

[2016-11-11 17:47] raulgrecio commented on #833
@mxstbr I would also greatly appreciate a comparative example of routes in jsx syntax. It is the only brake I have with this boilerplate. thanks.

[2016-11-11 21:23] Dattaya opened #1221 "extract-intl script can't parse LocaleToggle/messages.js"
at least on Windows (dev branch):

[code]

Does anyone else experience this issue?

[2016-11-11 23:43] stubailo commented on #1041
BTW if there are any improvements we can make to Apollo to make this simpler, happy to consider that!

[2016-11-11 23:53] scf4 commented on #1041
I just started working on a new app with RBP/Apollo today. Does anyone have an integration example? I followed the Apollo docs but I'm missing something with the way the store is setup:

[code]

[2016-11-11 23:55] stubailo commented on #1041
@scf4 perhaps open a separate issue on `apollo-client`?

[2016-11-12 00:23] DenisNeustroev commented on #1041
@scf4 I have a fully worked app with Apollo, during the day, I will send instructions.

[2016-11-12 01:22] samit4me commented on #1221
Confirmed on macOS also, `git checkout dev` > `npm i` > `npm run generate language` > selected the default `fr` > hit enter and then got the same error you reported!

[2016-11-12 03:20] basimhennawi opened #1222 "You may need an appropriate loader to handle this file type"
I got this error while loading a **css** file, is there anything to do with loaders in **weback.base.babel.js** file? Thanks in advance.

![image](https://cloud.githubusercontent.com/assets/10829464/20235326/8a06e2dc-a897-11e6-91a3-dde40f91b308.png)

[2016-11-12 09:18] samit4me commented on #1222
This boilerplate uses [`styled-components`](https://styled-components.com/) allowing you to write your CSS in your JavaScript, for more info check out the [CSS docs](https://github.com/mxstbr/react-boilerplate/tree/master/docs/css).

If you would still like to import CSS files, you can do so by adding the `css-loader` and `style-loader` to `webpace.base.babel.js` like you suspected. See the [offic

[2016-11-12 09:23] #1222 closed

[2016-11-12 12:33] kubek80 commented on #1052
Installation failed for me on node v5.12.0 (npm v3.8.6).
(before I opened package.json I had two tries with 4.6)
No problems with latest version (6.9.1 - with and without Yarn).
Since I didn't use Yarn before (I wish I new about it during my last project!) it took be around 30mins to check all scenarios.

Information about supported node version in quick start section of readme would definitely im

[2016-11-12 14:54] DenisNeustroev commented on #1041
@scf4 @sedubois diff with a fresh RBP https://github.com/DenisNeustroev/react-boilerplate/commit/05f2d920f50a2d4d3226ba7783c264ab769145f3
Also can clone https://github.com/DenisNeustroev/react-boilerplate & install and start & open localhost:3000/apollo and see result

[2016-11-12 16:27] nhducit opened #1224 "Cancel load repos watcher before the request is finished cause the list always in loading state"
##Bug
Cancel load repos watcher before the request is finished cause the list always in loading state
## Description
The second click on home button cancel current watcher.
I think this bug relate to https://github.com/mxstbr/react-boilerplate/issues/1183

(Add images if possible)
![erspahoo38](https://cloud.githubusercontent.com/assets/4246176/20239266/3e179d2e-a92f-11e6-9a81-101b691e7a7d.gif)

#

[2016-11-12 16:32] nhducit commented on #1183
I think even if your implementation, we still have the #1224 issue

[2016-11-12 17:38] gihrig commented on #1224
Bug confirmed.

Node 6.6.0
npm 3.10.8
Mac OS 10.11.6
Chrome 54.0.2840.98 (64-bit))

[2016-11-13 08:56] Dattaya commented on #1221
@justingreenberg, I need your advice. #813 broke `extract-intl` script, here's an error message (it can't parse `app/containers/LocaleToggle/messages`):

[code]

I have only two ideas how to fix it: bring back previous 'dumber' `messages.js`,
![image](https://cloud.githubusercontent.com/assets/387256/20244535/489afdda-a98f-11e6-9f8d-2e38d3b365a9.png)

or add all the necessary messages like `"boile

[2016-11-13 14:11] chaintng commented on #1191
@justingreenberg i think the generator is expecting dump object instead of function
please see also https://github.com/mxstbr/react-boilerplate/issues/1221#issuecomment-260174124

[2016-11-14 07:24] angelosembrano opened #1226 "[Module not found: Error:] "Can't resolve" a component exported through an index.js"
So first of all, I want you to know that I re-ordered the file structure of this boilerplate to follow this [convention](https://medium.com/@alexmngn/how-to-better-organize-your-react-applications-2fd3ea1920f1#.k8uo4tyhk), but also kinda tweaked it to conform to my needs.

This is the current file structure:
![sample](https://cloud.githubusercontent.com/assets/22093912/20256186/cadfe704-aa7c-11e6-

[2016-11-14 08:44] DJTB commented on #1220
You can change HomePage to inherit from `Component` instead of `PureComponent` and the hot reloading will work in the meantime.

[2016-11-14 09:59] afitiskin commented on #1224
@nhducit I saw you comment at #1183 and checked your issue two times:
* with current implementation (manual saga cancel on each `LOCATION_CHAGE`)
* with my proposal implementation (by default sagas start only once, and run all the time)

I found that with my proposal implementation of saga run/cancellation I can't reproduce your bug. May be I'm doing something wrong, so please test it by yourself.

[2016-11-14 10:01] nhducit commented on #1224
Thanks @afitiskin, I will try your solutions

[2016-11-14 14:06] scf4 commented on #1041
Hmm I think my issue was missing the `client` in this line in `app.js`:

`const store = configureStore(initialState, apolloClient, browserHistory);`

Besides that little hiccup it was incredibly simple to drop Apollo into RBP! cc @mxstbr !!!

[2016-11-14 14:50] rmaroun commented on #1220
Thanks @DJTB. It is now working. It this a bug? What is the impact of using React.Component instead of the PureComponent? Thanks.

[2016-11-14 14:56] GGAlanSmithee commented on #1220
@rmaroun

it's a known limitation of react hmr prior to react-hot-loader@3

`PureComponent` will only re-render as props or state changes: [ref](https://facebook.github.io/react/docs/react-api.html#react.purecomponent)

[2016-11-14 15:10] meilers opened #1227 "Trouble configuring webpack to add flexbox"
I'm having a hard time adding a new css loader to support [flexbox](https://github.com/roylee0704/react-flexbox-grid). Here's what I have in my base webpack configuration file:

{
test: /.css$/,
loader: 'style!css?modules',
include: /flexboxgrid/,
}, {
// Transform our own .css files with PostCSS and CSS-modules
test: /.css$/,
exclude: [/node_modules/,/flexboxgrid/],
loader: ''style-loader!css-loa

[2016-11-14 15:31] GaryThomas opened #1228 "Deployed website/app doesn't come up"
## Description

I cloned the repo and ran 'npm run setup;npm run build' and then pushed './build/' to my webserver.
When I try and run that, it just hangs :-(

## Steps to reproduce

  http://www.mlbassoc.com/testrb

# Versions

- Node/NPM:
- Browser:

[2016-11-14 17:36] rmaroun commented on #1220
@GGAlanSmithee thanks for the clarification :)! I will then close the issue.

[2016-11-14 17:36] #1220 closed

[2016-11-14 19:07] gihrig opened #1229 "ESlint style errors after update"
After dependency update #1225 many new style errors are flagged. I worked around these by disabling the new rules, but, IMO the code should be corrected and the rules re-enabled.

To reproduce, enable the rules listed below in package.json and run `npm run lint`.

Error:
[code]

_eslint rule import/no-webpack-loader-syntax in package.json <--- disabled_
...
[code]
_eslint rule import/first in pack

[2016-11-14 19:23] gihrig opened #1230 "ESlint recommends against for ... of"
After dependency update #1225 many new style errors are flagged. I worked around these by disabling the new rules, but, IMO the code should be corrected and the rules re-enabled.

To reproduce, enable the rules listed below in package.json and run npm run lint.

Error:
[code]
_eslint rule no-restricted-syntax in package.json <--- disabled_

see:
https://github.com/airbnb/javascript#iterators--nope

[2016-11-14 19:41] gihrig opened #1231 "'generate container' produces 'Unnecessary return'"
#After dependency update #1225 many new style errors are flagged.

To reproduce:
1. Create a new container `npm run generate container`.
2. Accept all defaults for generator.
3. `npm run lint`.

Error
[code]

_Needs to be fixed in generator template <---_

return; -> return null; Or ???

Removing the `return` triggers `no-empty-fuction`

[2016-11-14 20:00] gihrig opened #1232 "Saga effects should be yielded"
After dependency update #1225 many new style errors are flagged. I worked around this one by rolling back the dependency to the earlier version, but IMO, the code should be corrected and the newer version of eslint-plugin-redux-saga installed.

To reproduce:

1. `npm install --save-dev eslint-plugin-redux-saga@0.2.0`
2. `npm run lint`

Error:
[code]
_eslint-plugin-redux-saga 0.1.5 → 0.2.0 <--- rol

[2016-11-14 20:42] tlimited commented on #1221
I accidentally generated two of the same languages because didn't know it worked the first time and there were no constraints keeping me from doing it. Just a related issue..

[2016-11-14 20:52] gihrig opened #1233 "ESlint errors in Atom editor"
While working on dependency update #1225 I observed many linting errors in the Atom editor.

These errors do not appear when linting from the terminal, only in Atom.
The errors first appear in `98f2d0d` feat(core): Move to Jest for testing (#980)

Atom: 1.11.2
linter-eslint 8.0.0
OS X 10.11.6

To reproduce:
Open `/app/app.js`  (or other .js files) in editor

![image](https://cloud.githubuserconten

[2016-11-14 21:57] Dattaya opened #1234 "Language generator shouldn't duplicate a language"
Originally reported by @tlimited in #1221

`npm run generate language` -> choose `de`

Expected result in `i18n`:

[code]
Current result
[code]

[2016-11-14 21:58] Dattaya commented on #1221
Yep, we should definitely fix that. I've created a new issue: #1234.

[2016-11-15 00:23] baldore opened #1235 "Redux-saga test - Cancel example doesn't work"
In **app/containers/HomePage/tests/sagas.test.js**, exactly in [this block](https://github.com/mxstbr/react-boilerplate/blob/master/app/containers/HomePage/tests/sagas.test.js#L77-L83), the test is not doing anything. Tried to break it but still passes.

What I saw in the redux-saga issues is that, in order to test **cancel**, a mocked task should be created using `createMockTask` helper. Here is

[2016-11-15 03:37] GaryThomas commented on #1228
I see now what the problem is: all deployed files assume they are at the root of the web server.

Is there a way to configure this to allow deployment to a subfolder, as in the example URL?

[2016-11-15 12:42] cristobal-io commented on #1152
With the latest versions is not working, keeps appearing the same error.

`webpack.base.babel.js` have changed from the version that @akiokio implemented the solution, not sure if this would affect.

Thanks.

[2016-11-15 14:49] Dudelmoser commented on #1191
Could this error "`defineMessages()` must be called with an object expression with values that are React Intl Message Descriptors" mean that the translations may not default to an empty string?

[2016-11-15 14:56] Dudelmoser commented on #1191
I haven't looked into the generator but the generation itself works and I can use the new language afterwards - though I'm still getting runtime errors for missing translations as long as I don't fill the empty strings in /translations.

Both - the error and the possibility to double generate a language - should be fixed though to avoid confusion.

[2016-11-15 18:13] aurbano commented on #367
Also trying to setup a styleguide, any updates on this?

[2016-11-15 18:59] diegohaz commented on #1103
I still have not managed to find the time to solve the problems I encountered and probably will not have time for this anytime soon.

@tomazy contacted me and It seems he has a working solution. Just posting here to ensure that there is no problem if he (or another person) takes this in my place.

[2016-11-15 19:01] asood123 commented on #1103
That's too bad to hear, @diegohaz. Thanks for the update though. No problem from our end if @tomazy picks it up.

[2016-11-15 20:39] justingreenberg commented on #1221
@Dattaya I'm sorry for the delay in getting to this, I have been swamped at work and personally with weddings and holidays... This is on my list and will investigate asap :)

[2016-11-15 21:50] Dattaya commented on #1221
@justingreenberg, no problem, it's not a critical bug, so please, take your time.

I went with option # 1 and realized that both of them unfit to solve the issue. By option # 1 I mean this:
 - Revert back #813
 - Add a new action to the language generator that would update LocaleToggle's messages, for example for `fr` it would add:
[code]

The problem is that it's specific to the example app, `Loc

[2016-11-16 09:04] KarandikarMihir opened #1237 "[styled-components] Adapting based on props throws ESLint error"
Adapting style w.r.t. props requires to use arrow functions in template strings. Consider this example-

[code]

This throws following error-
`Arrow function used ambiguously with a conditional expression  no-confusing-arrow`

[2016-11-16 09:07] GGAlanSmithee commented on #1237
can't check, but if memory serves me right;

`${(props) => (props.hidden ? 'hidden' : 'visible')}`

will get rid of that lint message

[2016-11-16 10:41] tomazy commented on #1103
I've created a new PR for this feature (#1236). There are still a few small things to be solved but in general it works. I'd appreciate if you guys could spend a minute on reviewing it to check if I don't make any design mistakes.

[2016-11-16 10:43] samit4me commented on #1226
If it works fine in `dev` but not in `production` can you please try removing the `new webpack.optimize.DedupePlugin()` from `webpack.prod.babel.js` as shown in this open [Pull request](https://github.com/mxstbr/react-boilerplate/pull/1218/files)!

Let us know how that goes?

[2016-11-16 10:48] samit4me commented on #1227
@meilers Do you have a repository you could share demonstrating the problem? This would be rather difficult to debug without seeing the code!

[2016-11-16 10:58] samit4me commented on #1228
Have you tried adding your subfolder to the webpack option `output.publicPath`? Try adding it to `webpack.prod.babel.js`? For more info check out the  [webpack docs](http://webpack.github.io/docs/configuration.html#output-publicpath) and let us know how that goes?

[2016-11-16 11:49] samit4me commented on #1237
This is certainly one of those ESLint rules that can get on your nerves! I usually do exactly what @GGAlanSmithee suggested, but this will require the ESLint option `allowParens` set to true, example:
[code]

Another option is to turn off the rule and then you can leave your code as it is:
`/* eslint no-confusing-arrow: ["off"] */`

If want to apply these rules to your entire project, add it to yo

[2016-11-16 12:06] mxstbr commented on #1237
Let's just disable that rule because it's a style we encourage from the `styled-components` side, so it shouldn't be an issue in the boilerplate.

[2016-11-16 15:41] isaachinman commented on #1103
@asood123 @tomazy Watching this closely and am very excited about the potential. Does anyone know if @mxstbr plans on merged this into master, or will it be a separate SSR branch? My preference would be the former, to ensure it's maintained properly.

[2016-11-16 15:49] asood123 commented on #1103
Last I talked to @mxstbr, this was going to merged into master...

[2016-11-16 15:51] tblazina commented on #1105
@williamgranli Could you please share how you've implemented these two together? I'm trying to do this at the moment and any example would be great to see!

[2016-11-16 15:57] sedubois commented on #1103
I better understood the need for server-side rendering with this article: http://rauchg.com/2014/7-principles-of-rich-web-applications/#server-rendered-pages-are-not-optional

[2016-11-16 15:59] jforaker opened #1240 "Firefox dll.js warning: mutating the [[Prototype]] of an object will cause your code to run very slowly..."
FYI - I get this error in Firefox v46 / Mac OSX

` mutating the [[Prototype]] of an object will cause your code to run very slowly; instead create the object with the correct initial [[Prototype]] value using Object.create`

from

`reactBoilerplateDeps.dll.js line 6966 > eval`

Also throws this doozie, and my app is near unusable.

![image](https://cloud.githubusercontent.com/assets/2042031/203535

[2016-11-16 17:03] meilers commented on #1227
@samit4me Never mind. I followed the instructions on their page and it turns out I didn't need to exclude flexbox from my css loaders after all. Now everything works :) Thanks!

[2016-11-16 17:03] #1227 closed

[2016-11-16 17:37] nhducit opened #1241 "RFC: Support Reactotron"
Reactotron like redux devtool but with more functions.
There is a bug when we use it along with react-devtool but we can work around.
https://github.com/reactotron/reactotron/issues/239#issuecomment-259685156
I would like to open a PR.

Here are it's features:
[code]

[2016-11-16 20:56] williamgranli commented on #1105
@tblazina I've gotten it to work, but because of a rushed deadline all the code is in quite bad shape. I'll post what I have sometime tomorrow morning EU time.

[2016-11-17 00:22] JustinJKlein opened #1244 "Redux-Forms integration into redux and middleware"
## My Issue
Integrating redux-forms

## Description
I am having difficulty tying my redux-form installation into the redux and middleware setup we have in the boilerplate. I have added it to the combineReducers and imported the node modeul by following the docs but I can not even get it to enter input into the field. It just stays blank when typing with the cursor in the field.

If any of you guys

[2016-11-17 00:58] nhducit commented on #1244
Did you follow to this setup? http://redux-form.com/6.2.0/examples/immutable/

[2016-11-17 04:23] JustinJKlein commented on #1244
Thanks a ton! I am going to try that now. I can absolutely see now why that would likely be the problem.

[2016-11-17 06:21] kopax opened #1245 "can't use request.js with spring"
I am trying to modify this file

https://github.com/mxstbr/react-boilerplate/blob/master/app/utils/request.js The problem is it handle the errorMessage in statusText, which is not something I can set from my Spring backoffice.

I have my error message in the body of the response.

This is how I solve it so far : http://pastebin.com/LfiXbcHt

I have tried many different way of makint it work it, bu

[2016-11-17 11:57] hurrtz opened #1246 "Error with vanilla installation"
# React Boilerplate

## Issue Type

- [x] Bug
- [ ] Feature

## Description

With installing the vanilla boilerplate, not doing anything with it and running `npm run build` I get the following error message:

`ERROR in ./~/react-addons-test-utils/index.js
Module not found: Error: Can't resolve 'react-dom/lib/ReactTestUtils' in '/Users/winkler/Sites/chat/node_modules/react-addons-test-utils'
 @ ./~

[2016-11-17 12:38] web2style opened #1247 "Add information about naming convensions to the README"
For example, why in `app/components/Button` directory `StyledButton.js` file begins with capital letter and `buttonStyles.js` starts from lowercase letter. And `app/global-styles.js` is even with hyphen.

[2016-11-17 13:16] williamgranli commented on #1105
**In app/routes.js:**
Components are loaded like this. First example is non-protected (login) route and second (dashboard is protected.
[code]

loadModule modified like so:
[code]

UserAuthWrapper config like so:
[code]

**LoginPage container:**

[code]

[code]

The sagas which are triggered onClick on the login button are implemented with a lot of copy/paste from https://github.com/sotojuan/saga-

[2016-11-17 15:18] tomazy commented on #1103
@asood123 Have you had a chance to look at #1236 ? I think it's pretty much done.

[2016-11-17 18:12] Dattaya commented on #1246
It seems I've fixed the dev branch in #1248, but you have this same bug in the master, right?

[2016-11-17 19:11] prasadsilva commented on #1246
My react-boilerplate app suddenly started failing in CI, and it was related to react 15.4 getting included somewhere down in the npm dependencies. I fixed this by locking down the semver for all deps/dev-deps (remove `^`) and `npm i --save-dev react-addons-test-utils@15.3` (version depends on when you cloned this repo).

Is there a better solution?

[2016-11-17 19:23] Dattaya commented on #1246
@prasadsilva, yarn positions itself as a better alternative to `npm` + `npm shrinkwrap`, a quote from https://yarnpkg.com/en/docs/yarn-lock:

[2016-11-17 19:30] gihrig commented on #1246
React-boilerplate ships with yarn.lock. In dev branch that installs 15.3.2.

[code]

[2016-11-17 20:28] asood123 commented on #1103
@tomazy I looked over the PR. Looks fine to me - though I'm not that experienced. Better to have someone like @datapimp or @diegohaz look at it. I'll ping a couple other people who might be able to review as well.

Excited to see this go live soon!

[2016-11-18 03:18] karloespiritu commented on #446
Is there a way to declare the API URL a variable, such as using environment variables? In the example above, I have to declare the API URL statically, which means if deployed to a different server environment (staging, production, etc.), I have to update the API URL manually.

[2016-11-18 03:46] karloespiritu opened #1250 "Accessing environment variables in client-side code and creating builds for multiple environments"
I'm having issues accessing environment variables (i.e API_URL) after I deploy and build my app to multiple environments (staging, production, etc).

I'm using the boilerplate as a client application that consumes data from a REST API. My application is deployed in Heroku and I use Heroku Pipelines for my deployment and build  process.

What's the best way to access environment variables after I b

[2016-11-18 09:01] Dattaya commented on #1221
Third option is described here: #1251

[2016-11-18 09:37] gihrig commented on #865
Yes this is still an issue.

 `internals/templates/*` files are moved to various locations by the clean script. `store.test.js` in particular has eslint disabled [here](https://github.com/mxstbr/react-boilerplate/blob/master/internals/templates/store.test.js#L6) becuase the templates dir structure does not match the generated dir structure. This is the root cause for this issue, the eslint disable

[2016-11-18 13:44] kachkaev commented on #936
Thanks a lot for that repo @Dattaya!

I've just started a new `react-boilerlate` project and the first thing I did was to remove `ImmutableJS`. This library was created in 2014 and at that time it was a really helpful general-purpose syntax-sugar tool. Keeping things immutable has become much more convenient in ES6 with spread operators and other language improvements, to so the main purpose of `I

[2016-11-18 14:30] smilexu commented on #1041
@DenisNeustroev Thanks for your sharing, that save my time. Have you tried 'npm run build' ? It failed by

[code]
Any ideas ?

[2016-11-18 14:44] smilexu commented on #1041
@DenisNeustroev Thanks for sharing, save my time 👍

[2016-11-18 15:06] jesnil01 commented on #1247
I think the logic is to use capital letter for components.

StyledButton.js -  renders a button and therefore should be in capital.
buttonStyles.js - just holds styles to be used in other components.

Not sure about the logic behind global-styles.js though.

[2016-11-18 15:18] afitiskin commented on #1224
@nhducit any news here?

[2016-11-18 22:31] oyeanuj commented on #936
@Dattaya Any chance you can share these memoize functions, lru and time based caches? I need to build something similar, and would help to have some examples! Thank you!

[2016-11-18 22:40] samit4me commented on #1250
I'm not sure I fully understand your requirements, but if you are wanting a GLOBAL variable available in all environments, maybe the webpack [DefinePlugin](http://webpack.github.io/docs/list-of-plugins.html#defineplugin) could help!

If you add your own variable to the the [webpack.base.babel.js](https://github.com/mxstbr/react-boilerplate/blob/master/internals/webpack/webpack.base.babel.js#L58) i

[2016-11-18 23:00] samit4me commented on #1247
You right it's not exactly clear. This repo uses Airbnb style guides, so yes @jesnil01 is 💯 correct.

Currently there is an open issue #1213 to add some docs about this. Feel free to open a PR against that ticket if you have some good ideas, there is more info in that issue. Cheers

[2016-11-18 23:23] samit4me commented on #1245
I'm not sure I understand the question! Is it possible for you to share a sample API response you are trying to process?

According to the [docs](https://developer.mozilla.org/en-US/docs/Web/API/Response/statusText), the `statusText` is simply the status message that goes with the status code (e.g. 200 OK), so if the server responded with "Successful 2xx" the `statusText` won't actually be used. A

[2016-11-18 23:25] samit4me commented on #1244
@JustinJKlein it sounds like @nhducit help you resolve the problem, are you happy for this issue to be closed?

[2016-11-18 23:35] samit4me commented on #1241
I've literally never heard of this, but it does look cool. Do you know of any open source projects using it now (to have a look)?

- Is it easy to integrate?
- Can you choose not to use it once installed?
- Does it work with Windows?

If you answer yes to all of these questions I would say submit a PR. Cannot guarantee it will be added as I'm not the repo owner, but after looking at it briefly it

[2016-11-18 23:49] samit4me commented on #1240
Well, that certainly isn't good, thank you for submitting an issue. Is it specifically with v46 of Firefox ONLY?

Before I look into the issue, could you please try the following and report back:

1. Get a fresh clone of the `master` branch of this repo and test in the same environment.
1. If `master` fails, please try the `dev` branch.
1. If `master` works, please install all the same `dependenci

[2016-11-19 03:04] DJTB commented on #1206
Could be helpful to add a link in the Jest section's resources to these videos by Kent C. Dodds (covers watch and snapshot).

[Free egghead videos: Test Javascript with Jest](https://egghead.io/lessons/javascript-test-javascript-with-jest?pl=testing-javascript-with-jest-a36c4074)

[2016-11-19 05:01] KarandikarMihir commented on #1237
@GGAlanSmithee Your solution worked without setting `{allowParens: true}`. Do we still need to globally disable this rule? cc: @mxstbr @samit4me

[2016-11-19 05:08] samit4me commented on #1237
It must depend on which ESLint plugin / editor you use because the [documentation](http://eslint.org/docs/rules/no-confusing-arrow) states that the `allowParens` is set to false by default. I use VSCode and if I do not specify the `allowParens: true` it shows errors with parenthesis.

I agree with Max on disabling this rule, it typically causes more pain the good.

[2016-11-19 05:38] KarandikarMihir commented on #1237
Fair enough!

[2016-11-19 06:43] akashshinde commented on #832
I am getting `404 Not Found` after deploying build/ to nginx docker image.

[2016-11-19 08:04] jacobk commented on #526
In an app I'm working on we currently have two global reducers; one that handles authentication state and one from [ApolloClient](https://github.com/apollostack/apollo-client) (for GraphQL).

Currently we wire these up in a mixture of the root `reducers.js`, `app.js` and even `store.js` (The apollo reducer is created at runtime so we needed to piggyback on the `asyncReducers` object).

Would the s

[2016-11-19 14:04] hurrtz commented on #1246
@Dattaya Yes, I am using the default master branch. Thanks for your work so far! I am curious to see if you hotfix this or include test-utils as a dependency :)

[2016-11-19 15:10] jforaker commented on #1240
Yes it was v46 only. However, I updated my build config to more closely match the current version and the problem seems to have gone away. If it happens again, I will try the above steps. Thanks.

[2016-11-19 15:10] #1240 closed

[2016-11-19 16:26] Geeman201 commented on #918
Hey,

First of all great project @mxstbr (and co) I've been using react-boilerplate for a while now and really enjoying the developer experience/performance it gives out the box, so thanks!

I was wondering what the outcome of this was? Analysing my bundle I see the whole of lodash included when the only import comes from the following in asyncInjectors.js:

[code]

as suggested above if you chang

[2016-11-19 19:06] karloespiritu commented on #1250
Thanks, but it's not exactly what I'm looking for. I've actually tried that approach, but it requires defining the API_URL as a fixed string constant, and not as an environment variable. Let me illustrate what I'm trying to achieve:

1. In my development environment, when I run `npm run build`, the build script should read my `.env` file contains the ff key-value pair:

[code]

2. When I deploy it

[2016-11-19 20:40] samit4me commented on #1250
Ah okay, thanks for clarifying. I've just done a little experimenting with `dotenv-webpack`, `webpack-dotenv-plugin` and `env-cmd` and I think [`env-cmd`](https://github.com/toddbluhm/env-cmd) may work!

Steps I followed:

- `npm i -D env-cmd`
- Added a `.env` file similar to the one you specified in the root dir of the boilerplate
- In `webpack.base.babel.js` modified the DefinePlugin to look som

[2016-11-20 04:20] gihrig commented on #1246
The solution for 3.3.3 is to install with `yarn install` rather than `npm run setup` or `npm install`.

This issue will be resolved in 3.3.4 master.

Closing as resolved, but feel free to comment here if desired.

[2016-11-20 04:20] #1246 closed

[2016-11-20 05:27] gihrig commented on #1230
I'm closing this as it is fixed by #1243, which I have tested and found to be working.

If anyone has any further concerns about this please comment on that PR.

[2016-11-20 05:27] #1230 closed

[2016-11-20 05:41] gihrig commented on #1247
I agree with @samit4me  on moving discussion to #1213, so I'll close this issue. but please feel free to contribute there.

[2016-11-20 05:41] #1247 closed

[2016-11-20 10:13] kopax commented on #1245
@samit4me The problem I have is :

In the current `request.js`

    function checkStatus(response) {
      if (response.status >= 200 && response.status < 300) {
        return response;
      }

      const error = new Error(response.statusText); <== this works because statusText is a string, Error expect a string so all good.
      error.response = response;
       // throwing the error here wil

[2016-11-20 10:28] samit4me commented on #1245
I am still confused and not sure what you are asking, I'm really sorry 🤔

What is it that you are trying to achieve? It sounds like you've modified the request.js file to suit your needs but it's not working and your looking for help? Is that correct?

I can only assume so I'm probably wrong, but it kind of sounds like you want request.js to throw an error if the status is NOT 2XX and also if it i

[2016-11-20 12:16] kopax commented on #1245
@samit4me yes that's correct. The way it was made I couldn't send an error message string from the rest api.

I want in request.js the function checkStatus to throw an error if the status is not 2XX. I need to use the error message from the response body.

[2016-11-20 15:44] #1245 closed

[2016-11-21 00:38] chris-garrett commented on #1226
I had a similar error and applying the patch fixed it.

[2016-11-21 00:43] samit4me commented on #1226
That's great @chris-garrett, thanks for sharing.

[2016-11-21 00:43] #1226 closed

[2016-11-21 04:01] karloespiritu commented on #1250
Thanks, this method works on my local machine. My only issue now is that when I deploy this update to Heroku, the `env-cmd .env` does not work as it cannot find the `.env` file. I think this is because Heroku does not store the environment variables in a `.env` file.

[2016-11-21 04:29] samit4me commented on #1250
Firstly I do not know anything about Heroku so please take it easy on me if I am wrong.

The `.env` seems to be for local dev and not production https://devcenter.heroku.com/articles/heroku-local#set-up-your-local-environment-variables.

Heroku does seem to have environment variables tho, which should be available to `process.env` so it should be a matter of adding a different DefinePlugin for dev

[2016-11-21 08:30] karloespiritu commented on #1250
Thanks @samit4me, no problem, I understand. Your suggestion was very helpful and I was able to use your suggested implementation to make loading of environment variables work in my `staging` and `production` environments in Heroku.

So here's what I did to make it work:

1. I created a `sentenv.js` file in the boilerplate root folder file that generates the `.env` file for different environments:

[2016-11-21 10:02] angelosembrano opened #1254 "Dynamic page loading failed Error: [React Intl] Could not find required `intl` object. <IntlProvider> needs to exist in the component ancestry."
I tried to remove all references to `react-intl` because there's not much use of it in my web app.

Your docs simply said to remove `<IntlProvider>` from app.js but there's none already there. Figures that you seemed to move it all with `<LanguageProvider>` and thus from there remove all references to it, along with `i18n.js`.

But then I still get this error whenever I try to navigate to another

[2016-11-21 13:08] somghosh opened #1255 "Differences in flexbox CSS in React-boilerplate in dev and prod builds"
I am seeing discrepancies between the css produced in dev mode and in prod mode. `React Boilerplate version: "3.0.0",` For Safari < 9

These differences are mainly in `flex-box` related css. I am attaching a screenshot

[![enter image description here][1]][1]

It seems that the prod css has `display:-webkit-box;` instead of `display: -webkit-flex;` and the `-webkit-flex-wrap: wrap;` is missing. If

[2016-11-21 16:04] kachkaev commented on #1068
Hi guys,

I came up with a question and decided to ask it here since it's related to how the app is being reloaded. When editing certain parts of the app like redux actions, we all constantly see the following message in the browser's console: `[HMR] The following modules couldn't be hot updated: (Full reload needed)`. This is normally followed with a manual page refresh.

I once tried `create-rea

[2016-11-21 16:53] kopax opened #1256 "How to test i18n components"
By using `injectIntl`, it is possible to get locale message in JS:

    import { injectIntl, intlShape } from 'react-intl';
    ... props
      intl   : intlShape.isRequired,
    ... render
    const { formatMessage } = this.props.intl;
    let closeLabel = formatMessage(messages.closeAlert);
    ....
    export default injectIntl(Alert);

The problem is now the unit test of my Alert is complainin

[2016-11-21 17:46] Dattaya commented on #936
I'm on the same page with @kachkaev, at least for now, thanks for sharing your experience btw. Oftentimes I see people have difficulties integrating a library w/o Immutable.js support into their project, another thing is that `console.log` or inspecting object in a debugger wasn't very useful compared to regular objects and arrays, don't know if things somehow got better or not. I hope [sebmarkbag

[2016-11-21 17:52] #1256 closed

[2016-11-21 18:30] oyeanuj commented on #936
@Dattaya thank you for the detailed answer, appreciate it! i'm using reselect atm but am looking to enhance it with custom memoization function with a slightly larger cache to have the selector functions cache per component!

`memoizee` and `memoizerific` look promising for that - thank you! (also, if you ran into the usecase mentioned, do share your learnings/solutions!)

[2016-11-21 19:14] #1244 closed

[2016-11-21 19:15] justingreenberg commented on #1256
https://github.com/yahoo/react-intl/wiki/Testing-with-React-Intl

[2016-11-21 21:29] somghosh commented on #1255
This issue had the solution https://github.com/mxstbr/react-boilerplate/pull/806

[2016-11-21 21:29] #1255 closed

[2016-11-22 02:59] angelosembrano commented on #1226
Hello, @samit4me. You were right there! But I have figured it out on my own by scavenging the internet for an answer. Thanks for the response though. 😄

[2016-11-22 03:59] samit4me commented on #1226
That is great news! Is there any chance you could share the solution you found? It may help others experiencing similar issues.

[2016-11-22 04:16] angelosembrano opened #1257 "How to fully remove react-intl in boilerplate?"
The docs seems to be outdated, it says [here](https://github.com/mxstbr/react-boilerplate/blob/0f88f55ed905f8432c3dd7b452d713df5fb76d8e/docs/js/i18n.md#removing-i18n-and-react-intl) that `You can remove react-intl modules by first removing the IntlProvider object from the app/app.js`, but there's no IntlProvider in `app.js` already. Instead I found it at the LanguageProvider.
(PS. Please do update

[2016-11-22 05:10] nhducit commented on #1241
`Is it easy to integrate?`
Yes, it have a good document for integration
`Can you choose not to use it once installed?`
Let me check and answer this question later
`Does it work with Windows?`
It will support Windows: https://github.com/reactotron/reactotron/issues/195

[2016-11-22 05:17] nhducit commented on #1241
There is a Reactotron's issue need to be resolve before we can integrate it to react-boilerplate

[2016-11-22 08:02] samit4me commented on #1250
That's great @karloespiritu, I'm really glad you got something that works for you. I agree, this is certainly is a common use case and maybe something could be added to the docs in the future, but for now I think this issue will be a fantastic reference for anyone trying to do something similar. Thank you for sharing your solution, I am certain it will help someone out in the future 👌

[2016-11-22 08:02] #1250 closed

[2016-11-22 09:30] DJTB commented on #1257
If you've removed LanguageProvider and il8n, in `app.js` you can also remove all the above regarding module.hot and the polyfill, replacing it simply with:
[code]
HMR should work for normal Components still (excepting PureComponent currently, but new HMR and new React Router in future updates should address this).

[2016-11-22 11:17] phuochau commented on #949
Hi all,

I have the same problem. When I switch to another page, the reducer of new page will receive and process all previous actions.

![6b7b026f64a1a05e662c6d7e330b7ab4](https://cloud.githubusercontent.com/assets/1784243/20521831/ca083ffc-b0df-11e6-8c4f-3b976a14d740.png)

Anyone know how to fix it? Thanks

[2016-11-22 13:07] #1234 closed

[2016-11-22 14:34] tblazina commented on #1105
@williamgranli

Cheers thanks for great input, it turns out in the end that I can do all the authentication without problems using the saga-login flow as a template. Like you I am under pressure with a deadline at work so kind of used what works but I'll eventually try to implement the wrapper as well, so thanks a lot!

[2016-11-22 23:59] scf4 commented on #174
Note: Rendering user input from Redux can result in XSS with SSR. It's something often missed since React (client side) protects against it.

Make sure the SSR implementation for this boilerplate protects against this by sanitizing this stuff :)

[2016-11-23 02:50] angelosembrano commented on #1257
I see, thanks @DJTB. One last thing though.

I did all that as above, but this still shows whenever I navigate to a new route:

`Dynamic page loading failed Error: [React Intl] Could not find required `intl` object. <IntlProvider> needs to exist in the component ancestry.`

Note that I have done as what you have stated above.

[2016-11-23 10:03] #1228 closed

[2016-11-23 11:28] DJTB commented on #1257
Have you already run `npm run clean` or is this the example project?
After cleaning you still need to remove any references that try to use react-intl like:```
import { FormattedMessage } from 'react-intl';
<FormattedMessage {...messages.header} />
[code]

[2016-11-23 16:31] tpinne commented on #999
I can't get around these problems. I still have the same issues as @andrew-oneill with latest node and npm versions and 3.2.1 of this boilerplate.
I followed each process and workaround from @simonacca . Any hints what's missing?

[2016-11-23 17:05] tblazina commented on #443
@benjaminlgt-littlelives sorry but I'm still unable to get static webfonts to load..

i've added a  publicPath: 'http://127.0.0.1:3000/' to the webpack.dev.babel.js,

and in App/styles.css I've defined the font face using

@font-face {
 font-family: "NovecentoWideRegular";
 src: url("styles/fonts/novecentowide/Novecentowide-Normal-webfont.eot");
 src: local("Novecento Regular"), local("Novecento")

[2016-11-23 20:23] tblazina commented on #443
Ok, so if I direct it to load the .ttf file it loads ok and everything renders correctly but not with the .eot. Why might this be?

[2016-11-24 02:04] manelpb commented on #1068
@kachkaev try to create your components using React.Component instead. It will auto reload

[2016-11-24 04:14] zamrq commented on #868
Its work for me

webpack.base.babel.js
   mainFields: [
      'browser',
      'main',
      'jsnext:main',
    ],

in reducer
import { reducer as formReducer } from 'redux-form/immutable';

export default function createReducer(asyncReducers) {
  return combineReducers({
    form: formReducer,
    route: routeReducer,
    language: languageProviderReducer,
    ...asyncReducers,
  });
}

[2016-11-24 04:19] ezuk opened #1259 "Livereload from a remote machine?"
Hi there,

My development workflow is:

1. A VM sitting on a box somewhere in my LAN runs `react-boilerplate`.
2. From a Chromebook, I connect to that VM via SSH and edit files in Vim.
3. When I need to see the site, I go to `192.168.0.1:3000` -- the IP of the host machine, which forwards the port over to the VM.

It's weird, but it does work. The only thing that doesn't quite work is livereload.

[2016-11-24 07:42] gihrig commented on #1233
A solution that is working for me is make package.json conform to this [#980 comment](https://github.com/mxstbr/react-boilerplate/pull/980#issuecomment-247111015)

The original works (provided `webpack.test.babel.js` is restored):
`package.json`
[code]

The recommended change works:
`package.json`
[code]

The way it ended up in #980 _does not_ work. It produces the errors listed in the OP:
`packag

[2016-11-24 09:03] kachkaev commented on #1068
@manelpb yeah I know that I can use `React.Component` instead of `React.PureComponent` or functions, but that potentially creates performance problems. Even if I do so, there will be still cases when webpack won't be able to reload itself and show me that yellow _please refresh_ message in the console. I'm just wondering how I can automate this refresh.

[2016-11-24 10:42] basimhennawi opened #1263 "Implement global selectors in root App"
I want to implement global selector, in root App for example, that can be reached within any container.

**Use case:**
This global shared selector will be holding the session user object after login.

What is the best practice for implementing this selector?
Also, want to know where to implement the reducer too that will set the user object after login via `Login` container?

Thanks in advance.

[2016-11-24 10:47] tpinne commented on #999
Just tried latest boilerplate release with latest release of semantic-ui-react with node 7.2.0 and npm 3.10.9 and it works with no changes at all.

[2016-11-24 10:48] tauren opened #1264 "Cross-component dependencies"
Apologies in advance for being a little long-winded. **tldr**: Aren't all the cross-component dependencies in this boilerplate encouraging the development of monolithic apps? Is that even something I should be concerned with?

---

I've been using this boilerplate for a few weeks now and for the most part am pleased with it. Thanks to everyone for all the effort put into it! One reason I selected

[2016-11-24 12:25] tpinne opened #1265 "How to remove styled-components and replace with old behaviour?"
How can I use the newest version of this boilerplate but without styled-components and use normal css-files as before?

I tried to add all loader configurations from version 3.2.1 but cannot get it to work.

[2016-11-24 17:52] kopax opened #1266 "Unit test timeout behavior uncontrollable lead to "Chrome was not killed in 2000 ms, sending SIGKILL""
I have some strange behavior when running test.
I have tried to diagnosis this issue but it remain unexplained.

I have this error that come up sometimes :

[code]

instead of

[code]

The only difference between the working state and the not working state is almost nothing.

I have replaced in a file :

[code]

by this :

[code]

Am I the only one to face that kind of bugs with the unit tests too

[2016-11-24 20:15] kopax commented on #1264
I have probably less experience with it than you but since we started to work using a clean react boilerplate I can see that the more it grows the more I see cross-imports.

We are rewriting bootstrap 4  using 100% styled components from a-Z incl doc.

To get the full features for my components:

- Components that work with theming
- Components that has default theming values
- Components that can

[2016-11-25 02:33] tinybug commented on #1264
It's really not a good practice access selectors, actions, and constants in other components. To simplify and make the components clean, I would like to put all the share selector, actions, and constants in the global scope(the app level). I know it will make the app level complicate, but it's easier to maintain the whole project.

[2016-11-25 06:11] jeremyadavis commented on #1265
Just had to work though this myself, it was a bit tedious but appears to have worked just fine.

Here's roughly the steps I did.

Did a file comparison/merge on my 3.2.1 repo against a 3.3.3 one on the following files:

- package.json
- all files in internals/webpack
- app/app.js
- app/store.js
- app/routes.js

In these files I made sure to keep any conflicts relating to css stuff e.g postcss, sty

[2016-11-25 07:28] carlos-peru commented on #1265
@tpinne, why not having all your common files content in your app/global-styles.js? You can also add packaged modules in app/app.js. For instance if you want to include boostrap just:

import 'bootstrap/dist/css/bootstrap.css';

You might already know this, but dropping it in just in case. Plus, I do believe styled-components is a good practice because it lets your component be more composable.

[2016-11-25 09:56] tpinne opened #1267 "After "yarn add foo" DLLs have to rebuild"
## Issue Type

- [x] Bug (https://github.com/mxstbr/react-boilerplate/blob/master/.github/CONTRIBUTING.md#bug-reports)
- [ ] Feature (https://github.com/mxstbr/react-boilerplate/blob/master/.github/CONTRIBUTING.md#feature-requests)

## Description

After I add a package via `yarn add` the DLLs have to be rebiuld. I don't know if this is a bug or intended behaviour. But I think with `npm install` t

[2016-11-25 10:03] tpinne commented on #1265
@jeremyadavis
Thanks man, I didn't get my head around the postcss options problem. So I've been nearly close to the finish line.

@carlos-peru
We are "updating" the boilerplate in an existing application. Therefore we want run the application with the minimum changes necessary in the first place. Then we might think of switching to styled components.

But for now writing styled components inside P

[2016-11-25 10:06] #1265 closed

[2016-11-25 11:28] bladepop commented on #982
Hi,
I have encountered a similar problem, I found that the cause was a wrong way to import the container,
I imported it without the connect like this:
`import { Container } from '../Container`
When I swapped this line to
`import Container from '..Container`
the connect was called and props were applied,
however you should make sure that your mapStateToProps function can access the store,
Because t

[2016-11-25 13:16] kempfe opened #1268 "Issue with production build"
I created a production build of my app and get the following error when trying to open the production page.

main.6ad4fcd….js:1 Uncaught TypeError: Cannot read property 'call' of undefined(…)

the building process works fine - no errors from webpack.

im calling cross-env NODE_ENV=production webpack --config internals/webpack/webpack.prod.babel.js --color -p --progress

any infos where the problem

[2016-11-25 13:34] ravindranpandu commented on #1265
@tpinne did you manage to use the css files inside components now?

[2016-11-25 16:23] gargantuan commented on #727
I'd love to see a gist for this

[2016-11-25 20:54] kempfe commented on #1268
Ok i can be more specific now

to reacreate the issue do the following
install a clean installation of react-boilerplate
install react-boostrap with npm install --save react-bootstrap
import react-bootstrap in any index.js for testing purpose
build it for production
test production and see it fails with the above stated error

i got prove from react-boostrap team that it works fine on webpack - so

[2016-11-26 01:50] zamrq commented on #1268
yah... :(
same with me

[2016-11-26 01:53] zamrq commented on #1268
solver by remove webpack DedupePlugin from webpack.prod.babel.js

https://webpack.github.io/docs/list-of-plugins.html#dedupeplugin

any ideas ?

[2016-11-26 02:59] kopax commented on #727
@akashshinde would love aswell for the gist.

[2016-11-26 04:19] samit4me commented on #1268
The DedupePlugin appears to cause many issues indeed.

There is an open PR to resolve this #1218, feel free to give it a thumbs up 😄

[2016-11-26 05:00] samit4me commented on #1254
Closing this in favour of #1257

[2016-11-26 05:00] #1254 closed

[2016-11-26 05:19] samit4me commented on #1263
The user object is something that will be "App" wide, so I personally would place your reducers etc in the `containers/App/` directory. You can then import the selectors you want into any container you want. I hope this helps, but seeing as you opened the issue 2 days ago, maybe not. What did you end up doing?

[2016-11-26 05:57] samit4me commented on #1264
@kopax Is bootstrap going to be using the [`styled-components`](https://github.com/styled-components/styled-components)?

@tauren Great question, it appears to be mostly related to Redux! I personally believe Redux is popular because it is abstract. This is good and bad, GOOD as it enables flexibility so you can bend it to your needs, BAD bad as it doesn't really give you an opinionated way on how

[2016-11-26 06:14] carlos-peru commented on #1263
Yea, I agree with sami4me. I'm working on the same thing. Both the reducer and selector should be in containers/App/ because that's the parent container and we want all the children to have access to it. The trick is to add the reducer in combineReducer in reducers.js like:

# app/reducers.js
import appReducer from 'containers/App/reducer';
...
export default function createReducer(asyncReducers)

[2016-11-26 06:39] samit4me commented on #1266
Unfortunately, I was unable to replicate this issue on Windows in either `master` or `dev`. Do you have any further details about your environment or the component causing the issue? I would assume that the comment should be /* Prevent columns from collapsing when empty */ as that is what's valid in CSS, but I'm not sure if that actually matters.

[2016-11-26 06:46] samit4me commented on #1259
Not sure I fully understand the setup, but I've previously worked in a VM and from memory live reload worked, but the VM had its own static IP which I could access or add a DNS entry to make it nicer.

[2016-11-26 09:25] zamrq commented on #1268
[https://s22.postimg.org/lcviqaqht/error.png](img)

[2016-11-26 09:27] zamrq commented on #1268
![error](https://cloud.githubusercontent.com/assets/20111802/20639405/1598f7a0-b3f5-11e6-9375-f9a62a0c102d.png)

found error in react-bootstrap

[2016-11-26 09:34] KarandikarMihir commented on #1229
Is this related to #1233 ? @gihrig

[2016-11-26 09:51] kempfe commented on #1268
i didn't got any errors while building to production
did you import a special element ?

[2016-11-26 10:06] carlos-peru commented on #727
I made a tiny example https://github.com/carlos-peru/react-boilerplate-redux-form.

[2016-11-26 10:18] samit4me commented on #1268
@kempfe it looks like @zamrq has the `CircularDependencyPlugin` installed which is not included with this boilerplate. Webpack has actually removed the DedupePlugin, so it will be resolved once that PR is merged. Feel free to close the issue, if you are convinced your issue is resolved by removing the DedupePlugin.

[2016-11-26 11:09] nndung179 opened #1269 "Missing menu item Using sass at document"
Missing "Using Sass" at main document

[2016-11-26 11:13] KarandikarMihir commented on #1266
That has happened to me quite a few times while running `npm run test:watch`.

[2016-11-26 11:37] martinduo commented on #115
I have cloned your repo some weeks before and have run your app at port 3000 just fine. Today I wanted to work with another copy so I again cloned your repo into another folder and did the npm run setup successfully. But I got an error when I next did the npm run start. Did I do something wrong?

I tried to attach the npm-debug.log, but was told that the file type was not supported, even though I

[2016-11-26 11:56] kempfe commented on #1268
thx guys

[2016-11-26 11:56] #1268 closed

[2016-11-26 12:22] kopax commented on #115
This error `Error: listen EADDRINUSE :::3000` is a common error when your port is unavailable (mostly because another service is listening to it).
This means you cannot listen on port 3000.
Check what service access this port and disable it.
Alternativaly, you can change react-boilerplate port in 3 differents way :

1. change the default port in `server.js`
1. specify an overriding port using argu

[2016-11-26 12:26] samit4me commented on #1266
Do you have any further details @KarandikarMihir like your OS, Node version, boilerplate version, example code?

[2016-11-26 12:28] samit4me commented on #1269
Not sure what you mean exactly, can you please elaborate on what the issue is?

[2016-11-26 12:33] nndung179 commented on #1269
Hi @samit4me. At main document
1. go to folder docs
2. go to "Table of Contents" > section CSS. You will see 2 items: **syled-components, sanitize.css**
3. Go to section CSS. Now it turns into 3 items: **syled-components, sanitize.css, Using Sass**.

[2016-11-26 12:43] samit4me commented on #1269
I see, it's missing from the Table of contents, thanks for reporting the issue, nice find 👌. Are you keen to open a PR? If so, please take a look at the [CONTRIBUTING](https://github.com/mxstbr/react-boilerplate/blob/master/.github/CONTRIBUTING.md) guidelines. If not, that's cool too, either way, please let us know so it can get fixed quickly.

[2016-11-26 12:44] nndung179 commented on #1269
I already looked at it. And I have made a PR followed this guildline

[2016-11-26 13:07] martinduo commented on #115
Thank you for the quick reply. Yes that was the problem. Easily fixed when
you know the cause.

On Sat, Nov 26, 2016 at 7:22 AM, Dimitri KOPRIWA <notifications@github.com>
wrote:

[2016-11-26 13:08] nndung179 commented on #1269
Here is PR: [](https://github.com/mxstbr/react-boilerplate/pull/1270)

[2016-11-26 13:11] samit4me commented on #1269
Thank you for that, linking the issue in the PR is useful to prevent this confusion.

[2016-11-26 13:16] nndung179 commented on #1269
Hi @samit4me. Here is another PR I have made to branch dev

[https://github.com/mxstbr/react-boilerplate/pull/1271](https://github.com/mxstbr/react-boilerplate/pull/1271)

[2016-11-26 13:27] kopax commented on #1264
@samit4me, yes.
You have components store on a side under `components/bootstrap/{atoms/molecules/organisms}`
Beside you also have mixins/utilities available in `styled/helpers/bootstrap/{mixins/utilities}` and configuration `styled/themes/bootstrap/{atoms/molecules/organisms}` with easy override by keeping default values all the time. Works pretty well. We are redoing the bootstrap documentation,

[2016-11-26 13:38] theLordz opened #1272 "Our first impression: We like it!"
**_Hello!_**

We've tested many of the kits made by devs focused on improving the React project. From simple to complex. Every project tested had something apart with their own pros and cons. In terms of performance, it's hard to tell unless we port one of our medium project in the React ecosystem and test it in real world servers.

The features within this foundation are a solid way on how to com

[2016-11-26 13:52] CHRISTOPHERDIEHL commented on #1263
How would one go about getting the selectors in the children containers?

[2016-11-26 14:01] samit4me commented on #1263
I would have thought something like `import { theSelector } from 'containers/App/selectors';` should work! Does that answer your question @CHRISTOPHERDIEHL ???

[2016-11-26 14:02] danielo515 commented on #847
I am just posting this here because maybe someone could face the same problem again. I 'm using windows 10 home edition and node 6.9.1. I don't know why, but generator command does not work on github bash shell, but it does on default windows cmd shell. Weird, I don't know why, but at least it works.

Regards

[2016-11-26 14:20] danielo515 commented on #1145
Where is the helmet supposed to be used? On the main App container? On any place? Thanks

[2016-11-26 15:06] CHRISTOPHERDIEHL commented on #1263
Haha thanks @samit4me! I was having a blonde moment!

[2016-11-26 15:16] zamrq opened #1273 "styled-component make Input Field loses focus"
when i used styled-components to wrap my presentational form component,
Input Field loses focus when type on 1 or first character

[2016-11-26 15:19] zamrq commented on #1273
solved:
never use inline arrow functions

[2016-11-26 15:50] zamrq commented on #1273
1. error, Input Field loses focus
class LoginForm extends React.Component {
  render() {
    const GridStyled = styled(Grid)`margin-top: 50px`;

2. solved temporary
const GridStyled = styled(Grid)`margin-top: 50px`;
class LoginForm extends React.Component {
  render() {

[2016-11-26 18:33] carlos-peru commented on #1264
@taurent, I think the purpose is to have thin containers (aka container components). The container components should be reusing components (aka presentational components). In a larger feature, any global state should be passed down as a prop from the container to the component, so the components can still be reusable.

The piece of code from the example could be improved by letting LanguageProvide

[2016-11-26 20:03] CHRISTOPHERDIEHL commented on #1263
@samit4me  I implemented almost a carbon copy of what is in the example, but when I navigate to a child container of App the redux store is lost. I am confused as to why the store is being held inside the child containers and not the parent container, app. Any thoughts or suggestions?

[2016-11-26 22:02] samit4me commented on #1264
Here is a classic example of how there is no correct way, the docs refer to a [medium article](https://medium.com/@dan_abramov/smart-and-dumb-components-7ca2f9a7c7d0#.bsc66fj43) about how the author finds it useful to separate Presentational and Container components and then regrets ever writing the article in this [tweet](https://twitter.com/dan_abramov/status/802569801906475008). I think the tak

[2016-11-27 00:20] samit4me commented on #1263
@CHRISTOPHERDIEHL Thank you for providing a code sample, it would be impossible without it. I cloned your repo and got something working, but there were quite a few errors being thrown and I don't have time to debug them all, but this is what I did:

#### Step 1:
In `package.json` change `"react": "^15.3.2",` 👉 `"react": "15.3.2",`.

#### Step 2:
In `components/DashComponent` change `<BootstrapTab

[2016-11-27 00:28] samit4me commented on #1273
@zamrq Number 2 looks correct and number one looks incorrect, so I don't see any issues here??? Can you please elaborate on the issue?

[2016-11-27 01:10] zamrq commented on #1273
the issue is we can not pass the dinamyc props to 'GridStyled' component since we use redux-form decoreator on login LoginForm

[2016-11-27 01:49] danielo515 opened #1274 "More newbie friendly explanation about the relationship between sagas, reducers and routes"
## Issue Type

Documentation

## Description

First of all, please let me thank you for the awesome work done with this boilerplate. It has a lot done out of the box, and has a lot of potential. But, at the few hours of start using it I got really confused. Before even trying to do anything I understood what sagas are and how do they work.

I missed a lot a bit explanation about how to "start your

[2016-11-27 02:21] samit4me commented on #1273
Have you got any code samples that you can share? It's going to be difficult to understand without it!

[2016-11-27 02:49] CHRISTOPHERDIEHL commented on #1263
Aaa sorry, I forgot to take all those extra data components out @samit4me . I had to strip part of an existing application and repost it to make it public. In the process, I probably grabbed the wrong branch with incomplete code..

Thank you kindly, and hope you have a nice night! @samit4me

[2016-11-27 03:25] samit4me commented on #1274
@danielo515 I can totally understand where you are coming from, I've been there many times and I'm sure I'll be there many times in the future. I'm not sure if there is any way I can say this without sounding like a dick, but in the [README](https://github.com/mxstbr/react-boilerplate#quick-start) it specifically states that this boilerplate is not for beginners.

If you are just starting out with

[2016-11-27 03:30] samit4me commented on #1263
Does any of the above answered your question @basimhennawi???

[2016-11-27 05:34] zamrq commented on #1273
import React from 'react';
import { Row, Col, Panel, Form, FormGroup, Button } from 'react-bootstrap';
import StyledGrid from './StyledGrid';
import { Field, reduxForm } from 'redux-form/immutable';

function LoginForm(props) {
  return (
    <StyledGrid>
      <Row>
        <Col sm={4} smPush={4}>
          <Panel header={props.header}>
            <Form onSubmit={props.handleSubmit(props.login)}

[2016-11-27 05:35] zamrq commented on #1273
[code]

[2016-11-27 05:37] zamrq commented on #1273
as example above, when StyledGrid
when doing import StyledGrid from './StyledGrid';
it work

[2016-11-27 05:38] zamrq commented on #1273
[code]

[2016-11-27 05:40] zamrq commented on #1273
@samit4me
sample code 2 not work to bind styled component inside HOC reduxform decorator

[2016-11-27 05:58] samit4me commented on #1273
I'm really sorry but I'm still unsure what you are trying to achieve? Code 2 doesn't look right!

Does the following work?

[code]

[2016-11-27 06:08] zamrq commented on #1273
@samit4me ,
how to change StyledGrid's margin top dynamically

[2016-11-27 06:16] samit4me commented on #1273
Sorry, I didn't see it being dynamic in the provided examples. Is the padding passed in as a prop?

[2016-11-27 06:45] zamrq commented on #1273
thx @samit4me
problem not by styledComp,
but Grid from react bootstrap can not allow 'top' , Grid have strict props
[code]

[2016-11-27 06:52] samit4me commented on #1273
Your correct, it only appears to support a [`bsClass`](https://react-bootstrap.github.io/components.html#grid-props), that fairly limiting. Maybe wrapping the grid in a div with a dynamic `styled-component` might work?

[2016-11-27 06:56] gihrig commented on #1229
@KarandikarMihir No, these errors are legitimate, assuming we accept that webpack dependent imports are undesirable and that the order of imports is important.

[2016-11-27 08:11] zamrq commented on #1273
@samit4me  many thanks

[2016-11-27 08:12] #1273 closed

[2016-11-27 08:47] KarandikarMihir commented on #1266
@samit4me It's been days since I saw this error. So it was definitely earlier version of this boilerplate. I'll confirm the boilerplate version tomorrow.

OS- Ubuntu 14.04
Node/npm- 5.5.0 / 3.3.12

[2016-11-27 11:20] danielo515 commented on #1274
Dear @samit4me

You tried... and failed 😄 Seriously, no offense here.
That section of the readme it's shocking, but I took it very serious. I make myself sure that I understand how selector works and basically I fill all the gaps between my knowledge and the concepts of the template.

There are however some important parts that could be confusing for any developer that starts using this boilerplat

[2016-11-27 13:37] basimhennawi commented on #1263
@samit4me Yes. Actually, I moved to this approach back then (3 days ago).
**_For reducer_**: Add a new `reducer` file under `containers/App` and already implement and then import and add it in `app/reducers.js` as @carlos-peru mentioned.
**_For selector_**: I already use the one with the boilerplate under `containers/App` too, exporting extra selectors.

Thanks guys!

[2016-11-27 13:37] #1263 closed

[2016-11-27 19:59] yantakus opened #1276 "Add generator for creating snapshot tests"
It would be great to have a generator that can loop through all the components in the project and create simple snapshot tests for them, just basic ones like this:

[code]

This is already useful. And if not, the user can modify it to make useful: provide required props, some other data, etc.

This would help to avoid a lot of manual copy/pasting. What do you think?

[2016-11-27 22:42] danielo515 commented on #958
On erikras/redux-form#1637 they are suggesting to change the order of preference of jsnex vs main at internals/webpack/webpack.base.babel.js. So they suggest going from

[code]
to:

[code]

What is the impact of such change? I don't have much experience on that area but I'm afraid that it is not a good thing. Someone (@jacobk )mentioned lack of tree shaking.

A bit off-topic but, could someone poi

[2016-11-28 01:57] zamrq commented on #1276
simple to add your on generator tempale file in 'internal' folder

this boilerpate use plop as generator system
https://www.npmjs.com/package/plop

[2016-11-28 07:07] kopax opened #1277 "How is loaded the global state and is there a global sagas ?"
I'm having a look at the selectors of App containers and I see :

    const selectGlobal = () => (state) => state.get('global');

But I can't find where this is loaded into react the 'global' state of the application.

When I was looking on how to add a global states a month ago, I did had to inject my global reducers and global sagas inside the `createRoutes` function.

Is it global just because

[2016-11-28 08:32] samit4me commented on #1277
Is this what your looking for:

[code]

https://github.com/mxstbr/react-boilerplate/blob/master/app/reducers.js#L41-L51

[2016-11-28 09:15] kopax commented on #1277
Thanks!
Sorry for asking. I don't know why I've looked for `globalReducer` and sublim didn't find this reference.

[2016-11-28 09:40] mxstbr commented on #1274
I think it'd be useful to add a better outline doc that explains the general concept of how this boilerplate works too! We'd appreciate a PR adding this from somebody

[2016-11-28 09:42] mxstbr commented on #1266
The comment is definitely not what breaks this, as we allow both comment sytax' from `styled-components` core.

I think this just generally happens with browser testing – sometimes it's faster and sometimes slower, so sometimes timeouts happen which don't happen always. I don't think there's anything we can do to prevent this I'm afraid, it's just a tiny bit flaky ¯\_(ツ)_/¯ if anybody has ideas ho

[2016-11-28 09:42] #1266 closed

[2016-11-28 09:48] mxstbr commented on #1272
Thanks, we much appreciate comments like this, we don't get them very often! This certainly just made my day! 😊

All due to the amazing team and collaborators we have!

👏 @oliverturner 👏
👏 @datapimp 👏
👏 @gihrig 👏
👏 @amilajack 👏
👏 @chaintng 👏
👏 @sedubois 👏
👏 @samit4me 👏
👏 @Dattaya 👏
👏 @justingreenberg 👏

[2016-11-28 09:48] #1272 closed

[2016-11-28 09:51] jshumakerpruitt opened #1278 "Module not found: Error: Can't resolve 'fs'"
# Module not found: Error: Can't resolve 'fs' in '/Users/js/code/react/react-boilerplate/node_modules/shelljs/src'
## Issue Type

- [x] Bug (https://github.com/mxstbr/react-boilerplate/blob/master/.github/CONTRIBUTING.md#bug-reports)
- [ ] Feature (https://github.com/mxstbr/react-boilerplate/blob/master/.github/CONTRIBUTING.md#feature-requests)

## Description

I've used this boilerplate successfu

[2016-11-28 10:50] KarandikarMihir commented on #1274
@mxstbr Can I try this one? Since I've worked my way up from building sample redux + redux-thunk projects to be able to use this boilerplate in one of our projects, I know the pain-points of beginners.

[2016-11-28 10:50] KarandikarMihir commented on #1274
@mxstbr Can I take a shot at this? Since I've worked my way up from building sample redux + redux-thunk projects to be able to use this boilerplate in one of our projects, I know the pain-points of beginners.

[2016-11-28 11:01] juanda99 opened #1279 "Nested containers"
I have a configuration route which should render some containers each one with differente configurations options for my app, so my state should be something like:

[code]

I decided to make a parent container called configurationView in charge of all the child containers (I just need split code for my route conf).

My route configuration is:

[code]

My reducer is just the sum of all the  modules

[2016-11-28 13:11] kopax commented on #1277
Is there an equivalent for the sagas ?

[2016-11-28 13:47] juanda99 commented on #1279
It was my fault, I returned a function without executing it.
I rewrote my configurationView reducer file:

[code]

[2016-11-28 13:47] #1279 closed

[2016-11-28 16:14] Evanion opened #1280 "route redirects?"
I'm trying to figure out how to add a redirect route (301).

For instance ... I want to add an alias for /sign-in so that users that try to go to /login will be forwarded to the correct page.

Usually I would just add a `<Redirect />` to the router.. but I'm not sure how to handle it in this code structure, as I can't seem to find any documentation about it.

[2016-11-28 16:57] kopax opened #1281 "Understanding sagas from example, why "Generator is already running" when canceling watchers"
[code]

This code work fine if I don't uncomment the take and cancel.

I feel it's missing some sagas examples, I took a few from here and here (this one is a mix of saga/LoginFlow and example in this project)

There are many differences in the way people use sagas, sometimes I can't see the while(true) loop, for example in the `HomePage/sagas.js`

Would be nice to have extra sagas examples.

Can

[2016-11-28 17:06] #1209 closed

[2016-11-28 17:45] talbenbasat opened #1282 "getComponent and load reducer/sagas is called after updating query params"
Hi,

I'm using the boilerplate - must say it's great.

In my project i'm updating the query params after change.
Im doing it using { push } action of react-router-redux.

The problem is, that the sagas and reducers are loaded multiple times.
a thing that make my api calls increase linearly.

I can patch it using  'takeLatest' for the sagas but It's just a patch.

any idea?

[2016-11-28 18:31] danielo515 opened #1283 "Any clue about how to serve production build from hapi?"
## Issue Type

- Help

## Description

I was wondering if there is any example around there of how to serve the production build from a hapi server. I'm hapi-auth-cookie for session autentication, and I'm running in some issues serving the chunks and some routing loops.

If there is any example about how to configure hapi for this, I will be very grateful.
Thanks in advance

## Steps to reproduce

[2016-11-28 19:28] carlos-peru commented on #1137
@williamgranli, how did you solve the logout saga issue? I was trying to do the same. I did what @sedubois suggested (thanks!) and it did kick the saga in the children routes although when redux-auth-wrapper redirects to /login (when accessing a protected route) the saga gets cancelled and I don't know why.

However, now I'm thinking that the logout flow should be synchronous and just have a loadi

[2016-11-28 19:43] Dattaya commented on #1233
I'm also not a webpack wizard 😄 and don't have Atom installed, but have one idea, what if you replace:
[code]
with
[code]
And if that doesn't help, replace `process.cwd()` everywhere in `webpack.dev.babel.js`. IMO `process.cwd`'s are nasty, I always avoid them and prefer `__dirname` instead.

[2016-11-28 20:13] williamgranli commented on #1137
@carlos-peru Not sure what you are asking exactly, but I did what sedbois suggested and it works fine for me.

My routes.js:
[code]

Could you try to specify what is causing your issue? (Steps on how to reproduce if possible).

[2016-11-28 20:58] #1282 closed

[2016-11-29 01:51] zamrq commented on #1281
CALL : handle promise for normal http fetch request ( axios, superagent etc)
FORK : like call but non blocking
TAKE:  suspended until an action that matches pattern

you actually do not cancel anything since fork still listening

[2016-11-29 01:56] zamrq commented on #1277
simplify your life

[code]

const { global } = this.props;
console.log(global) // global state

[2016-11-29 02:08] zamrq commented on #1280
[code]

[2016-11-29 04:43] samit4me commented on #1277
You are correct, routes.js is where all the action happens! In short, there is no such equivalent. Sagas are different to the reducers.

There can only be a single store and to know the shape of that store you need all the reducers up front, so on route load, if there is a reducer, it is combined with the other reducers and then the entirely new store is generated including existing state and then

[2016-11-29 04:50] samit4me commented on #1274
@danielo515 Mate, judging from your response, you are far from a beginner! There is a similar discussion going on over on [issue 1277](https://github.com/mxstbr/react-boilerplate/issues/1277#issuecomment-263474768), feel free to have a read and see if any of the helps. Understanding how something works and explaining it to others are two different things, some people are naturally good at teaching

[2016-11-29 06:14] kopax commented on #1277
@samit4me Yes it really clarified the situation. Thanks!

[2016-11-29 06:14] #1277 closed

[2016-11-29 06:33] kopax commented on #1281
Is this a bad thing ?

This `HomePage/sagas.js` is used by `HomePage/index.js` which contain this login form.
The watcher is supposed to login my user.

As recommended in this [comment](https://github.com/mxstbr/react-boilerplate/issues/1137#issuecomment-255589752) , my logoutWatcher part is in a sagas in `App/sagas.js`.

All that to say, I identify two kinds of sagas :

- __global sagas__: which

[2016-11-29 07:53] nhducit opened #1284 "Update OffflinePlugin to latest version (4.0)"
## Issue Type
[Enhancement] Update OfflinePlugin to latest 4.0 version

[2016-11-29 08:04] gihrig commented on #1284
@nhducit This will be included in the next dependency update. Hoping for this coming weekend, unless it breaks something...

Is there a special reason for requesting this update, some feature or fix you need?

[2016-11-29 08:14] nhducit commented on #1284
@gihrig I don't need any special reason just found that this plugin was outdate

[2016-11-29 11:50] ajarbol commented on #645
For the record I would like to mention that my default Nginx setup had `sw.js`, loaded from disk. I needed to add the following directive to my `nginx.conf` file to ensure a correct lifecycle:
[code]
The defaults might be different in an Express or Apache setup.
Many thanks for the above clarifications, they were quite enlightening!

[2016-11-29 12:48] NekR commented on #645
Yeah, SW file should be served without cache enabled for it. Otherwise you may get stale SW up to 24h. Though, that's gonna change per spec SW file will always (unless opt-in) without taking cache into account. But that's future :-)

[2016-11-29 14:27] rizedr commented on #144
@mxstbr Has any solution been adopted for this issue? Except @kachkaev's solution posted above? I am working on a project which has v3.0.0 as dependency.

[2016-11-29 15:41] jeremyadavis opened #1286 "Update templates be in sync with current app functionality"
## Issue Type

- Bug

## Description

The templates need updating to remove items from 3.2 that no longer exist and add new things from 3.3.

Here are a few of things I found after setting up a new app off of 3.3.3.
**Stuff Missing to be added**
Offline Plugin Dev Message #1095
[global-styles reference](https://github.com/mxstbr/react-boilerplate/blob/master/app/app.js#L33)

**Stuff to be removed*

[2016-11-29 15:43] Stalso opened #1287 "Remove name property from routes"
Hello. All your routes in `routes.js` have `name` property.

    {
      path: '/',
      name: 'home',
      getComponent(nextState, cb) {
        const importModules = Promise.all([
          System.import('containers/HomePage/reducer'),
          System.import('containers/HomePage/sagas'),
          System.import('containers/HomePage'),
        ]);

        const renderRoute = loadModule(cb);

[2016-11-29 16:36] gihrig commented on #1284
OK, Dependencies update every day, with many breaking changes it's a considerable chore to keep current.

Thanks for pointing it out.

[2016-11-29 16:36] #1284 closed

[2016-11-29 20:22] #1233 closed

[2016-11-29 21:08] danielo515 opened #1288 "Service worker caching wrong data because no cache parammeter"
## Issue Type

- [ ] Problem ( I have a problem)
## Description

First let me describe my setup, which is probably wrong.
I have a hapijs server, which has the following endpoints

- `/` which serves the index.htm, currently not used - **requires auth**
- `/login`  serves a login form, tat calls `/api/login`
- `/{param*}` which servers the assets and statics - **requires auth**
- `/api/login` allo

[2016-11-29 22:37] carlos-peru commented on #1137
Well I did that, but when the redux-auth-wrapper would redirect me from let's say /dashboard to /login for validation, the saga would get cancelled. However, it would work when I'd go straight to /login. I don't know why. I ended up moving back the saga to the LoginPage container but kept the reducer, selector and constants in App. My LogoutLink container also uses the same reducer, selector and c

[2016-11-30 13:20] ItsMrAkhil opened #1290 "Restart the server if something changed in server folder"
How can I restart the server automatically on changing the code in the server. Like nodemon does it.

It will be a good feature if you can add this.

[2016-11-30 18:24] zamrq opened #1291 "application hangs to handle only 100 rows data !"
![peek 2016-12-01 01-22](https://cloud.githubusercontent.com/assets/20111802/20765424/d15184c2-b764-11e6-8fd3-d35ff660adc1.gif)

This is a live example of the application url
https://sample-c4888.firebaseapp.com/

the application to hang after go back 10 times in sequence.
I do not know in which part is wrong, I just worried this would be problematic in a larger amount of data
below I include the

[2016-11-30 18:26] zamrq commented on #1291
[code]

[2016-11-30 18:27] zamrq commented on #1291
[code]

[2016-11-30 18:27] zamrq commented on #1291
[code]

[2016-11-30 18:47] zamrq commented on #1291
[code]

[2016-11-30 18:53] zamrq commented on #1291
problem solved
cancel all watcher on LOCATION CHANGE
case closed.

[2016-11-30 18:54] #1291 closed

[2016-11-30 18:56] zamrq commented on #1281
make sure to use fork on getLoginWatcher
function* getLoginWatcher() {
  yield fork(takeLatest, ACTION_TYPE,  doActionType);
}

[2016-11-30 18:56] izziaraffaele commented on #446
This does not work in test environment as the `webpack.test.babel.js` configuration file does not inherit from `webpack.base.babel.js`.

Additionally, I'm getting an error `Unable to resolve path to module 'config'` and so, the solution of @mxstbr  does not work for me at all.

[2016-11-30 22:58] gihrig opened #1292 "Expand Jest moduleNameMapper to include common file types"
The existing configuration informs Jest to avoid testing `.css` and `.jpg` files.

Other files types cause testing errors.

For example, changing

`import Banner from './banner.jpg';`
to
`import Banner from './banner.png'`

Ref: [components/Header/index.js](https://github.com/mxstbr/react-boilerplate/blob/dev/app/components/Header/index.js#L8)

Throws:
![image](https://cloud.githubusercontent.com/

[2016-11-30 23:51] NekR commented on #1113
@mxstbr hey.. I kinda forgot about it, sorry. But here is a good news: I released v4 of `offline-plugin` and now waiting to use it for some time. Once I'm sure it's stable enough I'll be updating it in `react-boilerplate` and will do this issue in the same time.

Max, can you assign it to me so I could easily track it (if it's possible)?

[2016-12-01 03:04] rileybwesley opened #1294 "Fresh Install Build Issue - ReactTestUtils"
I am experiencing an issue with the latest version. Upon doing a fresh install the builds are failing with dependency issues. Here are the steps to reproduce on Windows:

1. Clone most recent version.
2. run "npm run setup"
3. run "npm run build"

I have reproduced this on several computers.

The following error is received:

ERROR in ./~/react-addons-test-utils/index.js
Module not found: Error: C

[2016-12-01 03:12] rationalthug commented on #1294
Seeing issues using OSX (10.12.1) as well. Upon running 'npm run setup':

Error: Cannot find module './request'
    at Function.Module._resolveFilename (module.js:472:15)
    at Function.Module._load (module.js:420:25)
    at Module.require (module.js:500:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (/usr/local/lib/node_modules/npm/node_modules/request/index.js:145:19)

[2016-12-01 04:17] gihrig commented on #1113
@NekR

I plan on submitting dependency update this weekend. Should I hold off moving to 4.5.x?

PS. I assigned this issue to you. Looking forward to your work 😄

[2016-12-01 04:22] kopax opened #1295 "application loader"
I would like to know how you people handle graphically the loading time when the react app is bootstrapping.
Did anyone got a way to do a `webpack.onload` equivalent ?

[2016-12-01 04:56] gihrig commented on #1294
@rileybwesley There is a know issue with the current version of RBP 3.3.3 where an untracked dependency has been updated. This will be corrected in the next RBP update.

Try:
`npm install react-addons-test-utils@15.3.2`
`npm start`

@rationalthug I suspect you have a corrupt npm cache.
Try:
`rm -rf node_modules`
`npm cache clean`
`npm install`
`npm start`

Better yet for both of you, (re)install w

[2016-12-01 04:57] ithinco commented on #1041
@stubailo Hi, I'm a Chinese Front-End developer. I wrote an article yesterday to promote the React stack including "React + Redux/Flux + (GraphQL + Relay)/Apollo + Flow + Jest" in large SPA development.  The creator of Vue.js commented that since Apollo is still not in 1.0, I can't consider Apollo as a stable solution. I think Apollo is production ready, so what's your opinion about this stability

[2016-12-01 05:19] NekR commented on #1113
@gihrig

That's really hard to tell. v4 has been there for a while (in a separate branch / npm tag) and merged it to master just a few days ago. I recently built a PWA with 4.5.* and fixed few bugs and then it seemed to work as expected. Though, I certainly didn't expect those bugs to be there so there might be something else too.

What I meant here is that I don't want to break things for people

[2016-12-01 05:21] stubailo commented on #1041
@ithinco neither GraphQL nor Relay are at 1.0 either. Not that that's an excuse for us, though. We have a few things we'd like to iron out before dropping that number on it. Specifically, here's a list: https://github.com/apollostack/apollo-client/blob/master/ROADMAP.md

We don't expect the developer experience to change significantly, or to remove any features. We're using Apollo in all of our pr

[2016-12-01 05:35] gihrig commented on #1113
@NekR My thoughts are "that's why we have a `dev` branch". New and Production users are generally using `master`.

I would love to give `offline-plugin` 4.5.x some additional exposure (presuming that automated plus manual testing passes). I have relied on automated plus manual testing for dependency updates and so far no major issues.

I will certainly review issues on `offline-plugin` repo before

[2016-12-01 05:36] kopax commented on #1281
This is my getLoginWatcher function :

[code]

I still have this error :

![image](https://cloud.githubusercontent.com/assets/1866564/20782885/847ab17e-b7c2-11e6-95a4-8e5411121aa9.png)

Here is the whole `sagas.js`

[code]

[2016-12-01 05:38] stubailo commented on #1041
@ithinco I don't think this is related to this thread though, so if you have further questions it's probably best to open a new issue somewhere else.

[2016-12-01 06:38] NekR commented on #1113
@gihrig

Yeah, makes sense.

There is actually no known bugs in there. I fixed those which I found during PWA development already. But sure, feel free to take a look, maybe you'll find something useful there :-)

[2016-12-01 07:21] olabalboa opened #1296 "Itegration of babel-plugin-rewire"
I have been trying to integrate babel-plugin-rewire to react-boilerplate with inspiration from karma-rewire-istanbul-example made by @jseminck.

The tests runs fine but coverage report generation fails. There are already reported issues regarding rewire and istanbul in both babel-plugin-rewire and babel-plugin-istanbul but all suggestions in those threads does not work for me.

I have a repo set u

[2016-12-01 12:36] mxstbr commented on #1113
Sounds good to me @gihrig!

[2016-12-01 15:37] zamrq opened #1297 "does anyone ever do a server rendering with this boilerpate successfully ?"
does anyone ever do a server rendering  with this boilerpate successfully ?
please help sharing what you have done

[2016-12-01 16:06] Dattaya commented on #1297
#1236

[2016-12-01 16:25] #1297 closed

[2016-12-01 23:31] gihrig commented on #1296
Rewire has been discussed at length here, please search the repo (issues and PRs) for "rewire", specifically #923.

[2016-12-02 07:14] zamrq opened #1298 "is there any large project build with this boilerpate?"
is there any large project build with this boilerpate?

[2016-12-02 10:06] KarandikarMihir commented on #1298
Is that an issue?

[2016-12-02 10:06] KarandikarMihir commented on #1298
@zamrq Is that an issue?

[2016-12-02 10:07] mxstbr commented on #1298
Yes. I legally cannot say which ones, but there's a lot of big companies using this boilerplate (including the biggest of them all) for huge projects.

[2016-12-02 10:07] #1298 closed

[2016-12-02 14:31] kopax commented on #1281
I still can't find why I am getting this error.

Is it because the login is my homepage and homepage should not have any sagas ?

I am thinking of recreating a home page like a loader and then onComponentDidMount, generating a redirect to the login.

Does anyone has a clue ?

[2016-12-02 14:51] kachkaev commented on #1033
Hey guys,

Has anyone given v4 a try in this boilerplate so far? I once used it in a CRA project and quite liked the new API! Not sure how easy it would be to integrate the new approach with the async routes in `react-boilerplate` though as `routes.js` and code splitting look a bit too complex to me.

If you've done any experiments with it, feel free to share a link to your fork in this thread! v4

[2016-12-02 16:00] kopax opened #1299 "Add phantomjs, simplify deployment to production, manage test wihout browsers withing jenkins or docker"
I have written a Dockerfile for my application:

    FROM node:7.2-alpine

    RUN mkdir /app
    WORKDIR /app

    ADD . /app
    RUN npm install

    ENV PATH /app/node_modules/.bin:$PATH

    RUN apk update && apk upgrade && \
      apk add --no-cache bash git

    RUN apk add --update \
      autoconf

    CMD ["npm","run","start:production"]

It's working fine except the probleme is `CHROME_B

[2016-12-02 17:42] gondar00 opened #1300 "Broken link"
https://github.com/mxstbr/react-boilerplate/blob/master/internals/webpack/webpack.dev.babel.js#L80

This markdown file link is broken

[2016-12-02 18:46] philipchmalts commented on #1292
+1

[2016-12-03 06:23] giautm commented on #1278
I got same issues:
[code]

[2016-12-03 06:48] gihrig commented on #1278
How about if you run yarn directly e.g.

`rm -rf `node_modules`
`yarn`

Or did you do that already?

[2016-12-03 08:02] nickwild-999 commented on #115
Hi, I have an error when the setup runs...

const shell = require('shelljs');
^^^^^
SyntaxError: Use of const in strict mode.
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.load (module.js:356:32)
    at Function.Module._load (module.js:312:12)
    at Function.Module.runMain (module.js:497:10)
    at startup (node.js:119:16)
    at n

[2016-12-03 15:35] gihrig commented on #115
@nickwild-999 I have deleted your comment as off-topic.

Please read the entire error message more closely (old versions?) and try again. If you're still having problems, please search open and closed issues, if still no luck feel free to open a new issue.

[2016-12-03 15:54] CHRISTOPHERDIEHL commented on #1265
Could you post your webpack config? I'm still having trouble with this @tpinne @jeremyadavis

[2016-12-03 19:15] gihrig commented on #1113
@NekR @mxstbr @all `offline-pugin 4.5.2` presented no problems in testing, so I included it in the recent dependency update #1301.

Thanks @NekR ✨

[2016-12-03 20:15] mxstbr commented on #1267
No, this hasn't changed with the yarn integration. Whenever you add a new dependency you have to rebuild the DLL!

[2016-12-03 20:15] #1267 closed

[2016-12-03 20:40] jsvg opened #1302 "Preload chunks while app is in idle state (feature req)"
Currently with code splitting on routes, chunks are delivered on route transitions. I know that with #1008, there's an effort to add a progress bar to let users know when large chunks are being being requested. I'm wondering if it fits within the scope of this project to create a means for downloading the application's other chunks while it sits in an idle state.

[2016-12-03 21:06] NekR commented on #1113
@gihrig that's great! Thanks for trying it 👍

[2016-12-03 21:54] TheGent opened #1303 "Add MobX as store management tool"
I think MobX is the better store management tool than redux!?

[2016-12-04 04:21] gihrig commented on #1232
Well, I took a crack at this. Clearly I'm not well versed in the area of sagas, much less sagas and testing.

The following error demonstrates the recommended [solution](https://github.com/pke/eslint-plugin-redux-saga/blob/develop/docs/rules/yield-effects.md) and its failure. Note that this solution is also what is implemented automatically when `--fix` is added to the eslint command line.

It's i

[2016-12-04 08:28] mxstbr commented on #1303
I'm open to hearing arguments in favor of swapping out Redux for MobX, but just posting an issue "I think this is better" isn't going to convince anybody 😉

[2016-12-04 08:28] #1303 closed

[2016-12-05 03:09] tinybug commented on #488
@Unforgiven-wanda you should change browserHistory to hashHistory in app.js, and add `target: electron-renderer in webpack configuration`, and then it will work fine.

[2016-12-05 10:29] superzadeh commented on #1296
Runnin into the same problem, I'll update if I find an issue

[2016-12-05 12:44] #1296 closed

[2016-12-05 12:58] andykenward commented on #182
@amilajack should check out [flow-typed](https://github.com/flowtype/flow-typed/)

[2016-12-05 15:27] amilajack commented on #182
Yup. https://github.com/gcanti/babel-plugin-tcomb and https://github.com/gajus/eslint-plugin-flowtype are also recommended

[2016-12-05 16:52] kopax commented on #444
I have this problem with a TwitterFeed component I want to create, my TwitterFeed component needs to use a reducer and a sagas, I wanted to keep both the sagas and the reducer next to my component, I thing this would be the nicest place.

I am very curious to see how you guys manage to export your sagas, this really slowing me down.

[2016-12-05 17:08] 18601673727 opened #1305 "Cannot preventDefault while binding click on float layers"
[code]
[code]
[code]
![image](https://cloud.githubusercontent.com/assets/3302620/20894414/47a4c1a4-bb50-11e6-920f-863f74e70ae6.png)

Click button you'll got:
[code]

[2016-12-05 18:40] zamrq opened #1306 "Error after added font awesome"
[code]

[2016-12-05 20:08] rhengeveld commented on #1294
Encountered the same issue. Reinstalling and using `yarn` as described solved the issue. Thanks!

[2016-12-06 00:16] carlos-peru commented on #1244
In case somebody is struggling with this I have a sample integration: https://github.com/carlos-peru/react-boilerplate-redux-form

[2016-12-06 02:10] skeep opened #1308 "Disable mangling"
How do I disable mangling in production. Adding `mangle: false` in uglify plugin have no effect.

I also noticed latest master [do not even have Uglify](https://github.com/mxstbr/react-boilerplate/blob/master/internals/webpack/webpack.prod.babel.js#L29).

[2016-12-06 04:02] zamrq opened #1309 "Lodash more than 500Kb"
based stats.json and WebPack analyze, lodash has 500KB more, while in the whole boilerpate is only used on some parts of the course. Is it not better to throw lodash at production level

[2016-12-06 06:14] gihrig commented on #1309
See #918 "How can I shrink the main.js build file?"

[2016-12-06 08:43] Altiano commented on #984
@janroesner How do you solve `background-image: url(/image.jpg)` relative path issue ?

[2016-12-06 09:00] hossein761 commented on #255
Hi, I am having the same issue here. but the browser does not get refreshed. I see the code recompiles but not the browser. Any ideas?

[2016-12-06 10:51] paschalidi opened #1310 "Difficulties when try to map the redux state with the props of the container."
I am trying to get familiar with the flow of this boilerplate.
Till now I love how neat clean and easy to understand are things, I although feel that I miss a piece of the puzzle. Would be nice if someone with more experience could help me with that.

The problem I am facing at the moment goes as follows.

- I am triggering an action within componentWillMount() of a specific component.
- The actio

[2016-12-06 14:17] paschalidi commented on #1310
I am http://stackoverflow.com/questions/40993747/difficulties-when-try-to-map-the-redux-state-with-the-props-of-the-container/40995400#40995400

[2016-12-06 14:17] #1310 closed

[2016-12-06 16:39] zamrq commented on #918
![untitled](https://cloud.githubusercontent.com/assets/20111802/20934281/30733a20-bc0d-11e6-853b-2f54295d623d.png)

Nothing happen with lodash-webpack-plugin, still big main.js files

[2016-12-06 17:39] gihrig commented on #918
What happens if you modify `asyncInjectors.js` as shown in @Geeman201 's comment above?

[2016-12-06 17:57] zamrq commented on #918
![untitled](https://cloud.githubusercontent.com/assets/20111802/20937110/0c2a5d46-bc18-11e6-8a90-cf0437aab76b.png)
nothing

[2016-12-06 17:58] zamrq commented on #918
[code]

[2016-12-06 18:00] zamrq commented on #918
[code]

[2016-12-06 18:08] dcarneiro commented on #1281
I'm new to react env and hitting the same problem as @kopax .

I'm using this boilerplate as a base to create my own [boilerplate](https://github.com/dcarneiro/my-react-boilerplate) with some features I was repeating in each new project (like a Login component).

If you clone it, `yarn`, `yarn start` and go to `http://localhost:3003/logout` you should get an `uncaught at handleLogoutRequest Genera

[2016-12-06 18:39] Geeman201 commented on #918
Hey @zamrq

First up..
Any performance analysis should be approached scientifically! [Some colleagues of mine preached this at Devoxx recently!](https://youtu.be/SgM-ZRs-CyY)

1. Figure out the baseline
2. Hypothesis that change x will have effect y
3. Make a single change
4. Rerun the test with only a single change
5. Compare baseline with the results for change x's effect
6. Throw out, build on,

[2016-12-06 18:48] jwinn commented on #1309
@zamrq as @gihrig mentioned in an earlier comment on #918: `import { conformsTo, isEmpty, isFunction, isObject, isString } from 'lodash';` loads the whole file being required--found through [Node.js means](https://nodejs.org/api/modules.html#modules_file_modules). In this instance, this means the file `node_modules/lodash/lodash.js` i.e. all ~ 500K of it. Then the module is destructured accordingl

[2016-12-06 22:13] gihrig commented on #1309
It's unfortunate that the destructuring approach seems to be the "ES6 way", according to popular blogs, examples etc., and it is nicer to compress several lines of code into one. I agree though, that we should not let the "[Good programmers write code that humans can understand.](https://en.wikiquote.org/wiki/Martin_Fowler#Refactoring:_Improving_the_Design_of_Existing_Code.2C_1999)" mantra be an e

[2016-12-07 00:47] SilentCicero commented on #444
Sorry, I started this PR then got side tracked. Is anyone taking this?

[2016-12-07 02:37] amilajack opened #1313 "Discussion: Webpack Blocks"
I believe [webpack-blocks](https://github.com/andywer/webpack-blocks) significantly simplifies webpack configurations and that we should consider using it in this boilerplate:

Thoughts?

Inspired by:
https://twitter.com/dan_abramov/status/806246431707320320

[2016-12-07 02:43] zamrq commented on #918
sorry I had made a mistake when making screenshots about the build stats. wrong / different folders. I do not intend evil and makes you confused

I will try what you suggested, and immediately returned to the experimental results.
thanks for your help @Geeman201

[2016-12-07 03:30] kopax commented on #1281
By the way, this error is not blocking.

It's still really annoying as it let you think there is something wrong with the application, in dev and in production.
I haven't found anyway to disable it, except removing it which break my watcher cancelation.

My sagas looks identical to the one in this boilerplate. Anyone ?

[2016-12-07 03:31] gihrig commented on #1313
Anything to simplify (and make less brittle) webpack config would be most welcome.

Have you worked with it?

[2016-12-07 03:32] amilajack commented on #1313
I've just heard about it today. Haven't had time to try it out yet. But it looks very promising.

[2016-12-07 03:36] gihrig commented on #1313
Would love to hear about any experience you have with it.

[2016-12-07 03:42] amilajack commented on #1313
I'll try to mess around with it this weekend or the next and respond with my experience.

[2016-12-07 03:52] tinybug commented on #1313
LGTM

[2016-12-07 04:19] #1306 closed

[2016-12-07 07:02] santaclauze opened #1314 "Karma Bug?"
Karma seems to skip directories that names are too long.

While testing on the boilerplate, I have had no issues until I tried with he following `CardDeckWrapper`.
After swapping the name the `CDW` Karma picked up on the tests.

I then modified other directories names to longer ones whose testing had been successful in the past and the same bug originated (example: `Nav` to `NavDeckWrapperNext`)

[2016-12-07 12:04] afitiskin commented on #1183
I changed a bit my proposal solution in #1315 to have backward compatibility. By default all sagas lifecycle is exactly as before. If you want to get rid of duplicates for some sagas (without manual watching for `LOCATION_CHANGE` and `cancel`) you just need to set saga's `isDaemon` attribute to `true` and that's it!

Copy of example from PR:
Before:
[code]

After:
[code]

[2016-12-07 17:01] kopax opened #1316 "Add moment.js to boilerplate or a similar framework"
What are you users using as date library ?

I am using `moment.js` but the installation step instruction for webpack isn't clear enough.

I did like recommended [here](https://github.com/moment/moment/issues/2979#issuecomment-189899510)

I was hesitating between adding this either to webpack.base or webpack.dev.

    new webpack.ContextReplacementPlugin(/\.\/locale$/, 'empty-module', false, /js$/)

[2016-12-07 18:50] mattcrum commented on #1210
@Telemakhos tossing that in `global-styles.js` didnt help me unfortunately. removing `sanitize.css` works but i'd prefer not to. Bummer, but it looks like it's just another issue with `material-ui`.

[2016-12-07 22:22] Geeman201 commented on #1309
@gihrig not seen that quote before but am a big fan of Martin Fowler! it's inline [with what uncle bob says with the boy scout rule](http://programmer.97things.oreilly.com/wiki/index.php/The_Boy_Scout_Rule)!

The more I code with ES6 the less I am finding [myself needing utility libraries like Lodash](https://www.sitepoint.com/lodash-features-replace-es6/).

Could a better solution here be to remo

[2016-12-07 23:27] gihrig commented on #1309
If someone would like to explore a plain ES6 solution that eliminates Lodash, that would be awesome!

[2016-12-08 00:12] jwinn commented on #1309
I will take a look at changing this. I do remember having a conversation with Max about using `lodash`, but if our only reason remains for `asyncInjectors.js` I feel it best for us to remove it if at all possible as it's then one less dependency. :-)

/cc @mxstbr

[2016-12-08 02:41] DJTB commented on #1316
I modified webpack.base with:
[code]
However, I later removed moment and decided to use https://date-fns.org/ since it's immutable and can be tree-shaken.

[2016-12-08 03:45] gihrig commented on #1309
Well, I should have done this before posting that comment, but lodash is used in several places.

A global search shows some 270 instances of "lodash" across 7 files. `yarn.lock` in particular shows 260 instances.

I clearly don't understand the minutia of dependency management as it would apply here, but whatever is done should be supported by a demonstrated benefit. We might remove lodash from r

[2016-12-08 04:37] jwinn commented on #1309
Interesting. I hadn't had a chance to look into all occurrences of lodash in react-boilerplate, so I appreciate you doing that. I'm of the opinion to keep lodash and apply the changes in #1312. We could implement each of the 8 or so lodash functions--used directly in react-boilerplate--in an ES6 manner, but this would add functions we'd need to maintain--adding further complexity to the boilerplat

[2016-12-08 05:53] gihrig commented on #1309
Yeah, I think you're on the right track. At the very least, this approach demonstrates the issue and (with appropriate comment), users can take heed or ignore as they see fit.

[2016-12-08 08:33] kopax commented on #1314
Thanks for informing us, I have the same issue.

When my tree under `/components` become too long, the test got excluded.

I have now created a `FIX` directory in every parents of ignored tests to reimport and reexport the ignored tests and it's working again.

Is there any over workaround ? this is a pretty annoying bug.

I am using react boilerplate 3.3.3

[2016-12-08 11:47] karloespiritu opened #1318 "npm run start:prod error when using boilerplate with semantic-ui, semantic-ui-react, and redux-form"
The boilerplate (v3.3.3) won't load on `npm run start:prod` when using it with `redux-form` and `semantic-ui`. In the browser console, this error appears:

[code]

<img width="846" alt="console-error-log" src="https://cloud.githubusercontent.com/assets/219083/21008527/134d3ace-bd7d-11e6-90e8-d5200f21573c.png">

This does not occur when just using `npm run start` but only when using `npm run start:

[2016-12-08 12:34] mxstbr commented on #1235
Feel free to submit a PR to fix this!

[2016-12-08 12:39] mxstbr commented on #982
Since there was no reply to @bladepop's solution I'll close this!

[2016-12-08 12:39] #982 closed

[2016-12-08 12:39] #1259 closed

[2016-12-08 12:40] #1283 closed

[2016-12-08 12:44] #1280 closed

[2016-12-08 12:45] mxstbr commented on #1274
@KarandikarMihir please please do!

[2016-12-08 12:46] mxstbr commented on #1286
Good catches, please submit PRs, we'd very much appreciate it!

[2016-12-08 12:46] mxstbr commented on #1287
To be completely honest, I don't know! Can you try removing it from the example app and seeing if anything changes?

[2016-12-08 12:50] mxstbr commented on #1299
Have you seen #753? Maybe that helps!

[2016-12-08 12:51] mxstbr commented on #1300
Please submit a PR! Thanks!

[2016-12-08 12:52] mxstbr commented on #1302
I don't think so, for the simple reason that any such behaviour would be very very specific to the app that is built with it. Providing a solution that works for everybody for this doesn't sound possible to me, but I'm open to being proven otherwise!

[2016-12-08 12:52] #1302 closed

[2016-12-08 12:54] mxstbr commented on #1294
Sorry about that, will be releasing a new version today or tomorrow!

[2016-12-08 12:54] #1294 closed

[2016-12-08 12:55] mxstbr commented on #1308
Running webpack in production (`webpack -p`) automatically adds UglifyJS, that's why we removed it. I sadly don't know how to add flags to that automatically added plugin though, sorry!

[2016-12-08 12:55] #1308 closed

[2016-12-08 12:55] mxstbr commented on #1313
I doubt it'll cover the quite complex configuration we have by now, but I'll happily be proven wrong!

[2016-12-08 12:56] mxstbr commented on #1316
Yeah I use `date-fns`, seems to be much more modern and made for this purpose!

[2016-12-08 12:56] #1316 closed

[2016-12-08 12:58] mxstbr commented on #1314
That's really annoying, but sadly I don't think there's anything we can do to fix this 😢 We'll have to wait for Karma to fix it!

[2016-12-08 12:58] #1314 closed

[2016-12-08 14:22] skellock commented on #1241
Hello.  I'm Steve with the Reactotron project.

We'll be taking a run at `Immutable.js` support shortly here, and our `redux-saga` is pretty solid now (especially with 1.6 having the ability to see the internal stack trace that tripped up a saga)

Is there anything I can do to help?

In our repo, we have a `cra` demo.  We could add a `react-boilerplate` example as well to show you how the integrat

[2016-12-08 17:08] karloespiritu commented on #1318
I found a fix to my issue, and it is caused by webpack DedupePlugin()  in `internals/webpack/webpack.prod.babel.js`. To fix the error, I just removed the line:

[code]
This plugin should be removed immediately from the latest version of this project as it causes errors that ONLY occurs in the production build, that is -- only when loading the application on `npm run start:prod`.

It appears this i

[2016-12-08 17:08] #1318 closed

[2016-12-08 17:27] kopax commented on #1314
@mxstbr do you think you could keep this open until it got fixed ? It has an incidence on the boilerplate file structure.

[2016-12-08 18:25] KarandikarMihir commented on #1274
I'll have the first draft ready by Sunday!

[2016-12-08 18:41] mxstbr commented on #1314
It's not really related to the boilerplate, is it? Nothing we can do to change it, and if people are having this bug they'll search the issues anyway, not triage the full existing list :blush:

[2016-12-08 18:57] #1221 closed

[2016-12-08 19:23] #1269 closed

[2016-12-08 22:05] amilajack commented on #1313
If it allows for extensibility, it may be suitable for us. I'm not sure if it allows for it at the moment

[2016-12-09 00:16] gihrig opened #1320 "#1205 breaks cleaned project start"
A cleaned project fails on `npm start`

See this [#1205 comment](https://github.com/mxstbr/react-boilerplate/pull/1205#issuecomment-265881061)

[2016-12-09 01:19] hcschuetz commented on #955
I've also extracted a component to a separate package and used a slightly different approach to preserve hot reloading for the sources of that component:
- I'm using webpack's [resolve.alias](https://webpack.js.org/configuration/resolve/#resolve-alias) rather than `npm link` for referring to the component.  (This was not for a deep reason but just because I was not aware of `npm link`.)
- The idea

[2016-12-09 10:22] Augustin82 commented on #1318
Thank you @karloespiritu for saving us hours of work!

[2016-12-09 10:50] mxstbr commented on #1318
Yes, we'll be releasing 3.4 shortly! Thanks for digging into this @karloespiritu, sorry for the troubles!

[2016-12-09 10:56] mxstbr commented on #1318
@gihrig @Dattaya can we hotfix this to `master`? Could you submit and merge a PR?

[2016-12-09 15:07] web2style commented on #400
@mxstbr I get the same error when using `redux-saga`. Maybe you can help me figure out what is the problem, because I can't understand where this error is coming from:

![sign in 2016-12-09 17-09-25](https://cloud.githubusercontent.com/assets/2179726/21051640/5a02113c-be32-11e6-8293-71e9db542326.png)

The exception is pointing to: `debugger:///VM1111`, so I don't have an idea how to debug it. Is t

[2016-12-09 15:14] jimmyheaddon commented on #847
@danielo515 - that worked a treat for me, running from Windows CLI instead of Git Bash.  On Windows 7, with Node v7.2.0 and npm v3.10.9 I had the same regex error as you from Git Bash.

[2016-12-09 17:15] gihrig commented on #1229
Resolved by #1275

Huge thanks @KarandikarMihir

[2016-12-09 17:15] #1229 closed

[2016-12-09 17:17] gihrig commented on #1292
Resolved by #1293

[2016-12-09 17:17] #1292 closed

[2016-12-09 17:39] gihrig commented on #760
Well I've had some thoughts...

With all the testing I've been doing, I would like to see these changes.

1. deprecate `npm run setup` I install RBP at least 3-4 time per week sometimes more. I never use `npm run setup`, just run `yarn`.
2. I don't like auto deleting things like `.git` and `clean` plus `templates`. I say "give me the power to shoot myself in the foot, but inform me of what's going

[2016-12-09 18:13] Geeman201 commented on #918
No worries! Have you had any luck fixing your issue @zamrq?

Did you see the updates in #1309

[2016-12-09 18:58] andylhansen opened #1325 "User gets white screen after update is deployed"
Whenever I push updates to my app, users that have already used it get a white screen, and they have to clear their cache in order for the update to work? Is there some way to fix this?

I've tried following the instructions at this page: https://github.com/NekR/offline-plugin/blob/master/docs/updates.md
but I'm still having users get a white screen. It seems to mostly affect safari, so it could h

[2016-12-09 20:12] jeremyadavis commented on #1286
k, I'll try to go back over the generator templates and clean up anything that seems amiss.
The only other item I've hit so far is that the saga tests need to have
``` /*eslint-disable redux-saga/yield-effects */ ```
added.

What's the most productive way to go about creating the PR? There are some template fixes staged for 3.4 release so I don't really want to work off master knowing merge confli

[2016-12-09 20:19] zamrq opened #1326 "[question] property destructuring pattern expected"
![qwqww](https://cloud.githubusercontent.com/assets/20111802/21063208/fb9f5708-be86-11e6-8c52-fd5f5912ff97.png)

how to enable  destructuring pattern in eslint config ?

i think its es6 features stage 3 and the boilerpate support all es6 syntax

thanks

[2016-12-09 20:23] zamrq commented on #1326
argg still proposal stage 3.
solved by experimentalObjectRestSpread

how to safely use this feature?

[2016-12-09 20:24] mxstbr commented on #760
That sounds reasonable to me @gihrig!

[2016-12-09 20:24] gihrig commented on #1286
Definitely work off of and submit to `dev` and have a look at open PRs to see what others might be working on.

[2016-12-09 20:24] mxstbr commented on #1325
@NekR?

[2016-12-09 20:26] mxstbr commented on #1326
Is that a bug on our side?

[2016-12-09 20:43] zamrq commented on #1326
sorry @mxstbr  to buzz you,
the problem is not from this great boilerpate. problem solved

anyone use vscode under 1.6
 set "javascript.validate.enable": false

[2016-12-09 20:43] #1326 closed

[2016-12-09 20:47] zamrq commented on #1309
I think its clear
please find which one is best for you, if it really wants to eliminate lodash, please replace with plain ES6 for each function which is used as is told by @gihrig

or otherwise use WebPack lodash plugin, it might be a bit lower the file size of your production level

[2016-12-09 20:56] #1320 closed

[2016-12-09 21:21] NekR commented on #1325
Safari doesn't support ServiceWorker and AppCache is disabled in `react-boilerplate` by default, so nothing could affect Safari from `offline-plugin` side here. @andylhansen what makes you feel it's `offline-plugin` related? What config of it you are using? What version?

[2016-12-10 10:53] danielo515 commented on #1274
Dear @samit4me, that explanation was very clarifying,thank you very much.
I have some diagrams in mind, I will try to post them here to see what do you think about them

[2016-12-10 14:09] zpl commented on #1325
Yesterday I had exactly same problem - just after upgrading react-boilerplate there is "white page" in production build. (dev working without any problems)

after some time of debugging I found a problem: **react-loader-advanced**

If I commented it out - everything works again...

you can reproduce this error:

git clone git@github.com:mxstbr/react-boilerplate
npm run setup
npm install react-load

[2016-12-10 15:40] gihrig commented on #1231
Resolved in #1327.

Closing.

[2016-12-10 15:40] #1231 closed

[2016-12-10 19:56] zamrq opened #1330 "[Questions] about jsx-control-statements"
anyone used
https://github.com/AlexGilleran/jsx-control-statements for control statement ?

ist work with enzime chai ?

[2016-12-10 20:39] lvnr commented on #255
Same here - webpack rebuilds, the browser won't refresh.

[2016-12-10 23:06] dholbrook86 commented on #255
Just did a fresh install (twice), updated node and npm to be latest version, ran the example app and it's not hot reloading. Getting the following modules could not be updated error.

[2016-12-10 23:16] 6pm opened #1332 "Build speed improvements"
I use pc with intel i3 4gen, SSD with 500 read/write Mb/s. After I change some code into clean boilerplate, project rebuilds 1.5s. I think it's very long time.
How to accelerate this process?

[2016-12-11 01:55] gihrig commented on #1232
Resolved by #1328

[2016-12-11 01:55] #1232 closed

[2016-12-11 03:16] gihrig commented on #255
This is, unfortunately a known issue:

Hot module reloading does not work with ['function'](https://github.com/mxstbr/react-boilerplate/issues/452#issuecomment-223280275) or ['pureComponent'](https://github.com/mxstbr/react-boilerplate/issues/1220#issuecomment-260356092) based components.

If hot reloading is really important to you, I suggest as a workaround, that you use `React.Component`, even

[2016-12-11 03:42] dholbrook86 commented on #255
Thanks for the quick reply. I was pulling my hair out and I even had some friends pull it down to try and get it working. Some said they were able to get HMR working despite the known bug.

[2016-12-11 04:13] gihrig commented on #1231
A better solution. Handles the problems and guides the user (dev).

[code]

[2016-12-11 09:22] DJTB commented on #1305
https://medium.com/@ericclemmons/react-event-preventdefault-78c28c950e46

TL:DR; React binds event handlers to the document root, so the preventDefault() is being called _after_ the event has already bubbled to the top. This is unrelated to react-boiler-plate.

[2016-12-11 09:48] #1305 closed

[2016-12-11 09:48] mxstbr commented on #1305
Thanks @DJTB!

[2016-12-11 20:22] sublimeye commented on #1278
When I run `npm run setup` I has the same issue. Although both `yarn install` and `npm i` finish successfully.

yarn v0.17.10
node v7.0.0
npm 3.10.8

[2016-12-11 20:30] gihrig commented on #1278
How about after installing with `yarn`? Can you successfully run:
`npm start`?

What about
`npm run start:production`?

The only thing `npm run setup` gets you over just `yarn` is a clean git repo, which you can do for yourself. (delete `.git` and `git init`)

[2016-12-11 20:55] sublimeye commented on #1278
Yes, I'm able to run `npm start`

The problem seems to lead into webpack.dll build run by:
`exec('cross-env BUILDING_DLL=true webpack --display-chunks --color --config internals/webpack/webpack.dll.babel.js');`

[2016-12-11 21:34] #1309 closed

[2016-12-11 21:41] samit4me opened #1335 "mozjpeg failing on OS X / macOS and possibly others"
`mozjpeg` is a dependency of `image-webpack-loader@3.0.0`!

The problem is that `mozjpeg` appears to have some environmental dependencies that doen't exist by default on OS X / macOS, see [issue here](https://github.com/tcoopman/image-webpack-loader/issues/49).

The "solution" is to use `image-webpack-loader@2.0.0` as it uses `jpegtran` instead of `mozjpeg`.  `image-webpack-loader` made the switch

[2016-12-11 22:10] andykenward commented on #1335
I found that i had to install `libpng` to solve this issue on macOS `10.12.1`

If you have brew
`brew install libpng`

[2016-12-11 22:15] gihrig commented on #1335
As covered in [#1322 comment](https://github.com/mxstbr/react-boilerplate/pull/1322#issuecomment-266267339) this error is found on some OS X installations, it does not seem to be version specific.

As an interim solution I have added to the dependency update notes that RBP will remain at `image-webpack-loader@2.0.0` until the upstream issue is resolved.

[2016-12-11 23:42] samit4me commented on #1335
Thanks @andykenward , I will try that tonight. Even if this does work, I'm not sure requiring people install stuff outside of (Yarn / npm) is a great solution!

[2016-12-11 23:45] samit4me commented on #1309
Did you close this on purpose? Anything to reduce filesize seems like a good enhancement!

[2016-12-12 00:07] juanda99 opened #1336 "dllplugin webpack configuration"
I have just an idea about how webpack dllplugin works. It worked ok on my project, I executed npm run build:dll with no errors.
However I try to put my backend api inside the project so it's easier to run&test. I thought of a separate folder for my server code (just a backend api), and the same package.json for the app and my server api.

However when I install for example just a express middlewar

[2016-12-12 01:01] andylhansen commented on #1325
I'm using version 3.1.0 of the react boilerplate.
It could be the lack of offline-plugin support is causing the issue.
I am using the boilerplate's built in production server. Perhaps the server is telling the browser to cache the files for too long, or is returning an improper 304 code?
Before I added the service worker auto-reload code that I mentioned, both safari and chrome would get the blank

[2016-12-12 05:20] santaclauze commented on #1314
No Worries!:)

[2016-12-12 05:36] zamrq opened #1337 "[Discussion] getstorybook.io"
I am aware of the contributors have tried to change the karma becomes jest aka super jasmine.
thank you very much for this. Unit testing is becoming more efficient, with a jest, and enzime mount.

What do you think if one day we are adding interactive testing  features like **getstorybook.io.**
I think it would be fun and not boring when creating a testing scenario

if there is a user here who are

[2016-12-12 09:02] samit4me commented on #1335
I can confirm that `brew install libpng` has resolved the problem, thanks @andykenward!

Now to decide if that is an acceptable solution OR do we use v2 until something upstream changes?

[2016-12-12 09:06] #1257 closed

[2016-12-12 15:42] gihrig commented on #1335
I totally agree. To say (document) in `gotchas.md` Mac OS: This project _may_ require you to install libpng:

[code]

Seems rather specialized considering that RBP is not graphics focused.

I vote for holding image-webpack-loader@2.0.0 until the upstream issue is resolved.

[2016-12-12 17:07] WhatIfWeDigDeeper commented on #1103
Any estimate on when this will get merged in? @mxstbr  We wanted to start using react-boilerplate, but SSR is a must have for us.  Thanks!

[2016-12-12 17:11] mathieumg commented on #1103
@WhatIfWeDigDeeper If you look at #1236 you can see there was activity a few hours ago.

[2016-12-12 17:22] WhatIfWeDigDeeper commented on #1103
Thanks for the update.

[2016-12-12 17:29] julianorafael opened #1339 "SyntaxError: 'import' and 'export' may only appear at the top level"
When using the recommended syntax to write the actions functions, I get an error when importing the functions on the index file of the container.

Here is how I wrote the functions on actions.js
[code]

Here is the import on the index.js file
[code]

When I run `npm start` I get the following error `SyntaxError: 'import' and 'export' may only appear at the top level`.

Am I doing something wrong?

[2016-12-12 19:13] julianorafael commented on #1339
Well, it's embarassing but in the end it was a missing curly braces that was causing the problem.

[2016-12-12 19:13] #1339 closed

[2016-12-12 21:03] gihrig commented on #1339
Happens to the best of us 😃  Too bad the error message was not more helpful..

[2016-12-13 02:04] jeanmichelcote opened #1340 "How to load local font files (otf, ttf, woff, etc)"
## Description

Using latest version of React-Boilerplate,  can't load local fonts:
`You may need an appropriate loader to handle this file type.`

Its a `ttf` type loaded in `container/App/styles.css` like so:
[code]

Loader is :
[code]

Anybody has any solution for this?

[2016-12-13 08:17] samit4me commented on #1335
@gihrig You seem to handle all the dependencies around here, how would you like to handle this?

I assume we go back to v2 and then check on the upstream progress each time the deps are updated?

[2016-12-13 08:29] DJTB commented on #1340
I think the file loader is only looking for imports in js files (not within css files). I could be wrong about this though!

One solution using styled components would end up as:

In `global-styles.js`
[code]

[2016-12-13 08:31] samit4me commented on #1340
Hi @jacobhamblin, as far as I am aware the latest version uses `styled-component` and no longer imports css files.

I have not tried what you are explaining, but I did notice that it looks like you can include fonts in the  [index.html](https://github.com/mxstbr/react-boilerplate/blob/master/app/index.html) file.

After a quick google there seems to be many issues surrounding @font-face + css-modu

[2016-12-13 08:46] samit4me commented on #1340
Great solution @DJTB, I just tested that in the latest `dev` branch with `Bodoni Ornaments.tff` which I found on my mac and it worked great! The only thing I did was copy the font into the app directory and modify `/app/global-styles.js` to look like the following:

[code]
And this is what I got:
<img width="718" alt="screen shot 2016-12-13 at 6 39 16 pm" src="https://cloud.githubusercontent.com/a

[2016-12-13 08:56] samit4me commented on #1332
Hi @6pm thanks for the details, did you know of any setups that run faster, maybe we could take a look to find out how. I personally thought 1ish seconds is quite fast.

[2016-12-13 09:06] DJTB commented on #1340
Just to confirm - you didn't need to import the font before injectGlobal?
Or simply used `src: url('./Bodoni Ornaments.ttf') format('truetype');` in injectGlobal and file loader replaced the path anyway?

[2016-12-13 10:14] mxstbr commented on #1336
@datapimp any ideas here?

[2016-12-13 10:16] mxstbr commented on #1337
I don't think we'll add storybook by default as the integration is very quick and not everybody needs it. Thusly, the value of us adding it by default isn't very high and will annoy more people than it'll please.

Thanks for contributing!

[2016-12-13 10:16] #1337 closed

[2016-12-13 10:18] mxstbr commented on #1103
**Please use the PR branch and let us know where it breaks** so we can fix it before releasing it!

The one reason I haven't merged the PR yet is that I don't know if it works for everything. The only way to find that out is by having people use it! So please use the PR branch by @tomazy and let us know how it goes!

[2016-12-13 10:20] mxstbr commented on #1335
Yes, that sounds like the way it'll have to go! Thanks for digging in everybody, would appreciate a PR pinning this to v2!

[2016-12-13 10:28] juanda99 commented on #1336
Everything related to server side can't go to dll plugin? Is it the reason? So if I want to combine backend and frontend using just one boilerplate I should start adding modules to the exclude array?

[2016-12-13 10:32] juanda99 opened #1341 "Remove duplicated code for dllconfig"
It seems to me that code for webpack dllPlugin is duplicated in package.json and internals/webpack/config.js. It takes info from package.json and if not exists, it goes to the second one.

Couldn't we remove it from package.json, as this file is quite large? Do I miss something?